<div class="nav-bar-container text-center">
  <nav class="navbar navbar-expand-lg navbar-light t mobile-nav">
    <img
      src="../../../../assets/img/logo.png"
      routerLink="/"
      width="150px"
      class="img-fluid navbar-brand"
    />
    <button class="navbar-toggler" (click)="openOrCloseMenu()" type="button">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
  </nav>
  <nav class="navbar navbar-expand-lg">
    <div class="row collapse navbar-collapse" id="navbarNav">
      <div class="col">
        <img
          src="../../../../assets/img/logo.png"
          width="150px"
          class="logo"
          routerLink="/"
        />
      </div>
      <div class="col-sm-3">
        <form [formGroup]="searchForm">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Pretrazite ID, opštinu/mesto</mat-label>
            <input
              type="text"
              id="search"
              [(ngModel)]="searchText"
              matInput
              formControlName="search"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option disabled *ngIf="listOfRealEstates.length === 0">
                <mat-spinner
                  #spinner
                  *ngIf="searchText.length > 2 && listOfRealEstates.length === 0"
                  diameter="25"
                ></mat-spinner>
              </mat-option>
              <mat-option
                *ngFor="let realEstate of listOfRealEstates"
                [value]="realEstate.name"
                (click)="navigateToEstate(realEstate.id)"
              >
                <div class="row">
                  <div class="col-2" *ngIf="realEstate.medias.length > 0">
                    <img
                      [src]="URL_PREFIX + '/' + realEstate.medias[0].uri"
                      width="50px"
                      height="30px"
                    />
                  </div>
                  <div class="col-10">
                    <h5 class="h5-name-opt">{{ realEstate.name }}</h5>
                  </div>
                </div>
                <mat-divider></mat-divider>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="col-sm">
        <button
          mat-button
          (click)="searchOnFilterPage()"
          style="width: 100%; margin-top: 1em"
          class="border-btn"
        >
          Pretražite
        </button>
      </div>
      <div class="col-sm hidden-on-tablet">
        <h4 class="nav-link-h4" (click)="searchOnRent()">izdavanje</h4>
      </div>
      <div class="col-sm hidden-on-tablet">
        <h4 class="nav-link-h4" (click)="searchOnSell()">prodaja</h4>
      </div>
      <div class="col-sm hidden-on-tablet">
        <h4 class="nav-link-h4" (click)="openAddOfferDialog()">
          ponudite nekretninu
        </h4>
      </div>
      <div class="col-sm hidden-on-desktop-and-mobile">
        <h4 class="nav-link-h4" [matMenuTriggerFor]="matTabletMenu">više</h4>
        <mat-menu #matTabletMenu="matMenu">
          <button mat-menu-item (click)="searchOnRent()">izdavanje</button>
          <button mat-menu-item (click)="searchOnSell()">prodaja</button>
          <button mat-menu-item (click)="openAddOfferDialog()">ponudi</button>
        </mat-menu>
      </div>
      <div class="col-sm">
        <h4 [matMenuTriggerFor]="menu" class="nav-link-h4">info</h4>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/kontakt">Kontakt</button>
          <button mat-menu-item routerLink="/about">O nama</button>
          <button mat-menu-item routerLink="/faq">
            Često postavljana pitanja
          </button>
          <button mat-menu-item routerLink="/uslovi">
            Opšti uslovi poslovanja
          </button>
          <button mat-menu-item routerLink="/pravilnik-privatnosti">
            Pravilnik privatnosti
          </button>
          <button mat-menu-item routerLink="/cenovnik">Cenovnik</button>
        </mat-menu>
      </div>
      <div class="col menu-col"></div>
    </div>
  </nav>
</div>
