@use "src/styles"
@import "src/responsive"
.nav-bar-container
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
  background-color: white
  border-radius: 18px
.nav-link-h4
  text-transform: uppercase
  font-weight: bolder
  margin-top: 20%
  padding: .5em
  cursor: pointer
  -webkit-transition: .3s linear
mat-label
  font-weight: lighter

mat-form-field
  margin-top: 5%
  width: 100%

.nav-link-h4:hover
  background-color: styles.$default-black
  border-radius: 18px
  color: styles.$light-red
  transition: .5s ease

a
  color: styles.$main-red
  background-color: styles.$default-black
mat-spinner
  margin: 1em auto
img
  cursor: pointer

.menu-col
  display: none

.autocomplete-h4
  font-size: 16px

.h5-name-opt
  padding-top: 1.5em

h5
  line-height: 2px

.mobile-nav
  display: none

mat-form-field
  margin-top: 2em

mat-menu
  button
    font-weight: bold

i
  -webkit-transition: .2s ease-in

@media #{$medium-and-down}
  .nav-bar-container
    padding: 1em
  mat-form-field
    margin-top: .5em
  .container
    padding: 2em 2em 0 2em
  .mobile-nav
    display: flex
  .logo
    display: none

  .navbar-brand
    width: 100px

    nav
      opacity: 1 !important

  .navbar-toggler
    background: transparent !important
    font-size: 30px
    border: 0 !important
  .menu-col
    text-align: right !important
    padding-top: 2em
    display: block

  mat-icon
    width: 40px
    height: 40px
    font-size: 40px

@media (-webkit-device-pixel-ratio: 1.25)
  .nav-bar-container
    zoom: .9

@media (-webkit-device-pixel-ratio: 1.5)
  .nav-bar-container
    zoom: .6

@media (-webkit-device-pixel-ratio: 1.75)
  .nav-bar-container
    zoom: .5

@media screen and (min-width: 2049px)
  .nav-bar-container
    zoom: 2
  ::ng-deep.cdk-overlay-connected-position-bounding-box
    zoom: 2 !important

.hidden-on-desktop-and-mobile
  display: none

@media screen and (min-width: 815px) and (min-height: 1280px)
  .hidden-on-desktop-and-mobile
    display: block

  .hidden-on-tablet
    display: none

@media screen and (max-width: 600px)
  .hidden-on-tablet
    display: block

@media screen and (min-width: 1100px)
  .hidden-on-tablet
    display: block
