<div #priceList>
  <div class="navbar-wrapper">
    <app-navbar></app-navbar>
  </div>
  <div class="custom-container text-center">
    <img
      class="img-fluid"
      src="../../../../../assets/img/under-construction.jpg"
    />
    <h1 class="huge-h1">STRANICA U PRIPREMI</h1>
  </div>
  <app-scroll-to-top-button [element]="priceList"></app-scroll-to-top-button>

  <app-footer></app-footer>
</div>
