<div class="content">
  <div class="row">
    <div class="col-sm">
      <h1>Pregled nekrentina</h1>
    </div>
    <div class="col-sm text-right">
      <button mat-button class="default-btn" (click)="openAddEstateDialog()">
        Dodaj nekretninu
      </button>
    </div>
  </div>
  <div class="real-estate-container">
    <div class="text-right option-div" *ngIf="listOfRealEstates.length > 0">
      <h4 *ngIf="listOfRealEstates.length > 0">
        Ukupno:
        <span style="color: #ea0601">{{ (paginatorService.behaviorSubjectPageFilter|async).dataCount }}</span>
        nekretnine
      </h4>
      <app-real-real-estate-filter-page-header-tool
        [realEstateListSize]="listOfRealEstates.length"
        (openAdvancedSearchDialog)="openAdvancedSearchDialog()"
        (sortByDateDown)="sortByDateDown()"
        (sortByDateUp)="sortByDateUp()"
        (sortByHighestPrice)="sortByHighestPrice()"
        (sortByLowestPrice)="sortByLowestPrice()"
      >
      </app-real-real-estate-filter-page-header-tool>
    </div>
    <form [formGroup]="searchForm">
      <mat-form-field appearance="outline">
        <mat-label
          >Pretragu možete vršiti po #id nekretnine, nazivu, adresi, vlasniku i
          kontakt osobi
        </mat-label>
        <label>
          <input
            matInput
            formControlName="search"
            [(ngModel)]="searchText"
          />
        </label>
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </form>
    <mat-spinner #spinner></mat-spinner>
    <div #emptyList></div>
    <app-custom-paginator
      (onPageChange)="getAllEstates($event)"
    >
    </app-custom-paginator>
    <app-real-estate-client-card
      [flex]="3"
      (reloadEstate)="getAllEstates(pageFilter.currentPage)"
      [listOfRealEstates]="listOfRealEstates"
    >
    </app-real-estate-client-card>
  </div>
</div>
