@use "src/styles"

.col-sm
  padding-left: 0 !important

.col-sm-3
  padding-left: 0 !important

.light-btn
  background-color: styles.$most-light-red
  color: styles.$light-red
.option-div
  margin-bottom: 1em
mat-spinner
  margin-left: 30%
  margin-top: 10%
  position: absolute
  z-index: 3

i
  color: styles.$main-red

mat-form-field
  width: 100%

.real-estate-container
  padding: 5em

h4
  line-height: 2px

.real-estate-item
  cursor: pointer
  margin: 3em 0

.real-estate-item:hover
  -webkit-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  transition: .5s

.edit-menu-btn
  color: styles.$default-black
  font-weight: bold

.delete-menu-btn
  color: styles.$light-red
  font-weight: bold

  mat-icon
    color: styles.$light-red

.content-col
  .red-h3
    padding: .5em

    margin: 1em .5em
    background-color: styles.$most-light-red
    color: styles.$light-red

  .location
    color: #999

  .price, .header, .location
    line-height: 2px

  .fa-eur
    color: styles.$success-green

  .price
    color: styles.$success-green
    font-weight: bold


  button
    margin: 1em 1em 2em 1em

  .orange-h3
    padding: .5em
    margin: 1em .5em
    background-color: styles.$light-orange
    color: styles.$orange

  .header
    font-weight: bold

.real-estate-row-card
  margin: 2em 1em
  border-radius: 8px

  img
    padding: 1em
    -webkit-transition: 0.5s linear
    border-radius: 35px
    cursor: pointer

  img:hover
    transition: .4s
    -webkit-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
    -moz-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
    box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
    padding: 0

  -webkit-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  box-shadow: -2px 17px 46px -34px rgba(0, 0, 0, 0.69)

.inline
  display: inline-flex
  width: 100%

.border-btn-orange
  border: 1px solid styles.$success-green
  color: styles.$success-green

.small-border-btn
  width: 10%
