@use "../../../../../styles"
@import "../../../../../responsive"

.header
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7091211484593838) 51%, rgba(255, 255, 255, 1) 100%), url('../../../../../assets/img/jason-dent-w3eFhqXjkZE-unsplash.jpg')
  background-position: center
  text-align: left !important
  color: styles.$default-black
  background-size: cover
  min-height: 50vh
  height: auto
  h1
    padding-top: 15%
    color: #999
    line-height: 1em

mat-expansion-panel-header
  border: 1px solid #fff

.container
  padding: 5em 10em


@media #{$medium-and-down}
  .header
    height: auto
    .huge-h1
      padding-top: 1em !important
      font-size: 1.5em
  .container
    padding: 5em 1em !important

@media screen and (min-width: 2049px)
  .container
    zoom: 2
  p
    line-height: normal
