<div #aboutTerms>
  <div class="header">
    <div class="navbar-wrapper">
      <app-navbar></app-navbar>
    </div>
    <div class="container text-center">
      <h1 class="huge-h1">Opšti uslovi poslovanja</h1>
    </div>
  </div>
  <div class="container">
    <h1 class="text-center">I OPŠTE ODREDBE</h1>
    <p>
      Ovim Opštim uslovima poslovanja “FRIGO 2000 EXPORT-IMPORT DOO MLADENOVAC”-
      OGRANAK FRIGO NEKRETNINE Kralja Petra Prvog 204, 11400 Mladenovac, matični
      br. 17235389 i PIB: 101279644, upisanog u Registar posrednika pod R.br.
      505, (u daljem tekstu: „Posrednik”) uređuju se opis poslova koje je
      posrednik dužan da obavi u zamenu za posredničku naknadu, iznos
      posredničke naknade, odnosno način određivanja iznosa posredničke naknade,
      kao i ostala pitanja međusobnih odnosa Posrednika u prometu nepokretnosti
      i fizičkog ili pravnog lica, koji sa Posrednikom zaključuje Ugovor o
      posredovanju u cilju zaključenja određenog pravnog posla koji se tiče
      prometa (kupoprodaje, razmene i slično) ili zakupa nepokretnosti (u daljem
      tekstu: „Nalogodavac”).
    </p>
    <p>
      Posredovanje se vrši na osnovu Ugovora o posredovanju u prometu, odnosno
      zakupu nepokretnosti, koji zaključuju Nalogodavac i Posrednik.
    </p>
    <p>
      Nalogodavac može imati zaključene Ugovore o posredovanju sa više
      Posrednika istovremeno (osim u slučaju ekskluzivnog posredovanja).
    </p>

    <p>
      Kupac/zakupac u svojstvu Nalogodavca je obavezan da posredničku naknadu
      isplati Posredniku koji mu je prvi omogućio razgledanje predmetne
      nepokretnosti, odnosno koji ga je prvi upoznao sa predmetnom
      nepokretnošću. U slučaju da je Nalogodavac (kupac/zakupac) razgledao
      predmetnu nepokretnost (posredstvom drugog posrednika ili sam) pre nego
      što mu je Posrednik Agencija za nekretnine “Frigo nekretnine” istu
      pokazao, obavezan je da o tome upozna Posrednika, kako se ne bi ponovilo
      razgledanje, te kako bi se izbegli potencijalni sporovi između Nalogodavca
      i Posrednika i posrednika međusobno, a u slučaju da to ne učini, smatraće
      se da je nepokretnost prvi put razgledao posredstvom Posrednika Agencije
      za nekretnine “Frigo nekretnine”.
    </p>
    <p>
      Prodavac/zakupodavac u svojstvu Nalogodavca je obavezan da posredničku
      naknadu isplati Posredniku koji ga je prvi doveo u vezu sa potencijalnim
      kupcem/zakupcem. U slučaju da Posrednik dovede u vezu sa Nalogodavcem
      (prodavcem/zakupodavcem) lice koje je već razgledalo predmetnu
      nepokretnost, obavezan je da o tome upozna Posrednika, kako bi se izbegli
      potencijalni sporovi između Nalogodavca i Posrednika i posrednika
      međusobno, a u slučaju da to ne učini, smatraće se da je Nalogodavac sa
      potencijalnim kupcem/zakupcem, prvi put doveden u vezu posredstvom
      Agencije za nekretnine “Frigo nekretnine”.
    </p>
    <p>
      Kupac/zakupac u svojstvu Nalogodavca je obavezan da neposredno pre
      razgledanja nepokretnosti potpiše posredniku Potvrdu o gledanju
      nepokretnosti, u kojoj potvrđuje da je predmetnu nepokretnost prvi put
      gledao posredstvom Posrednika.
    </p>
    <p>
      U slučaju da kupac/zakupac odbije da potpiše Potvrdu iz prethodnog stava,
      Posrednik nije obavezan da mu predmetnu nepokretnost pokaže. U slučaju da
      je Posrednik pokazao predmetnu nepokretnost kupcu/zakupcu i pored
      odbijanja da potpište Potvrdu o gledanju, pa kupac/zakupac ili sa njim
      povezana lica navedena u delu II, poslednja alineja, ovih Opštih uslova
      poslovanja, zaključi Ugovor o prometu/zakupu predmetne nepokretnosti,
      činjenica da je kupca/zakupca u vezu sa prodavcem/zakupodavcem doveo
      posrednik će se dokazivati drugim dokaznim sredstvima – svedocima, pisanom
      ili elektronskom dokumentacijom, sms porukama i sl.
    </p>
    <h1 class="text-center">II FORMIRANJE PONUDE NEPOKRETNOSTI</h1>
    <p>
      Posrednik formira Ponudu nepokretnosti na osnovu podataka koje je dobio od
      Nalogodavca-vlasnika nepokretnosti koja se prometuje, odnosno izdaje u
      zakup i neposrednim opažanjem prilikom pregleda nepokretnosti.
    </p>
    <p>
      Nalogodavac- vlasnik nepokretnosti koja se prometuje odnosno izdaje u
      zakup pod punom krivičnom i materijalnom odgovornošću potpisom na ugovoru
      o posredovanju u prometu ili zakupu nepokretnosti garantuje da su podaci
      koje je dao Posredniku, a koji se odnose na predmetnu nepokretnost i
      stvarna prava na istoj, u potpunosti istiniti. Nalogodavac je obavezan da
      Posredniku u cilju formiranja ponude preda imovinsko-pravnu dokumentaciju
      o predmetnoj nepokretnosti i svoje osnovne lične podatke.
    </p>
    <p>
      Posrednik se obavezuje da čuva sve podatke dobijene od Nalogodavca, uz
      zabranu prenošenja ili neovlašćenog upoznavanja sa istima od strane trećih
      lica.
    </p>
    <h1 class="text-center">III ZAKLJUČIVANJE UGOVORA O POSREDOVANJU</h1>
    <p>
      Posredovanje se vrši na osnovu Ugovora o posredovanju u prodaji, kupovini,
      odnosno zakupu nepokretnosti (u daljem tekstu: „Ugovor o posredovanju“),
      zaključenog u pisanoj ili elektronskoj formi između Nalogodavca i
      Posrednika kojim se uređuju njihova međusobna prava i obaveze, a na osnovu
      Zakona o posredovanju u prometu i zakupu nepokretnosti (u daljem tekstu:
      „Zakon“) i ovih Opštih uslova poslovanja.
    </p>
    <p>
      Radi izbegavanja svake sumnje, Evidencija o gledanju nepokretnosti
      potpisana od strane Nalogodavca, koja sadrži sve bitne elemente Ugovora o
      posredovanju u skladu sa Zakonom, ima pravno dejstvo Ugovora o
      posredovanju, kao saglasnost volja Posrednika i Nalogodavca, pri čemu se
      ovi Opšti uslovi poslovanja imaju smatrati sastavnim delom svakog ugovora,
      te Nalogodavac potpisivanjem Ugovora o posredovanju ili potpisivanjem
      Evidencije o gledanju nepokretnosti prihvata i ove Opšte uslove
      poslovanja.
    </p>
    <h1 class="text-center">IV OBAVEZE POSREDNIKA</h1>
    <p>
      Posrednik se, u zavisnosti od vrste Ugovora o posredovanju i u skladu sa
      njegovim odredbama, obavezuje da će obavljati sledeće poslove:
    </p>
    <ul>
      <li>
        Nastojati da nađe i dovede u vezu sa Nalogodavcem lice koje bi sa njim
        pregovaralo o zaključenju, odnosno zaključilo ugovor o prometu ili
        zakupu nepokretnosti;
      </li>
      <li>
        Dati Nalogodavcu objektivno mišljenje o ceni nepokretnosti ili iznosu
        zakupnine nepokretnosti u skladu sa njenim karakteristikama, prilikama
        na tržištu, kao i drugim relevantnim okolnostima;
      </li>
      <li>
        Izvršiti uvid u isprave kojima se dokazuje pravo svojine ili drugo
        stvarno pravo na nepokretnosti čiji promet, odnosno zakup je predmet
        posredovanja, i upozoriti Nalogodavca na moguće rizike u vezi sa upisom
        predmetne nepokretnosti u registre nepokretnosti, upisana prava, odnosno
        terete na predmetnoj nepokretnosti, postojanje prava preče kupovine i
        ograničenja u pravnom prometu u skladu sa posebnim propisima;
      </li>
      <li>
        Obaviti potrebne radnje radi prezentacije nepokretnosti na tržištu,
        postaviti oglas u vezi sa prometom, odnosno zakupom nepokretnosti na
        odgovarajući način i izvršiti sve druge radnje dogovorene Ugovorom o
        posredovanju koje eventualno prelaze uobičajenu prezentaciju, a za šta
        ima pravo na posebne, unapred iskazane troškove, ukoliko su sa
        Nalogodavcem ugovoreni;
      </li>
      <li>
        Svakom zainteresovanom kupcu/zakupcu omogućiti gledanje nepokretnosti,
        sa ili bez prisustva Nalogodavca (prodavca/zakupodavca) a uz prethodni
        dogovor sa Nalogodavcem;
      </li>
      <li>
        Obavestiti Nalogodavca (kupca/zakupca), ukoliko on to prethodno zahteva,
        o svakoj novoj nepokretnosti u ponudi koja odgovara kriterijumima
        Nalogodavca, i omogućiti mu gledanje nepokretnosti;
      </li>
      <li>
        Posredovati u pregovorima i nastojati da dođe do zaključenja
        odgovarajućeg ugovora;
      </li>
      <li>
        Čuvati podatke o ličnosti Nalogodavca i čuvati kao poslovnu tajnu
        podatke o nepokretnosti u vezi sa čijim prometom, odnosno zakupom
        posreduje, ili u vezi sa tom nepokretnosti ili sa poslom za koji
        posreduje, osim onih koje su neophodne da budu objavljene radi izvršenja
        Ugovora o posredovanju.
      </li>
      <li>
        Obavestiti Nalogodavca o svim okolnostima od značaja za predmetni posao
        koje su mu poznate ili mu moraju biti poznate.
      </li>
      <li>
        Čuvati podatke o ličnosti Nalogodavca, a po pisanom nalogu Nalogodavca,
        kao i da čuva kao poslovnu tajnu podatke o nepokretnosti, u vezi sa
        čijim prometom/zakupom posreduje, ili u vezi sa tom nepokretnosti, ili o
        poslu za koji posreduje
      </li>
      <li>
        Prisustvovati kod zaključenja pravnog posla (Predugovora i Ugovora)
      </li>
      <li>Prisustvovati primopredaji nepokretnosti;</li>
      <li>
        Obezbediti o svom trošku svu potrebnu profesionalnu stručnu pomoće preko
        ovlašćenog advokata, vezanu za izradu Predugovora, Ugovora i ostale
        potrebne dokumentacije;
      </li>
      <li>
        Organizovati i koordinirati sve neophodne aktivnosti u vezi
        overe-solemnizacije Predugovora i Ugovora o kupoprodaji, kao i transfer
        novca preko računa kod poslovnih banaka
      </li>
      <li>Voditi evidenciju o posredovanju i o potposredovanju.</li>
    </ul>
    <h1 class="text-center">V OBAVEZE NALOGODAVCA</h1>
    <p>
      Nalogodavac se, u zavisnosti od vrste Ugovora o posredovanju i u skladu sa
      njegovim odredbama, obavezuje da će:
    </p>
    <ul>
      <li>
        Obavestiti Posrednika o svim okolnostima koje su od značaja za
        obavljanje posredovanja;
      </li>
      <li>
        Pružiti Posredniku informacije o svim karakteristikama nepokretnosti i
        njenom imovinsko-pravnom statusu;
      </li>
      <li>
        Dati Posredniku na uvid originale isprava koje dokazuju njegovo pravo na
        nepokretnosti koja je predmet prometa ili zakupa, odnosno upozoriti
        Posrednika na sve upisane i neupisane terete koji postoje na
        nepokretnosti;
      </li>
      <li>
        Dati Posredniku na uvid originale isprava koje dokazuju njegovo pravo na
        nepokretnosti koja je predmet prometa ili zakupa, odnosno upozoriti
        Posrednika na sve upisane i neupisane terete, zabaležbe il inerešene
        zahteve koji postoje na nepokretnosti;
      </li>
      <li>
        Posredniku prilikom zaključenja Ugovora o posredovanju predati
        fotokopiju lične karte (očitanu, ukoliko je ista čipovana) ili pasoša.
      </li>
      <li>
        Posrednika prilikom zaključenja Ugovora o posredovanju obavestiti o
        brojevima telefona i i adresi elektronske pošte koje koristi i preko
        kojih Posrednik prima informacije i instrukcije, i na koje šalje
        Nalogodavcu informacije potrebne za realizaciju ugovora;
      </li>
      <li>
        U slučaju bilo kakve izmene svojih kontakt podataka, obavestiti
        Posrednika o promenama bez odlaganja;
      </li>
      <li>
        Posredniku i licu zainteresovanom za zaključenje pravnog posla omogućiti
        razgledanje nepokretnosti, na dogovoreni način i u dogovoreno vreme (u
        slučaju da je Nalogodavac prodavac ili zakupodavac);
      </li>
      <li>
        Prisustvovati svakom zakazanom gledanju nepokretnosti, na dogovoreni
        način i u dogovoreno vreme, a ukoliko nije u mogućnosti da istom
        prisustvuje, dužan je Posrednika blagovremeno obavestiti o tome (u
        slučaju Nalogodavca kupca ili zakupca);
      </li>
      <li>
        Obavestiti Posrednika o svim bitnim podacima o nepokretnosti, što
        posebno uključuje tačne podatke o ceni, lokaciji, strukturi
        nepokretnosti i dr;
      </li>
      <li>
        Predati Posredniku overene kopije svih isprava kojima dokazuje pravo
        svojine na nepokretnosti koja je predmet posredovanja, prilikom
        zaključenja posredovanog pravnog posla - predugovora ili glavnog ugovora
        u vezi sa prometom ili zakupom nepokretnosti;
      </li>
      <li>
        Isplatiti Posredniku ugovorenu posredničku naknadu, i ako je to posebno
        ugovoreno, nadoknaditi Posredniku druge troškove nastale tokom
        posredovanja;
      </li>
      <li>
        Obavestiti Posrednika pisanim putem ili u elektronskoj formi o svim
        promenama u vezi sa posredovanim poslom, a posebno o promenama u vezi sa
        pravima na nepokretnosti, rokovima i cenom, a sve u roku od 24 časa od
        trenutka nastale promene;
      </li>
      <li>
        Odmah obavestiti Posrednika da je lice, koje je preko Posrednika gledalo
        nepokretnost (ili sa njim povezano lice) pokazalo interesovanje da bez
        Posrednika zaključi Ugovor/Predugovor o kupoprodaji nepokretnosti,
        Zakupu nepokretnosti, ili obavi neki drugi pravni posao koji je
        posledica rada Posrednika
      </li>
      <li>
        Blagovremeno obavestiti Posrednika o svakoj promeni ili odustanku od
        svojih naloga;
      </li>
    </ul>
    <p>
      Nalogodavac će Ugovorom o posredovanju ovlastiti Posrednika da od
      nadležnog javnog beležnika i ostalih nadležnih organa (Upravnika stambene
      zgrade, Poreske uprave, MUP-a i dr.) pribavi sve podatke o zaključenju
      posredovanih pravnih poslova, u svrhu zaštite prava i pravnih interesa
      Posrednika iz ugovora.
    </p>
    <p>
      U slučaju da do momenta raskida Ugovora o posredovanju nastane neka
      novčana obaveza Nalogodavca prema Posredniku, a da je Nalogodavac nije
      isplatio, Nalogodavac je dužan da je izmiri najkasnije do momenta raskida
      Ugovora.
    </p>
    <p>
      Ako Nalogodavac da nalog za posredovanje ili zaključi Ugovor o
      posredovanju protivno načelu savesnosti i poštenja, dužan je da nadoknadi
      troškove nastale tokom posredovanja, koji ne mogu biti veći od ugovorene
      posredničke naknade za posredovani posao, kako je precizirano Odeljkom VII
      ovih Opštih pravila.
    </p>
    <h1 class="text-center">VI EKSKLUZIVNO POSREDOVANJE</h1>
    <p>
      Nalogodavac se može obavezati izričitim ugovaranjem klauzule o
      ekskluzivnom posredovanju, da u ugovorenom roku neće angažovati drugog
      posrednika za posredovanje u vezi sa predmetnom nepokretnosti.
    </p>
    <p>
      Ako za vreme važenja klauzule o ekskluzivnom posredovanju Nalogodavac
      zaključi pravni posao u vezi sa nepokretnošću iz prerthodnog stava, za
      koji je posredovao drugi posrednik, dužan je da Posredniku sa kojim je
      ugovorio ekskluzivno posredovanje na ime naknade štete plati iznos
      ugovorene posredničke naknade.
    </p>
    <p>
      Posrednik je dužan da u Ugovoru o posredovanju posebno upozori Nalogodavca
      na značenje i pravne posledice klauzule o ekskluzivnom posredovanju.
    </p>

    <h1 class="text-center">VII PRAVO NA POSREDNIČKU NAKNADU</h1>

    <p>
      Posrednik stiče pravo na polovinu posredničke naknade u trenutku
      zaključenja Predugovora a ostatak pri zakljucenju Ugovora za koji je
      posredovao, osim ako Posrednik i Nalogodavac nisu ugovorili da se pravo na
      posredničku naknadu stiče u momentu zaključenja Ugovora za koji je
      posrednik posredovao.
    </p>
    <p>
      Iznos posredničke naknade, odnosno način određivanja iznosa posredničke
      naknade, kao i vrsta i visina troškova za dodatne usluge Posrednika,
      utvrđeni su Cenovnikom posredničkih usluga koji je sastavni deo ovih
      Opštih uslova poslovanja.
    </p>
    <p>
      Troškove pribavljanja potrebne dokumentacije kojom se dokazuje svojina na
      predmetnoj nepokretnosti (izvod iz Katastra i sl), a koja je potrebna za
      promet predmetne nepokretnosti snosi Nalogodavac, ako nije drugačije
      ugovoreno u Ugovoru o posredovanju.
    </p>
    <p>
      Posrednik može da ugovori pravo na naknadu dodatnih troškova nužnih za
      izvršenje naloga, bez obzira na uspeh posredovanja, i zatraži da mu se
      unapred plate sredstva za određene izdatke, cak i ako to nije izričito
      navedeno u Ugovoru o posredovanju.
    </p>
    <p>
      Posrednik ima pravo na punu posredničku naknadu za posredovani pravni
      posao ako bračni, odnosno vanbračni partner, njegov krvni srodnik u pravoj
      liniji, ili pobočnoj liniji, bez obzira na stepen srodstava, kao i njegov
      tazbinski srodnik i svako drugo lice povezano sa licem sa kojom je
      Posrednik doveo u vezu Nalogodavca, ili Nalogodavac zaključi posredovani
      pravni posao bez obaveštavanja Posrednika, u cilju izbegavanja plaćanja
      dugovane posredničke provizija. Povezanim licima će se, pored srodnika,
      smatrati i roditelji bračnog ili vanbračnog partnera, njegova braća i
      sestre, kao i pravno lice koje je u vlasništvu (suvlasništvu)
      potencijalnog kupca-zakupca, ili njegovih srodnika navedenih u ovom stavu,
      kao i lica koja su sa njim prisustvovala prezentaciji nepokretnosti.
    </p>
    <p>
      Ako nakon prestanka važenja Ugovora o posredovanju na osnovu otkaza
      Nalogodavca, a u roku ne dužem od mesec dana od dana prestanka važenja
      ugovora, Nalogodavac zaključi pravni posao koji je neposredna posledica
      Posrednikovog posredovanja pre prestanka važenja Ugovora o posredovanju,
      dužan je da posredniku plati ugovorenu posredničku nagradu u celini, osim
      ako Ugovorom o posredovanju nije drugačije ugovoreno.
    </p>
    <p>
      Ako pod uslovom i u roku iz prethodnog stava, Nalogodavac zaključi pravni
      posao koji je u značajnoj meri rezultat posrednikovog posredovanja pa i po
      prestanka važenja Ugovora o posredovanju, dužan je da plati Posredniku
      srazmernu posredničku naknadu, osim ako Ugovorom o posredovanju nije
      drugačije ugovoreno.
    </p>
    <p>
      Posrednik nije obavezan da vrati isplaćenu posredničku naknadu u slučaju
      raskida Predugovora ili Ugovora, odustajanja jedne od ugovornih strana i
      slično, osim ako Ugovorom o posredovanju nije drugačije ugovoreno.
    </p>

    <h1 class="text-center">VIII UGOVOR O POTPOSREDOVANJU</h1>
    <p>
      Posrednik može Ugovorom o potposredovanju preneti svoja prava i obaveze iz
      Ugovora o posredovanju, u celini ili delimično, na drugog posrednika, ako
      se Nalogodavac sa ovim izričito saglasio u Ugovoru o posredovanju.
    </p>
    <p>
      Ugovor o potposredovanju sadrži način i uslove prenosa prava i obaveza iz
      Ugovora o posredovanju, isplate posredničke naknade i otkaza ugovora.
    </p>
    <p>
      Posrednik je dužan da kopiju ugovora o potposredovanju preda Nalogodavcu u
      roku od tri dana od dana zaključenja tog ugovora.
    </p>

    <h1 class="text-center">
      IX SNIMANJE RAZGOVORA, POVERLJIVOST I AUTORSKA PRAVA
    </h1>
    <p>
      Potpisom na Ugovoru o posredovanju Nalogodavac daje saglasnost za snimanje
      telefonske konverzacije koju ima sa Posrednikom, u svrhu realizacije
      Ugovora.
    </p>
    <p>
      Svi podaci i informacije iz Ugovora o posredovanju, kao i drugi podaci i
      informacije koji se tiču načina i uspešnosti izvršavanja ugovora,
      predstavljaju poslovnu tajnu.
    </p>
    <p>
      Sve fotografije, video zapisi, tehnički crtež i tekstualni opis
      nepokretnosti, a koje sačini Posrednik, isključiva su intelektualna
      svojina Posrednika, te Nalogodavac ili bilo koja treća lica nemaju prava
      da iste objavljuju, koristite, umnožavaju i stavljaju u promet bez
      prethodne pisane saglasnosti Posrednika.
    </p>
    <h1 class="text-center">X ODGOVORNOST ZA ŠTETU</h1>
    <p>
      Posrednik u obavljanju posredovanja, odnosno drugih radnji u vezi sa
      poslom koji je predmet posredovanja, mora postupati sa pažnjom dobrog
      privrednika.
    </p>
    <p>
      Posrednik odgovara Nalogodavcu u skladu sa Zakonom, za štetu koja je
      nastala usled neispunjenja ugovornih obaveza preuzetih Ugovorom o
      posredovanju i obavezama navedenim u ovim Opštim uslovima poslovanja.
    </p>
    <p>
      Posrednik ne snosi odgovornost za izvršenje obaveza bilo koje od ugovornih
      strana u prometu, koje su međusobno preuzele u zaključenom Ugovoru
      (Predugovoru).
    </p>
    <p>
      Posrednik ne odgovara za kvalitet nepokretnosti koja je predmet prometa,
      niti za skrivene mane (osim u slučaju da mu je prodavac u pisanoj formi
      saopštio da nepokretnost ima skrivenu manu, a on tu informaciju prikrio od
      kupca).
    </p>
    <h1 class="text-center">XI PRESTANAK VAŽENJA UGOVORA O POSREDOVANJU</h1>
    <p>
      Ugovorom o posredovanju se utvrđuje period na koji se Ugovor zaključuje.
      Ako nije drugačije ugovoreno, smatraće se da je Ugovor zaključen na period
      od dve godine.
    </p>
    <p>
      Ugovor o posredovanju prestaje da proizvodi pravna dejstva zaključenjem
      pravnog posla za koji je posredovano, protekom roka na koji je zaključen
      (ako u Ugovoru o posredovanju nije drugačije ugovoreno), ili otkazom
      Nalogodavca koji se daje u pisanoj ili elektronskoj formi.
    </p>
    <p>
      Nalogodavac ima pravo da ugovor o posredovanju jednostrano raskine u
      svakom momentu , pod uslovom da predhodno izmiri sve svoje dospele obaveze
      prema posredniku.
    </p>
    <p>
      U slučaju da ga je posrednik doveo u vezu sa drugom stranom i da je
      izvesno da ce doci do pravnog posla radi koga je posredovanje izvrseno ,
      nalogodavac nema pravo jednostrano raskinuti ugovor i tako izbeći
      izmirenje svojih obaveza.
    </p>
    <p>
      Posrednik ima pravo da ovaj ugovor jednostrano raskine u svakom momentu, u
      slučaju da nalogodavac ne ispunjava svoje obaveze po ovom ugovoru.
    </p>
    <p>
      U slučaju eksluzivnog posredovanja , važiće odredbe zaključenog
      ekskluzivnog ugovora o posredovanju.
    </p>
    <h1 class="text-center">XII ZAVRŠNE ODREDBE</h1>
    <p>
      Na odnose Posrednika i Nalogodavca koji nisu regulisani Opštim uslovima
      poslovanja, drugim opštim aktom Posrednika ili Ugovorom o posredovanju,
      primenjivaće se odredbe Zakona o posredovanju u prometu i zakupu
      nepokretnosti, Zakona o prometu nepokretnosti, Zakona o obligacionim
      odnosima, Zakona o sprečavanju pranja novca i finansiranja terorizma, kao
      i drugih propisa Republike Srbije.
    </p>
    <p>
      Stupanjem na snagu ovih Opštih uslova psolovanja, prestaju da važe odredbe
      ranijih Opštih uslova poslovanja sa Cenovnikom.
    </p>
    <h2 class="text-center">CENOVNIK POSREDNIČKIH I DODATNIH USLUGA</h2>
    <p>
      Primenjuje se na opredljivanje posredničkih provizija za obavljeno
      posredovanje prilikom kupoprodaje, zamene i iznajmljivanja nekretnina
    </p>
    <p>
      1.)<b>KUPOPRODAJA</b> (provizija se naplaćuje u procentima od ukupnog
      postignutog iznosa kupoprodajne cene ili od poslednje oglašene cene)
    </p>
    <p>Cena usluge posredovanja određuje se na sledeći način:</p>
    <p>
      <b>PRODAJA</b> (provizija za posredovanje prilikom prodaje nekretnine,
      naplaćuje se od prodavca)
    </p>
    <p>
      Kada je Prodavac nepokretnosti Nalogodavac u poslu posredovanja u kome
      Agencija posreduje, osnovni iznos provizije je 2% od dogovorene cene.
    </p>
    <p>
      Iznos posredničke provizije u svakom slučaju ne može biti niži od 500,00
      EUR u dinarskoj protivvrednosti prema srednjem kursu NBS na dan isplate
    </p>
    <p>
      U slučaju da Prodavac kao Nalogodavac ne prijavi Posredniku kupoprodaju
      nepokretnosti, odnosno pristupi zaključenju ugovora o kupoprodaji
      nepokretnosti bez znanja Posrednika, biće dužan da plati pun iznos
      posredničke provizije u iznosu od 2 % od poslednje oglasne cene, odnosno
      one cene koja je utvrđena u Ugovoru o posredovanju, odnosno u Evidenciji o
      gledanju nepokretnosti sa kupcem, tako da istom ne može biti odobren
      popust.
    </p>
    <p>
      <b>KUPOVINA</b> (provizija za posredovanje prilikom kupovine nekretnine,
      naplaćuje se od kupca)
    </p>
    <p>
      Kada je Kupac nepokretnosti Nalogodavac u poslu posredovanja u kome
      Agencija posreduje, osnovni iznos provizije je 2% od dogovorene cene .
    </p>
    <p>
      Iznos posredničke provizije u svakom slučaju ne može biti niži od 500,00
      EUR u dinarskoj protivvrednosti prema srednjem kursu NBS na dan isplate.
    </p>
    <p>
      U slučaju da Kupac kao Nalogodavac, kojem je Posrednik omogućio
      razgledanje nepokretnosti, ne prijavi Posredniku kupoprodaju
      nepokretnosti, odnosno on ili lica povezana sa njim u smislu Odeljka VII
      Opštih uslova poslovanja pristupi zaključenju ugovora o kupoprodaji
      nepokretnosti bez znanja Posrednika, biće dužan da plati pun iznos
      posredničke provizije u iznosu od 2 % od poslednje oglasne cene, odnosno
      one cene koja je zapisana u Ugovoru o posredovanju, odnosno u Evidenciji o
      gledanju nepokretnosti sa kupcem, tako da istom ne može biti odobren
      popust.
    </p>
    <p>
      U slučaju potrebe dokazivanja iznosa oglasne cene nepokretnosti, Posrednik
      će nadležnom organu dostaviti ispravu u kojoj je navedena cena ili bilo
      koje štampano ili elektronsko izdanje oglašivača na kojem je izašao oglas
      sa predmetnom cenom.
    </p>
    <p>2.) <b>RAZMENA</b> (provizija se računa od svake strane u razmeni)</p>
    <ul>
      <li>
        2% (procenat se računa od tržišne vrednosti nepokretnosti koju je
        stranka stekla razmenom)
      </li>
    </ul>
    <p>3.) <b>ZAKUP</b></p>
    <p><b>Zakupodavac</b> (provizija se naplaćuje od zakupodavca)</p>
    <p>Procenat od mesečne zakupnine:</p>
    <ul>
      <li>
        50% (minimalan iznos u vrednosti od 50,00 EUR u dinarskoj
        protivvrednosti prema srednjem kursu NBS na dan isplate.
      </li>
      <li>Za zakup trajanja od 12 do 59 meseci:75%</li>
      <li>Za zakup trajanja od 60 meseci (5 godina) i više: 100%</li>
    </ul>
    <p><b>Zakupac (provizija se naplaćuje od zakupca)</b></p>
    <p>Procenat od mesečne zakupnine:</p>
    <ul>
      <li>
        50% (minimalan iznos u vrednosti od 50,00 EUR u dinarskoj
        protivvrednosti prema srednjem kursu NBS na dan isplate.
      </li>
      <li>Za zakup trajanja od 12 do 59 meseci:75%</li>
      <li>Za zakup trajanja od 60 meseci (5 godina) i više: 100%</li>
    </ul>
    <p>PDV (porez na dodatu vrednost 20%) nije uračunat u cenu</p>

    <p>
      Agencija za nekretnine FRIGO NEKRETNINE, Kralja Petra Prvog 204, 11400
      Mladenovac, redni broj u Registru posrednika: 505
    </p>
  </div>
  <app-scroll-to-top-button [element]="aboutTerms"></app-scroll-to-top-button>

  <app-footer></app-footer>
</div>
