@use "../../../../styles"
.header
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3)), url('../../../../assets/img/main-wallpaper.jpg')
  height: 100vh
  background-position: center
  background-size: cover

  h1
    font-size: 40px !important
    color: styles.$light-red

  h2
    font-size: 40px
    color: styles.$default-silver
.pinned-real-estates-div
  padding: 0 12em

  h1
    text-align: center
    color: styles.$light-red

    swiper
      padding: 1em 3em

p
  line-height: 1.8em

mat-spinner
  margin-left: 45%

  margin-top: 2%

.logo
  margin-top: 2em
  width: 150px


  h1
    margin-top: 1em

.search-div-form
  -webkit-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  background: #fff
  padding-top: 1em
  margin-top: 3em
  border-top-left-radius: 18px
  border-top-right-radius: 18px

img
  border-radius: 18px

.search-button
  margin-bottom: 2em
  width: 100%
  border-bottom-left-radius: 18px
  border-bottom-right-radius: 18px

.wrapper
  margin: 0 auto
  width: 90%

mat-form-field
  width: 90%
  margin: 2em

.header-container
  margin-top: 20%

.quote-div
  padding-top: 3em

  h1
    color: styles.$light-red

.custom-container
  img
    -webkit-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
    -moz-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
    box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)

  .left-col
    margin-top: 5em

.right-col-div
  background-color: styles.$default-silver
  padding: 10em
  margin-top: 10em
  border-radius: 18px

.offer-div
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7091211484593838) 51%, rgba(255, 255, 255, 1) 100%), url('../../../../assets/img/jason-dent-w3eFhqXjkZE-unsplash.jpg')

  background-size: cover
  background-position: center
  padding: 5em

  .offer-container
    padding: 10em 5em
    margin: 5em 30rem


    h1
      color: styles.$default-black

    p
      padding-top: .5em
      color: #555

.custom-container
  .why-as-container
    -webkit-box-shadow: 200px -48px 0px 0px rgba(255, 153, 152, 1)
    -moz-box-shadow: 200px -48px 0px 0px rgba(255, 153, 152, 1)
    box-shadow: 200px -48px 0px 0px rgba(255, 153, 152, 1)
    margin: 10em
    background-color: #fafafa
    padding: 5em
    border-radius: 18px

    .why-as-card
      padding: 3em
      background-color: #fff
      margin: 1em
      cursor: pointer

      h2
        color: styles.$light-red
        font-weight: bold

      p
        color: styles.$default-silver

    .first-col, .second-col, .third-col
      border-radius: 18px

    .first-col
      background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.8)), url('../../../../assets/img/harry-shelton-pPxhM0CRzl4-unsplash.jpg')
      background-size: cover
      background-position: center

    .first-col:hover
      transition: .5s
      -webkit-transition: 0.5s linear
      background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .2)), url('../../../../assets/img/harry-shelton-pPxhM0CRzl4-unsplash.jpg')
      background-size: cover
      background-position: center

    .second-col
      background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.8)), url('../../../../assets/img/cytonn-photography-n95VMLxqM2I-unsplash.jpg')
      background-size: cover
      background-position: center

    .second-col:hover
      background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .2)), url('../../../../assets/img/cytonn-photography-n95VMLxqM2I-unsplash.jpg')
      background-size: cover
      background-position: center

    .third-col
      background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.8)), url('../../../../assets/img/2-Timska kohezija.jpg')
      background-size: cover
      background-position: center
      -webkit-transition: .3s linear

    .third-col:hover
      background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .2)), url('../../../../assets/img/2-Timska kohezija.jpg')
      background-size: cover
      background-position: center

mat-radio-button
  margin: 0 1em 1em 1em


@media screen and (max-width: 900px)

  .quote-div
    padding: 3em 0
    margin: 2em 0

  .pinned-real-estates-div
    padding: 0

    swiper
      padding: 2em

  .header
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.2)), url('../../../../assets/img/mobile-header.jpg')
    background-size: cover
    background-position: center
  .inline-row
    display: block

    .column
      width: 100%

  .right-col-div
    padding: 5em

  .custom-container
    button
      margin: 1em 0
      width: 80%

  .why-as-container
    padding: 5em 1em !important
    margin: 1em 0 !important
    -webkit-box-shadow: 200px -48px 0px 0px rgba(255, 153, 152, 1)
    -moz-box-shadow: 200px -48px 0px 0px rgba(255, 153, 152, 1)
    box-shadow: 200px -48px 0px 0px rgba(255, 153, 152, 1)

  .offer-div
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7091211484593838) 51%, rgba(255, 255, 255, 1) 100%), url('../../../../assets/img/jason-dent-w3eFhqXjkZE-unsplash.jpg')
    background-size: cover
    background-position: center

  .offer-container
    padding: 8em 2em !important
    margin: 0em !important

    h1
      line-height: 1em

.partner-h1
  font-size: 40px !important

.description
  border-radius: 18px

.fop-col
  background-image: url("../../../../assets/img/fop-home.jpg")
  background-size: cover
  width: 100%
  background-position: center
  padding: 10em 5em
  position: relative
  cursor: pointer
  border-radius: 18px
  h1
    position: absolute
    top: 1rem
    left: 0
    right: 0
  @media screen and (max-width: 600px)
    padding: 4em
    h1
      font-size: 18px !important
  @media screen and (min-width: 600px) and (max-width: 1024px)
    padding: 6em 2em
    h1
      font-size: 24px !important
  @media screen and (min-width: 1024px) and (max-width: 1440px)
    padding: 5em 2em
    h1
      font-size: 24px !important

@media screen and (min-width: 1024px) and (max-width: 1440px) and (max-height: 900px)
  .header
    min-height: 130vh

    .header-container
      margin-top: 5em
  .quote-div
    padding: 5em
  .offer-container
    margin: 0 !important
    padding: 5em 15em !important

@media (-webkit-min-device-pixel-ratio: 1.25)
  .home
    zoom: .8
  .header
    height: auto

    .header-container
      margin-top: 125px

@media (-webkit-device-pixel-ratio: 1.5)
  .home
    zoom: .7
  .header
    height: 125vh !important

@media (-webkit-device-pixel-ratio: 1.75)
  .home
    zoom: .6
  .header
    height: 125vh !important

    .header-container
      margin-top: 60px

@media (-webkit-min-device-pixel-ratio: 1.8) and (min-width: 1023px)
  .home
    zoom: .4
  .header
    height: 200vh !important

    .header-container
      margin-top: 40px

  .quote-div
    padding: 5em 0

  .offer-container
    margin: 0 !important

  .right-col-div
    padding: 5em
    margin-top: 5em
@media only screen and (min-width: 1023px) and (max-width: 1025px) and (-webkit-min-device-pixel-ratio: 2)
  .header-container
    padding-top: 5em

  .header
    min-height: 60vh !important
    height: auto

@media only screen and (min-width: 1020px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2)
  .home
    zoom: .8

  .header
    min-height: 100vh !important
    height: auto


@media screen and (min-width: 2047px)
  .home, .header
    zoom: 1.2
  p
    font-size: 18px

@media screen and (max-width: 1024px) and (min-height: 1024px)
  .header
    height: 60vh !important
  .home
    zoom: .8

@media screen and (min-width: 768px) and (max-height: 1024px) and (max-width: 1300px)
  .header
    height: 80vh !important
  .home
    zoom: .8

  .custom-container
    padding: 5em
