<div #header class="header">
  <div class="navbar-wrapper">
    <app-navbar></app-navbar>
  </div>
  <div class="container">
    <div class="text-center header-container">
      <h2>Kada budete spremni za promenu</h2>
      <h1>Mi smo spremni da pomognemo</h1>
      <div class="search-div-form">
        <form [formGroup]="searchByCategoryForm">
          <mat-form-field appearance="fill">
            <mat-label>Tip nekretnine</mat-label>
            <mat-select formControlName="categoryName">
              <mat-option
                *ngFor="let category of listOfCategories"
                [value]="category.id"
              >
                {{ category.name | capitalize }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <mat-radio-group
              aria-label="Select an option"
              formControlName="saleType"
            >
              <mat-radio-button value="SALE">Prodaja</mat-radio-button>
              <mat-radio-button value="RENT">Izdavanje</mat-radio-button>
            </mat-radio-group>
          </div>
        </form>
      </div>
      <button
        class="default-btn search-button"
        [disabled]="!searchByCategoryForm.valid"
        mat-button
        (click)="basicSearch()"
      >
        Pretražite
      </button>
    </div>
  </div>
</div>
<div class="home">
  <div class="wrapper">
    <div class="quote-div text-center">
      <h1 class="font-weight-bold">
        Naši zadovoljni klijenti su naša preporuka i motiv da istrajemo
      </h1>
    </div>
   <div class="pinned-real-estates-div">
     <h1 class="mt-4 mb-4" style="color: #121212">Istaknute nekretnine</h1>
     <mat-spinner #spinner></mat-spinner>
     <swiper
       [slidesPerView]="mobileService.isMobile ? 1 : 3"
       navigation="true"
       [spaceBetween]="10"
       *ngIf="listOfPinnedRealEstates.length > 0"
       loop="true"
     >
       <ng-container
         *ngFor="let realEstate of listOfPinnedRealEstates; index as i"
       >
         <ng-template swiperSlide>
           <app-real-estate-client-card
             [realEstate]="realEstate"
           ></app-real-estate-client-card>
         </ng-template>
         <div class="swiper-pagination"></div>
       </ng-container>
     </swiper>
   </div>
    <div class="custom-container">
      <div class="row">
        <div class="col-sm left-col">
          <h1>Želite da kupite nekretninu?</h1>
          <p>
            Pogledajte nasu pretragu nekretnina i uz pomoć filtera pronađite
            nekretninu kakvu želite.<br />

            Niste uspeli da pronađete idealnu nekretninu? Kontaktirajte nas,
            kako bismo mogli da Vas obavestimo kada budemo imali adekvatnu
            nekretninu za Vas.
          </p>
          <button mat-button class="border-btn" (click)="searchOnSell()">
            Prodaja
          </button>
        </div>
        <div class="col-sm">
          <img
            loading="lazy"
            class="img-fluid"
            src="../../../../assets/img/photo-1593696140826-c58b021acf8b.jpeg"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="custom-container offer-div">
    <div class="offer-container">
      <h1>Ponudite nekretninu</h1>
      <mat-divider></mat-divider>
      <p>
        Želite da prodate/izdate Vašu nekretninu ? Kliknite na dugme ispod i
        popunite formular kako bi Vas kontaktirao neko iz našeg tima, nakon čega
        će Vašu nekretninu predstaviti na najbolji način.
      </p>
      <button mat-button class="default-btn" (click)="openAddOfferDialog()">
        Ponudite
      </button>
    </div>
  </div>
  <div class="custom-container">
    <h1 class="partner-h1 text-center">Partneri</h1>
    <app-partners></app-partners>
  </div>
  <div class="wrapper">
    <div class="custom-container">
      <div class="row">
        <div class="col-sm">
          <img
            loading="lazy"
            class="img-fluid"
            src="../../../../assets/img/minh-pham-OtXADkUh3-I-unsplash.jpg"
          />
        </div>
        <div class="col-sm right-col">
          <div class="right-col-div">
            <h1>Želite da zakupite nekretninu?</h1>
            <p>
              Pogledajte našu pretragu nekretnina i uz pomoć filtera pronađite
              nekretninu kakvu želite. Niste uspeli da pronađete idealnu
              nekretninu? Kontaktirajte nas, kako bismo mogli da Vas obavestimo
              kada budemo imali adekvatnu nekretninu za Vas
            </p>
            <button mat-button class="border-btn" (click)="searchOnRent()">
              Izdavanje
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-container" style="padding: 5em 12em 0 12em">
      <h1 class="huge-h1">Zašto mi ?</h1>
      <div class="why-as-container">
        <h3>
          Dugogodišnje iskustvo stavlja nas na poziciju lidera, sa velikim
          potencijalom i uvođenjem inovacija
        </h3>
        <div class="row">
          <div
            class="why-as-card col-sm first-col text-center"
            (click)="navigateToPart('iskustvo')"
          >
            <h2>15 godina iskustva</h2>
            <p>Mnogi industrijski objekti, poput Imleka...</p>
          </div>
          <div
            class="why-as-card col-sm second-col text-center"
            (click)="navigateToPart('klijent')"
          >
            <h2>Fokus na klijenta</h2>
            <p>Mnogo je razloga da budete deo ovog tima...</p>
          </div>
          <div
            class="why-as-card col-sm third-col text-center"
            (click)="navigateToPart('tim')"
          >
            <h2>Timska kohezija</h2>
            <p>Za impozantan broj realizovanih prodaja...</p>
          </div>
          <div class="col-sm-12 fop-col" (click)="navigateToCompanyOfTrust('firma-od-poverenja')">
            <h1 class="m-auto text-center" style="color: #ff3935">Firma od poverenja</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-scroll-to-top-button [element]="header"></app-scroll-to-top-button>
<app-footer></app-footer>
