<div class="text-right option-div mt-3" *ngIf="realEstateListSize > 0">
  <button mat-button [matMenuTriggerFor]="menu">
    Sortiraj po ceni
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menuDate">
    Sortiraj po datumu
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <button
    mat-button
    class="light-btn"
    (click)="openAdvancedSearchDialog.emit(true)"
  >
    Napredna pretraga
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="sortByLowestPrice.emit(true)">
      Po ceni - rastuće
      <mat-icon style="font-weight: bold">keyboard_arrow_up</mat-icon>
    </button>
    <button mat-menu-item (click)="sortByHighestPrice.emit(true)">
      Po ceni - opadajuće
      <mat-icon style="font-weight: bold">keyboard_arrow_down</mat-icon>
    </button>
  </mat-menu>
  <mat-menu #menuDate="matMenu">
    <button mat-menu-item (click)="sortByDateUp.emit(true)">
      Po datumu - rastuće
      <mat-icon style="font-weight: bold">keyboard_arrow_up</mat-icon>
    </button>
    <button mat-menu-item (click)="sortByDateDown.emit(true)">
      Po datumu - opadajuće
      <mat-icon style="font-weight: bold">keyboard_arrow_down</mat-icon>
    </button>
  </mat-menu>
</div>
