@use "../../../../styles"

.estate-badge
  padding: .5em 1em
  border-radius: 8px
  background-color: #fafafa
  display: inline-flex
  width: 98%
  margin: .5em .5em .5em

  i
    color: styles.$light-red
    margin: .15em .25em

.basic-info-header
  padding: 0 10em

.header-navbar-info
  top: -50px
  z-index: 3
  position: fixed
  -webkit-transition: .5s linear
  width: 100%
  padding: 4em
  height: 1%
  -webkit-box-shadow: -2px 80px 124px -59px rgba(161, 161, 161, 1)
  -moz-box-shadow: -2px 80px 124px -59px rgba(161, 161, 161, 1)
  box-shadow: -2px 80px 124px -59px rgba(161, 161, 161, 1)
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

  h1, h3
    visibility: hidden

mat-spinner
  margin-left: 45%
  margin-top: 10%
  z-index: 3
  position: absolute

.estate-container
  padding: 1em 5em

.icon-gallery-btn
  background-color: styles.$default-black

.custom-container
  padding-bottom: 0 !important

.inline
  display: inline-flex
  width: 100%

.price-txt
  span
    padding: .5em

  & > span
    padding: .5em 1em
    background-color: styles.$light-red
    color: #ffffff
    font-weight: bold
    border-radius: 8px

.location
  .address
    font-weight: bold
    color: #555
    line-height: 15px

.description-h2
  padding: 0 1em

img
  cursor: pointer

.description
  margin-top: 1em
  padding: 2em
  background-color: styles.$default-silver
  font-size: 16px

  h4
    margin-top: 1em

a
  color: styles.$default-black
  text-decoration: none

a:hover
  transition: .5s
  color: styles.$light-red
  text-decoration: none

iframe
  width: 100%
  height: 400px
  margin: 2em 0

.col-sm-4
  padding-left: 0

.inline-h4
  margin: 0 .25em

.col-6
  padding-top: 1em

.icon-div
  padding: 1em 0

  h4
    margin: 0 1em

agm-map
  height: 100vh
  border-radius: 18px

.price-div
  margin: 3em 3em 0 3em
  text-align: right

@media screen and (max-width: 900px)
  .estate-container
    padding: 2em
  .price-div
    margin: 0
    .price-txt
      margin-left: 0
      margin-top: 1em
      width: 100%
    span
      padding: .25em
  iframe
    width: 100%
    height: 200px

  .col-sm-4
    margin-top: 2em

  .basic-info-header
    padding: 0 1em
  .badge-col
    padding: 0

  .estate-badge
    background-color: transparent
    padding: 0

@media (-webkit-min-device-pixel-ratio: 1.25)
  .home
    zoom: .8
  .header
    height: 125vh

@media (-webkit-min-device-pixel-ratio: 1.4)
  .estate-container, .container, .header-navbar-info, mat-spinner
    zoom: .7

@media (-webkit-device-pixel-ratio: 1.75)
  .estate-container, .container, .header-navbar-info, mat-spinner
    zoom: .6

@media (-webkit-min-device-pixel-ratio: 2)
  .estate-container, .container, .header-navbar-info, mat-spinner
    zoom: .6

@media only screen and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 2)
  .estate-container, .container, .header-navbar-info, mat-spinner
    zoom: .8

@media screen and (min-width: 2049px)
  .container, .header-navbar-info, .estate-container
    zoom: 2
  p
    line-height: normal

@media screen and (min-width: 1024px) and (max-width: 1440px) and (max-height: 900px)
  .container, .estate-container, .header-navbar-info
    zoom: .8

@media screen and (min-width: 1024px) and (max-width: 1440px) and (max-height: 900px) and (-webkit-min-device-pixel-ratio: 1.1)
  .container, .estate-container, .header-navbar-info
    zoom: .6
