<div #realEstateById>
  <mat-spinner #spinner diameter="50"></mat-spinner>
  <div class="header-navbar-info" *ngIf="realEstate">
    <h1 class="header-nav-h1">
      {{ realEstate.name | capitalize }},
      {{ realEstate.address?.municipality?.city?.name }},
      {{ realEstate.address?.municipality?.name }}
    </h1>
    <h3 class="header-nav-h3">
      <span>#{{ realEstate.code }}</span
      >, {{ realEstate.saleType | translate | capitalize }},
      {{ realEstate.category?.name }}
    </h3>
  </div>
  <div class="navbar-wrapper">
    <app-navbar></app-navbar>
  </div>
  <app-real-estate-small-media-gallery
    *ngIf="realEstate"
    [realEstateListOfMedias]="realEstate.medias"
    (openImageGallery)="openMediaDialog()"
  ></app-real-estate-small-media-gallery>
  <div class="basic-info-header mt-4">
    <div class="price-div">
      <h3 *ngIf="realEstate.priceDiscounted">
        <span style="text-decoration: line-through">
          Stara cena: {{ realEstate | priceDiscounted }}
        </span>
      </h3>
      <h2 class="price-txt">
        <span>{{ realEstate | price }}</span>
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1>
          {{ realEstate.name }},
          {{ realEstate.address?.municipality?.city?.name }},
          {{ realEstate.address?.municipality?.name }}
        </h1>
        <div class="inline badge-div" *ngIf="!mobileService.isMobile">
          <h4 class="estate-badge">
            <i class="fa fa-home" aria-hidden="true"></i>
            {{ realEstate.category.name | capitalize }}
          </h4>
          <h4 class="estate-badge">
            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            {{ realEstate.saleType | translate }}
          </h4>
          <h4 class="estate-badge">#{{ realEstate.code }}</h4>
          <h4 class="estate-badge" *ngIf="realEstate.structure">
            <i class="fa fa-building" aria-hidden="true"></i>
            {{ realEstate.structure.type }}
          </h4>
        </div>
        <div class="row badge-div" *ngIf="mobileService.isMobile">
          <div class="col-6 badge-col">
            <h4 class="estate-badge">
              <i class="fa fa-home" aria-hidden="true"></i>
              {{ realEstate.category.name | capitalize }}
            </h4>
          </div>
          <div class="col-6 badge-col">
            <h4 class="estate-badge">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
              {{ realEstate.saleType | translate }}
            </h4>
          </div>
        </div>
        <div class="row" *ngIf="mobileService.isMobile">
          <div class="col badge-col">
            <h4 class="estate-badge">#{{ realEstate.code }}</h4>
          </div>
          <div class="col badge-col">
            <h4 class="estate-badge" *ngIf="realEstate.structure">
              <i class="fa fa-building" aria-hidden="true"></i>
              {{ realEstate.structure.type }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="realEstate">
    <app-heading headerText="Opis"></app-heading>
    <p
      [innerHTML]="realEstate.description || 'Nema opisa za traženu nekretninu'"
      class="description"
    ></p>
    <app-heading headerText="Osnovne informacije"></app-heading>
    <div class="row">
      <div class="col-sm">
        <app-property-binding
          key="Površina"
          [value]="
            (realEstate.area * realEstate.areaUnit.conversionFactor | decimal) +
            ' ' +
            realEstate.areaUnit.value
          "
          *ngIf="realEstate.area"
        ></app-property-binding>
        <app-property-binding
          key="Površina objekta"
          *ngIf="realEstate.buildingArea"
          [value]="realEstate.buildingArea + ' m²'"
        ></app-property-binding>
        <app-property-binding
          key="Struktura"
          [value]="realEstate.structure.type"
          *ngIf="realEstate.structure"
        ></app-property-binding>
        <app-property-binding
          key="Površina placa"
          [value]="
            (realEstate.propertyArea *
              realEstate.propertyAreaUnit.conversionFactor | decimal) +
            ' ' +
            realEstate.propertyAreaUnit.value
          "
          *ngIf="realEstate.propertyArea"
        ></app-property-binding>
        <app-property-binding
          key="Nameštenost"
          [value]="realEstate.furniture ? realEstate.furniture.type : ''"
        ></app-property-binding>
        <app-property-binding
          key="Broj kupatila"
          [value]="realEstate.bathroomCount"
        ></app-property-binding>
        <app-property-binding
          key="Broj kreveta"
          [value]="realEstate.bedCount"
        ></app-property-binding>
        <app-property-binding
          key="Broj soba"
          [value]="realEstate.roomCount"
        ></app-property-binding>
        <app-property-binding
          key="Broj spavaćih soba"
          [value]="realEstate.bedroomCount"
        ></app-property-binding>
        <app-property-binding
          key="Visina plafona"
          [value]="realEstate.ceilingHeight + 'm'"
          *ngIf="realEstate.ceilingHeight"
        ></app-property-binding>
        <app-property-binding
          key="Godina izgradnje"
          [value]="
            realEstate.constructionYear ? realEstate.constructionYear + '.' : ''
          "
        ></app-property-binding>
        <app-property-binding
          key="Duplex"
          value="Da"
          *ngIf="realEstate.duplex"
        ></app-property-binding>
      </div>
      <div class="col-sm">
        <app-property-binding
          *ngIf="realEstate.filedArea"
          key="Uknjižena površina"
          [value]="realEstate.filedArea + ' ' + realEstate.areaUnit.value"
        ></app-property-binding>
        <app-property-binding
          key="Uknjiženi status"
          [value]="realEstate.filedStatus ? realEstate.filedStatus.status : ''"
        ></app-property-binding>
        <app-property-binding
          key="Sprat/Ukupno spratova"
          *ngIf="realEstate.floor"
          [value]="
            realEstate.floor.name +
            (+realEstate.buildingFloors ? '/' + realEstate.buildingFloors : '')
          "
        ></app-property-binding>
        <app-property-binding
          key="Useljivo"
          value="Da"
          *ngIf="realEstate.moveIn"
        ></app-property-binding>
        <app-property-binding
          key="Useljivo od"
          [value]="realEstate.moveInDate | formatDate"
        ></app-property-binding>
        <app-property-binding
          key="Broj mokrih čvorova"
          [value]="realEstate.wcCount"
        ></app-property-binding>
        <app-property-binding
          *ngIf="realEstate.parkings"
          key="Parking"
          [value]="realEstate.parkings"
        ></app-property-binding>
        <app-property-binding
          *ngIf="realEstate.carpentries"
          key="Stolarija"
          [value]="realEstate.carpentries"
        ></app-property-binding>
        <app-property-binding
          *ngIf="realEstate.heatings"
          key="Grejanje"
          [value]="realEstate.heatings"
        ></app-property-binding>
      </div>
    </div>
    <app-heading
      *ngIf="
        realEstate.termsDeposit ||
        realEstate.termsMinimumLease ||
        realEstate.termsPaymentPeriod
      "
      headerText="Uslovi zakupa"
    ></app-heading>
    <div class="row">
      <div class="col-6">
        <app-property-binding
          key="Depozit"
          [value]="realEstate.termsDeposit + '€'"
          *ngIf="realEstate.termsDeposit"
        ></app-property-binding>
        <app-property-binding
          key="Minimalni zakup"
          [value]="
            realEstate.termsMinimumLease +
            (realEstate.termsMinimumLease === 1
              ? ' mesec'
              : ' meseci'
              ? realEstate.termsMinimumLease === 2
                ? ' meseca'
                : ' meseci'
              : '')
          "
          *ngIf="realEstate.termsMinimumLease"
        ></app-property-binding>
        <app-property-binding
          key="Period plaćanja"
          [value]="
            realEstate.termsPaymentPeriod
              ? realEstate.termsPaymentPeriod.value
              : ''
          "
        ></app-property-binding>
        <app-property-binding
          *ngIf="realEstate.termsPets"
          key="Kućni ljubimci"
          value="Da"
        ></app-property-binding>
      </div>
    </div>
    <app-heading
      *ngIf="
        realEstate.buildingElevator ||
        realEstate.buildingSecurity ||
        realEstate.buildingIntercom ||
        realEstate.buildingCamera
      "
      headerText="Opremljenost objekta"
    ></app-heading>
    <div class="row">
      <div class="col-6">
        <div class="inline w-100 icon-div" *ngIf="realEstate.buildingElevator">
          <img src="../../../../assets/img/icons/ikona%20-%20fotografije.png" />
          <h4>Lift</h4>
        </div>
        <div class="inline w-100 icon-div" *ngIf="realEstate.buildingCamera">
          <img src="../../../../assets/img/icons/kamere.png" />
          <h4 style="margin: 0 1em">Kamere</h4>
        </div>
        <div class="inline w-100 icon-div" *ngIf="realEstate.buildingIntercom">
          <img src="../../../../assets/img/icons/interfon.png" />
          <h4>Interfon</h4>
        </div>
        <div class="inline w-100 icon-div" *ngIf="realEstate.buildingSecurity">
          <img src="../../../../assets/img/icons/bezbednost.png" />
          <h4>Obezbeđenje</h4>
        </div>
        <div
          class="inline w-100 icon-div"
          *ngIf="realEstate.buildingAccessibility"
        >
          <img src="../../../../assets/img/icons/rampa%20za%20invalide.png" />
          <h4>Rampa</h4>
        </div>
      </div>
    </div>
    <app-heading
      headerText="Troškovi"
      *ngIf="
        realEstate.expensesTaxes ||
        realEstate.expensesPhone ||
        realEstate.expensesCable ||
        realEstate.expensesInternet ||
        realEstate.expensesInfostan ||
        realEstate.expensesMaintenance ||
        realEstate.expensesElectricity
      "
    ></app-heading>
    <div class="row">
      <div class="col-6">
        <app-property-binding
          key="Struja"
          [value]="realEstate.expensesElectricity"
          currency=" RSD"
        ></app-property-binding>
        <app-property-binding
          key="Kablovska"
          [value]="realEstate.expensesCable"
          currency=" RSD"
        ></app-property-binding>
        <app-property-binding
          key="Infostan"
          [value]="realEstate.expensesInfostan"
          currency=" RSD"
        ></app-property-binding>
        <app-property-binding
          key="Internet"
          [value]="realEstate.expensesInternet"
          currency=" RSD"
        ></app-property-binding>
        <app-property-binding
          key="Telefon"
          [value]="realEstate.expensesPhone"
          currency=" RSD"
        ></app-property-binding>
        <app-property-binding
          key="Održavanje"
          [value]="realEstate.expensesMaintenance"
          currency=" RSD"
        ></app-property-binding>
        <app-property-binding
          key="Takse"
          [value]="realEstate.expensesTaxes"
          currency=" RSD"
        ></app-property-binding>
      </div>
    </div>
    <app-heading
      *ngIf="
        realEstate.propertyWater ||
        realEstate.propertyGas ||
        realEstate.propertyFenced ||
        realEstate.propertyElectricity
      "
      headerText="Informacije o zemljištu"
    ></app-heading>
    <div class="row">
      <div class="col-6">
        <app-property-binding
          key="Struja"
          *ngIf="realEstate.propertyElectricity"
          value="Da"
        ></app-property-binding>
        <app-property-binding
          key="Ograda"
          *ngIf="realEstate.propertyFenced"
          value="Da"
        ></app-property-binding>
        <app-property-binding
          key="Gas"
          *ngIf="realEstate.propertyGas"
          value="Da"
        ></app-property-binding>
        <app-property-binding
          key="Voda"
          *ngIf="realEstate.propertyWater"
          value="Da"
        ></app-property-binding>
      </div>
    </div>
    <app-heading
      *ngIf="realEstate.centerDistance"
      headerText="Informacije o lokaciji"
    ></app-heading>
    <div class="row">
      <div class="col-6">
        <app-property-binding
          key="Udaljenost od centra"
          [value]="realEstate.centerDistance + ' km'"
          *ngIf="realEstate.centerDistance"
        ></app-property-binding>
      </div>
    </div>
    <app-heading
      *ngIf="realEstate.renovated"
      headerText="Podaci o renoviranju"
    ></app-heading>
    <div class="row">
      <div class="col-6">
        <app-property-binding
          key="Datum renoviranja"
          [value]="realEstate.renovatedDate | formatDate"
        ></app-property-binding>
      </div>
    </div>
    <p
      [innerHTML]="realEstate.whatsRenovated"
      *ngIf="realEstate.whatsRenovated"
      class="description"
    ></p>
    <app-heading
      *ngIf="realEstate.extraInfos.length > 0"
      headerText="Opremljenost nekretnine"
    ></app-heading>
    <div class="row">
      <div
        class="col-sm-2"
        style="margin-top: 2em; padding-right: 0"
        *ngFor="let extraInfo of realEstate.extraInfos"
      >
        <div class="inline">
          <img
            loading="lazy"
            width="50px"
            height="50px"
            style="margin: 1em"
            src="data:image/jpg;base64,{{ extraInfo.image }}"
          />
          <h4 style="margin-top: 1em">{{ extraInfo.value }}</h4>
        </div>
      </div>
    </div>
    <app-heading
      *ngIf="realEstate.extraRooms.length > 0"
      headerText="Dodatne prostorije"
    ></app-heading>
    <ul>
      <li *ngFor="let extraRoom of realEstate.extraRooms">
        <h4>{{ extraRoom.name }}</h4>
      </li>
    </ul>

    <div style="margin-top: 2em" *ngIf="ytLink.length > 0">
      <h1>Video prezentacija</h1>
      <mat-divider></mat-divider>
      <div>
        <iframe
          *ngIf="ytLink.length > 0"
          [src]="ytLink | safe"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div
    class="container mt-5"
    *ngIf="realEstate.longitude && realEstate.latitude"
  >
    <h1>Približna lokacija </h1>
    <agm-map
      #map
      [longitude]="realEstate.longitude"
      [latitude]="realEstate.latitude"
      [zoom]="17"
    >
      <agm-marker
        [latitude]="realEstate.latitude"
        [longitude]="realEstate.longitude"
        [label]="'€' + realEstate.price"
      >
      </agm-marker>
    </agm-map>
  </div>
  <app-scroll-to-top-button
    [element]="realEstateById"
  ></app-scroll-to-top-button>
  <app-footer></app-footer>
</div>
