@use "src/styles"
.mat-tab-div
  padding: 2em

.extra-info-row
  border: 1px solid #eee
  margin: 2em
  padding: 1em

.option-container
  max-height: 500px
  overflow-y: scroll
  overflow-x: hidden


