<div class="content">
  <mat-vertical-stepper>
    <mat-step label="Opcije">
      <mat-tab-group
        dynamicHeight
        (animationDone)="getActiveTab()"
        #tabGroup
        mat-stretch-tabs
      >
        <mat-tab label="Gradovi">
          <div class="mat-tab-div">
            <div class="row">
              <div class="col-sm">
                <h1>Pregled gradova</h1>
                <div class="red-line"></div>
              </div>
              <div class="col-sm text-right">
                <button
                  mat-button
                  class="default-btn"
                  (click)="openAddCityDialog()"
                >
                  Dodaj
                </button>
              </div>
            </div>
            <app-option-overview
              fControl="name"
              headerText="Izmena grada"
              [list]="listOfCities"
              columnSize="col-sm"
              (afterSubmitFunction)="getAllCities()"
              [service]="cityService"
            ></app-option-overview>
          </div>
        </mat-tab>
        <mat-tab label="Kategorije" #category>
          <div class="mat-tab-div">
            <mat-spinner #spinner></mat-spinner>
            <div class="mat-tab-div">
              <div class="row">
                <div class="col-sm">
                  <h1>Pregled kategorija</h1>
                  <div class="red-line"></div>
                </div>
                <div class="col-sm text-right">
                  <button
                    mat-button
                    class="default-btn"
                    (click)="openAddCategoryDialog()"
                  >
                    Dodaj kategoriju
                  </button>
                </div>
              </div>
              <app-option-overview
                fControl="name"
                headerText="Izmena kategorije"
                [list]="listOfCategories"
                columnSize="col-sm"
                (afterSubmitFunction)="getAllCategories()"
                [service]="categoryService"
              ></app-option-overview>
            </div>
          </div>
        </mat-tab>
        <mat-tab #carpentry label="Stolarija">
          <div class="mat-tab-div">
            <div class="mat-tab-div">
              <div class="mat-tab-div">
                <div class="row">
                  <div class="col-sm">
                    <h1>Pregled stolarije</h1>
                    <div class="red-line"></div>
                  </div>
                  <div class="col-sm text-right">
                    <button
                      mat-button
                      class="default-btn"
                      (click)="openAddCarpentryDialog()"
                    >
                      Dodaj stolariju
                    </button>
                  </div>
                </div>
                <app-option-overview
                  [list]="listOfCarpentries"
                  fControl="type"
                  headerText="Izmena stolarije"
                  columnSize="col-sm"
                  (afterSubmitFunction)="getAllCarpentries()"
                  [service]="carpentryService"
                ></app-option-overview>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab #floor label="Spratovi">
          <div class="mat-tab-div">
            <div class="mat-tab-div">
              <div class="mat-tab-div">
                <div class="row">
                  <div class="col-sm">
                    <h1>Pregled spratova</h1>
                    <div class="red-line"></div>
                  </div>
                  <div class="col-sm text-right">
                    <button
                      mat-button
                      class="default-btn"
                      (click)="openAddFloorDialog()"
                    >
                      Dodaj sprat
                    </button>
                  </div>
                </div>
                <app-option-overview
                  headerText="Izmena spratova"
                  fControl="name"
                  [list]="listOfFloors"
                  columnSize="col-sm"
                  (afterSubmitFunction)="getAllFloors()"
                  [service]="floorService"
                ></app-option-overview>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab #furniture label="Nameštaj">
          <div class="mat-tab-div">
            <div class="mat-tab-div">
              <div class="mat-tab-div">
                <div class="row">
                  <div class="col-sm">
                    <h1>Pregled nameštaja</h1>
                    <div class="red-line"></div>
                  </div>
                  <div class="col-sm text-right">
                    <button
                      mat-button
                      class="default-btn"
                      (click)="openAddFurnitureDialog()"
                    >
                      Dodaj nameštaj
                    </button>
                  </div>
                </div>
                <app-option-overview
                  headerText="Izmena nameštaja"
                  fControl="type"
                  [list]="listOfFurnitures"
                  columnSize="col-sm"
                  (afterSubmitFunction)="getAllFurnitures()"
                  [service]="furnitureService"
                ></app-option-overview>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab #heating label="Grejanje">
          <div class="mat-tab-div">
            <div class="mat-tab-div">
              <div class="mat-tab-div">
                <div class="row">
                  <div class="col-sm">
                    <h1>Pregled grejanja</h1>
                    <div class="red-line"></div>
                  </div>
                  <div class="col-sm text-right">
                    <button
                      mat-button
                      class="default-btn"
                      (click)="openAddHeatingsDialog()"
                    >
                      Dodaj grejanje
                    </button>
                  </div>
                </div>
                <app-option-overview
                  fControl="type"
                  headerText="Izmena grejanja"
                  [list]="listOfHeatings"
                  columnSize="col-sm"
                  (afterSubmitFunction)="getAllHeating()"
                  [service]="heatingService"
                ></app-option-overview>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab #structure label="Struktura">
          <div class="mat-tab-div">
            <div class="mat-tab-div">
              <div class="mat-tab-div">
                <div class="row">
                  <div class="col-sm">
                    <h1>Pregled struktura</h1>
                    <div class="red-line"></div>
                  </div>
                  <div class="col-sm text-right">
                    <button
                      mat-button
                      class="default-btn"
                      (click)="openAddStructureDialog()"
                    >
                      Dodaj strukturu
                    </button>
                  </div>
                </div>
                <app-option-overview
                  fControl="type"
                  headerText="Izmena tipa stana"
                  [list]="listOfStructures"
                  columnSize="col-sm"
                  (afterSubmitFunction)="getAllStructures()"
                  [service]="structureService"
                ></app-option-overview>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-step>
    <mat-step label="Opcije">
      <mat-tab-group
        dynamicHeight
        (selectedTabChange)="getActiveTab()"
        animationDuration="300ms"
        #secondTabGroup
        mat-stretch-tabs
      >
        <mat-tab #parking label="Parking">
          <div class="mat-tab-div">
            <div class="row">
              <div class="col-sm">
                <h1>Pregled parkinga</h1>
                <div class="red-line"></div>
              </div>
              <div class="col-sm text-right">
                <button
                  mat-button
                  class="default-btn"
                  (click)="openAddParkingDialog()"
                >
                  Dodaj
                </button>
              </div>
            </div>
            <app-option-overview
              fControl="type"
              headerText="Izmena parkinga"
              [list]="listOfParkings"
              columnSize="col-sm"
              (afterSubmitFunction)="getAllParkings()"
              [service]="parkingService"
            ></app-option-overview>
          </div>
        </mat-tab>
        <mat-tab #priceType label="Tip cene">
          <div class="mat-tab-div">
            <div class="mat-tab-div">
              <div class="row">
                <div class="col-sm">
                  <h1>Pregled tipova plaćanja</h1>
                  <div class="red-line"></div>
                </div>
                <div class="col-sm text-right">
                  <button
                    mat-button
                    class="default-btn"
                    (click)="openAddPriceTypeDialog()"
                  >
                    Dodaj tip plaćanja
                  </button>
                </div>
              </div>
              <app-option-overview
                fControl="type"
                headerText="Izmena tipa plaćanja"
                [list]="listOfPriceTypes"
                columnSize="col-sm"
                (afterSubmitFunction)="getAllPriceTypes()"
                [service]="priceTypeService"
              ></app-option-overview>
            </div>
          </div>
        </mat-tab>
        <mat-tab #paymentPeriod label="Period plaćanja">
          <div class="mat-tab-div">
            <div class="mat-tab-div">
              <div class="mat-tab-div">
                <div class="row">
                  <div class="col-sm">
                    <h1>Pregled perioda plaćanja</h1>
                    <div class="red-line"></div>
                  </div>
                  <div class="col-sm text-right">
                    <button
                      mat-button
                      class="default-btn"
                      (click)="openAddPaymentPeriodDialog()"
                    >
                      Dodaj period plaćanja
                    </button>
                  </div>
                </div>
                <app-option-overview
                  [list]="listOfPaymentPeriods"
                  fControl="value"
                  headerText="Izmena perioda plaćanja"
                  columnSize="col-sm"
                  (afterSubmitFunction)="getAllPaymentPeriods()"
                  [service]="paymentPeriodService"
                ></app-option-overview>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab #filedStatus label="Statusi">
          <div class="mat-tab-div">
            <div class="mat-tab-div">
              <div class="mat-tab-div">
                <div class="row">
                  <div class="col-sm">
                    <h1>Pregled statusa</h1>
                    <div class="red-line"></div>
                  </div>
                  <div class="col-sm text-right">
                    <button
                      mat-button
                      class="default-btn"
                      (click)="openAddFiledStatusDialog()"
                    >
                      Dodaj status nekretnine
                    </button>
                  </div>
                </div>
                <app-option-overview
                  [list]="listOfFiledStatuses"
                  fControl="status"
                  headerText="Izmena statusa nekretnine"
                  columnSize="col-sm"
                  (afterSubmitFunction)="getAllFiledStatuses()"
                  [service]="filedStatusService"
                ></app-option-overview>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab #municipalityTab label="Opštine">
          <div class="mat-tab-div">
            <div class="row">
              <div class="col-sm">
                <h1>Pregled opština</h1>
                <div class="red-line"></div>
              </div>
              <div class="col-sm text-right">
                <button
                  mat-button
                  class="default-btn"
                  (click)="openAddMunicipalityDialog()"
                >
                  Dodaj opštinu
                </button>
              </div>
            </div>
            <app-option-overview
              [list]="listOfMunicipalities"
              fControl="status"
              headerText="Izmena opštine"
              columnSize="col-sm"
              [isMunicipality]="true"
              (afterSubmitFunction)="getAllMunicipalities()"
              [service]="municipalityService"
            ></app-option-overview>
          </div>
        </mat-tab>
        <mat-tab #extraInfo label="Dodatne informacije">
          <div class="mat-tab-div">
            <div class="row">
              <div class="col-sm">
                <h1>Pregled dodatnih informacija</h1>
                <div class="red-line"></div>
              </div>
              <div class="col-sm text-right">
                <button
                  mat-button
                  class="default-btn"
                  (click)="openAddExtraInfoDialog()"
                >
                  Dodaj dodatnu informaciju
                </button>
              </div>
            </div>
          </div>
          <div class="option-container">
            <div
              class="extra-info-row row"
              *ngFor="let extraInfo of listOfExtraInfos"
              style="margin: 1em"
            >
              <div class="col-sm-2">
                <img
                  class="img-fluid"
                  width="50px"
                  src="data:image/jpg;base64,{{ extraInfo.image }}"
                />
              </div>
              <div class="col-sm">
                <h4>Naziv</h4>
                <h3 style="line-height: 3px">{{ extraInfo.value }}</h3>
              </div>
              <div>
                <button
                  mat-icon-button
                  color="warn"
                  (click)="deleteExtraInfo(extraInfo.id)"
                >
                  <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon (click)="openEditExtraInfoDialog(extraInfo)"
                    >mode</mat-icon
                  >
                </button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab #extraRoom label="Dodatne prostorije">
          <div class="mat-tab-div">
            <div class="row">
              <div class="col-sm">
                <h1>Pregled dodatnih prostorija</h1>
                <div class="red-line"></div>
              </div>
              <div class="col-sm text-right">
                <button
                  mat-button
                  class="default-btn"
                  (click)="openAddExtraRoomDialog()"
                >
                  Dodaj
                </button>
              </div>
            </div>
            <app-option-overview
              fControl="type"
              headerText="Izmena dodatne prostorije"
              [list]="listOfExtraRooms"
              columnSize="col-sm"
              (afterSubmitFunction)="getExtraRooms()"
              [service]="extraRoomService"
            ></app-option-overview>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-step>
  </mat-vertical-stepper>
</div>
