<div class="dialog">
  <div class="row">
    <div class="col-sm-8">
      <h1>Pregled ponude</h1>
    </div>
    <div class="col-sm text-right">
      <h2>
        <span>Cena: {{ offer.price }}€</span>
      </h2>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="offer-info">
    <div class="offer-card">
      <h3><span>Infomaricije o klijentu</span></h3>
      <h4 *ngIf="offer.owner">
        <span>Ime i prezime:</span> {{ offer.owner.person?.firstName }}
        {{ offer.owner.person?.lastName | capitalize }}
      </h4>
      <div *ngIf="offer.owner">
        <h4 *ngFor="let contact of offer.owner.person?.contacts">
          <span *ngIf="contact.value">Kontakt:</span> {{ contact.value }}
        </h4>
      </div>
    </div>
    <div class="offer-card">
      <h3><span>Informacije o nekretnini</span></h3>
      <h4 *ngIf="offer.category">
        <span>Kategorija:</span> {{ offer.category?.name | capitalize }}
      </h4>
      <h4 *ngIf="offer.area"><span>Površina:</span> {{ offer.area }}</h4>
      <h4 *ngIf="offer.propertyArea">
        <span>Površina placa:</span> {{ offer.propertyArea }}
      </h4>
      <h4 *ngIf="offer.floor">
        <span>Sprat:</span> {{ offer.floor?.name | capitalize }}
      </h4>
      <h4 *ngIf="offer.structure">
        <span>Struktura:</span> {{ offer.structure?.type | capitalize }}
      </h4>
      <h4>
        <span>Tip transakcije:</span>
        {{ offer.saleType | capitalize | translate }}
      </h4>
    </div>
    <div class="offer-card">
      <h3><span>Informacije o lokaciji</span></h3>

      <h4 *ngIf="offer.address">
        <span>Grad:</span> {{ offer.city?.name | capitalize }}
      </h4>
      <h4 *ngIf="offer.address">
        <span>Adresa:</span> {{ offer.address }}
      </h4>
    </div>
  </div>
</div>
