<div class="option-container">
  <div class="row" *ngFor="let option of list">
    <div class="{{ columnSize }}" *ngFor="let item of option | keyvalue">
      <h3 *ngIf="item.key !== 'id'">{{ item.value }}</h3>
    </div>
    <div class="{{ columnSize }}">
      <button mat-icon-button color="warn" (click)="delete(option.id)">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-icon-button (click)="update(option)">
        <mat-icon>mode</mat-icon>
      </button>
    </div>
  </div>
</div>
