.row {
  border: 1px solid #eee;
  margin: 1em;
  padding: 0.2em;
}

.option-container {
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*# sourceMappingURL=option-overview.component.css.map */
