@use "src/styles"

mat-spinner
  margin-left: 45%
  margin-top: 10%

.binding-container
  margin-top: 2em

.header-row
  padding: 0em .5em
  -webkit-box-shadow: -2px 17px 46px -50px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: -2px 17px 46px -50px rgba(0, 0, 0, 0.69)
  box-shadow: -2px 17px 46px -30px rgba(0, 0, 0, 0.69)
  border-radius: 8px
  background-color: styles.$light-red
  color: #fff

  h4
    font-weight: normal
    padding-top: 1em


.binding-rows
  margin: 2em
  max-height: 500px
  overflow-x: hidden
  overflow-y: scroll

.item
  border: 1px solid styles.$more-silver
  border-radius: 8px
  margin: 2em 1em
  padding: 1em 3em
  -webkit-box-shadow: -2px 17px 46px -40px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: -2px 17px 46px -40px rgba(0, 0, 0, 0.69)
  box-shadow: -2px 17px 46px -42px rgba(0, 0, 0, 0.69)

  h4
    padding-top: 1em


.border-btn
  margin-top: 0 !important

.default-btn
  margin-top: 0 !important
