<div class="content">
  <h1>Ponude</h1>
  <div class="red-line"></div>
  <div class="binding-container">
    <div class="row header-row">
      <div class="col-sm">
        <h4>Tip transakcije</h4>
      </div>
      <div class="col-sm">
        <h4>Tip nekretnine</h4>
      </div>
      <div class="col-sm">
        <h4>Cena</h4>
      </div>
      <div class="col-sm">
        <h4>Datum</h4>
      </div>
      <div class="col-sm"></div>
    </div>

    <mat-spinner #spinner></mat-spinner>
    <div class="binding-rows">
      <div class="row item" *ngFor="let offer of listOfOffers">
        <div class="col-sm">
          <h4>{{ offer.saleType | capitalize | translate }}</h4>
        </div>
        <div class="col-sm">
          <h4 *ngIf="offer.category">{{ offer.category.name | capitalize }}</h4>
        </div>
        <div class="col-sm">
          <h4 *ngIf="offer.floor">{{ offer.price }}</h4>
        </div>
        <div class="col-sm">
          <h4 *ngIf="offer.createdDate">
            {{offer.createdDate|moment:'DD/MM/YYYY'}}
          </h4>
        </div>
        <div class="col-sm-4">
          <button
            mat-button
            class="default-btn"
            style="margin: 1em"
            (click)="openOfferOverviewDialog(offer)"
          >
            Pregledaj
          </button>
          <button mat-button class="border-btn" (click)="deleteOffer(offer.id)">
            Obriši
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
