<div class="dialog">
  <h1>{{ data.firstName + " " + data.lastName }}</h1>
  <h4><span>Email </span>{{ data.email }}</h4>
  <h4><span>Telefon </span>{{ data.phone }}</h4>

  <mat-divider></mat-divider>
  <p [innerHTML]="data.message"></p>
</div>
