<div class="row" *ngIf="value && value !== '' && value !== []">
  <div class="col-6" style="padding-left: 0">
    <h4 *ngIf="value !== ''">{{ key }}</h4>
  </div>
  <div class="col-6">
    <h3 *ngIf="!secondValue">
      <b
        ><span *ngIf="titleCase">{{
          value | titlecase | realEstatePropertyToUppercase
        }}</span>
        <span *ngIf="!titleCase">{{
          value | capitalize | realEstatePropertyToUppercase
        }}</span>
        <span *ngIf="currency">{{ currency }}</span></b
      >
    </h3>
    <h3 *ngIf="secondValue && value.length > 0">
      <b>{{ secondValue }}</b>
    </h3>
  </div>
</div>
