@use "src/styles"
.step-content
  margin-top: 1em

button
  margin: .5em

h3
  margin: 1em


mat-form-field
  width: 100%

mat-option
  padding: 1em

agm-map
  height: 50vh

mat-spinner
  margin-left: 50%
  margin-top: 20%
  z-index: 3
  position: absolute

.left-menu-h4
  border-left: 5px solid styles.$light-red
  padding: 1em
  font-weight: bold

.row
  padding: 5em 10em

.default-btn
  padding: .5em 0
  width: 20% !important
  margin-top: 2em

.border-btn
  width: 10%

.inactive
  border-left: 5px solid styles.$more-silver
  padding: 1em
  cursor: pointer
  font-weight: bold
  -webkit-transition: .25s linear

  h4
    pointer-events: none

.active
  @extend .inactive
  border-left: 5px solid styles.$light-red
  transition: .5s ease

  h4
    font-weight: bold
    pointer-events: none

.fix-height
  height: 550px
  overflow-y: scroll
  padding-right: 3em

.mini-step
  min-height: 100%

.inline
  display: inline-flex
  width: 100%

  .column
    margin-right: 1em
    width: 48%

  .column-7
    margin-right: 1em
    width: 68%

  .column-3
    margin-right: 1em
    width: 28%

input[type="file"]
  display: none

.custom-upload
  padding: 4em 3em
  border-radius: 20px
  border: 2px dashed styles.$more-silver
  width: 100%
  text-align: center

.col-9
  padding-left: 4em

.col-3
  border-right: 1.5px solid styles.$light-red

.real-estate-img
  width: 100%
  height: 70%

.slide-img
  height: 200px
  width: 100%

.float-btn
  position: fixed
  bottom: 4rem
  z-index: 3
  right: 4rem
  background-color: styles.$default-black

.img-card
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  width: 100%
  -webkit-transition: .3s linear
  height: 200px

.col-2
  transition: .5s linear
  -webkit-transition: .3s linear
