<mat-spinner #spinner diameter="50"></mat-spinner>
<div class="text-right">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-tab-group #tab dynamicHeight animationDuration="300ms">
  <mat-tab label="Osnovne informacije">
    <div class="row">
      <div class="col-3">
        <h4 class="left-menu-h4">Osnovne informacije</h4>
      </div>
      <div class="col-9">
        <div class="fix-height">
          <h1>Osnovne informacije</h1>
          <app-form-input
            [model]="data ? data.code : null"
            [config]="codeInputConfig"
            isRequired="true"
            [group]="basicInfoForm"
            label="Šifra"
          ></app-form-input>
          <app-form-input
            [model]="data ? data.name : null"
            [config]="nameInputConfig"
            isRequired="true"
            [group]="basicInfoForm"
            label="Naziv"
          >
          </app-form-input>
          <app-form-select
            [model]="data ? data.category : null"
            label="Kategorija"
            isRequired="true"
            [config]="categorySelectConfig"
            (selectionChange)="validatePropertyArea()"
            [group]="basicInfoForm"
          ></app-form-select>
          <app-form-select-name
            [group]="basicInfoForm"
            isRequired="true"
            [config]="saleTypeSelectConfig"
            label="Tip transakcije"
          ></app-form-select-name>
          <app-form-select-name
            label="Tip prikazane cene"
            isRequired="true"
            [config]="priceDisplayTypeSelectConfig"
            [group]="basicInfoForm"
          ></app-form-select-name>
          <app-form-select
            [model]="data ? data.priceType : null"
            label="Tip cene"
            isRequired="true"
            [config]="priceTypeSelectConfig"
            bindValue="type"
            [group]="basicInfoForm"
          ></app-form-select>
          <app-form-input
            [model]="data ? data.price : null"
            label="Cena"
            isRequired="true"
            type="number"
            [group]="basicInfoForm"
            [config]="priceInputConfig"
          ></app-form-input>
          <app-form-input
            type="number"
            [model]="data ? data.priceDiscounted : null"
            label="Cena sa popustom"
            [group]="basicInfoForm"
            [config]="priceDiscountedInputConfig"
          ></app-form-input>
          <app-form-select-name
            [group]="basicInfoForm"
            [config]="statusSelectConfig"
            label="Status"
          ></app-form-select-name>
          <ckeditor #editor [editor]="Editor"></ckeditor>
        </div>
        <button
          class="default-btn"
          (click)="tab.selectedIndex = tab.selectedIndex + 1"
          [disabled]="!basicInfoForm.valid"
          mat-button
        >
          Napred
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab
    [disabled]="!characteristicsForm.valid"
    #characteristicTab
    label="Karakteristike"
  >
    <div class="row">
      <div class="col-3" id="navigationMenu">
        <a (click)="changeColor($event)">
          <div
            (click)="scrollToElement(navigationMenu[0].navigateTo)"
            class="active"
          >
            <h4>{{ navigationMenu[0].title }}</h4>
          </div>
        </a>
        <a (click)="changeColor($event)">
          <div
            (click)="scrollToElement(item.navigateTo)"
            *ngFor="let item of navigationMenu | slice: 1:navigationMenu.length"
            class="inactive"
          >
            <h4>{{ item.title }}</h4>
          </div>
        </a>
      </div>
      <div class="col-9">
        <div class="fix-height">
          <div class="mini-step" id="realEstateInfo">
            <h1>Informacije o nekretnini</h1>
            <app-form-select
              bindValue="type"
              [model]="data ? data.structure : null"
              [group]="characteristicsForm"
              [config]="structureSelectConfig"
              label="Struktura"
            ></app-form-select>
            <app-form-select
              [model]="data ? data.floor : null"
              [group]="characteristicsForm"
              [config]="floorSelectConfig"
              bindValue="name"
              label="Sprat"
            ></app-form-select>
            <app-form-input
              type="number"
              [group]="characteristicsForm"
              [model]="data ? data.buildingFloors : null"
              [config]="buildingFloorsInputConfig"
              label="Ukupno spratova"
            ></app-form-input>
            <app-form-input
              type="number"
              isRequired="true"
              [group]="characteristicsForm"
              [model]="
                data ? data.area * data.areaUnit?.conversionFactor : null
              "
              [config]="areaInputConfig"
              label="Površina"
            ></app-form-input>
            <app-form-select
              bindValue="value"
              [model]="data ? data.areaUnit : null"
              [group]="characteristicsForm"
              isRequired="true"
              [config]="areaUnitSelectInputConfig"
              label="Merna jedinica"
            ></app-form-select>
            <app-form-select
              [config]="filedStatusSelectConfig"
              bindValue="status"
              [model]="data ? data.filedStatus : null"
              [group]="characteristicsForm"
              label="Uknjiženi status"
            ></app-form-select>
            <app-form-input
              [config]="filedAreaInputConfig"
              [model]="data ? data.filedArea : null"
              [group]="characteristicsForm"
              type="number"
              label="Uknjižena površina"
            ></app-form-input>
            <app-form-input
              [group]="characteristicsForm"
              [model]="data ? data.constructionYear : null"
              [config]="constructionYearInputConfig"
              label="Godina izgradnje"
            ></app-form-input>
            <app-form-select
              [group]="characteristicsForm"
              bindValue="type"
              [model]="data ? data.furniture : null"
              [config]="furnitureStatusSelectConfig"
              label="Nameštenost"
            ></app-form-select>
            <app-form-input
              [group]="characteristicsForm"
              [model]="data ? data.ceilingHeight : null"
              [config]="ceilingHeightInputConfig"
              type="number"
              label="Visina plafona u metrima"
            ></app-form-input>
            <app-form-multiple-select
              fName="carpentries"
              bindValue="type"
              [model]="data ? data.carpentries : []"
              [displayList]="listOfCarpentries"
              [group]="characteristicsForm"
              label="Stolarija"
            ></app-form-multiple-select>
            <app-form-input
              [config]="wcCountInputConfig"
              [model]="data ? data.wcCount : null"
              label="Broj mokrih čvorova"
              type="number"
              [group]="characteristicsForm"
            ></app-form-input>
            <app-form-input
              [config]="bathroomCountInputConfig"
              type="number"
              [model]="data ? data.bathroomCount : null"
              [group]="characteristicsForm"
              label="Broj kupatila"
            ></app-form-input>
            <app-form-input
              [config]="roomCountInputConfig"
              [model]="data ? data.roomCount : null"
              label="Ukupan broj soba"
              type="number"
              [group]="characteristicsForm"
            ></app-form-input>
            <app-form-multiple-select
              [group]="characteristicsForm"
              [model]="data ? data.heatings : []"
              [displayList]="listOfHeatings"
              fName="heatings"
              bindValue="type"
              label="Izaberi tip/tipove grejanja"
            ></app-form-multiple-select>
            <app-form-multiple-select
              [group]="characteristicsForm"
              [model]="data ? data.extraRooms : []"
              [displayList]="listOfExtraRooms"
              fName="extraRooms"
              label="Izaberi dodatne prostorije"
            ></app-form-multiple-select>
            <app-form-multiple-select
              [group]="characteristicsForm"
              [model]="data ? data.parkings : []"
              [displayList]="listOfParkings"
              fName="parkings"
              bindValue="type"
              label="Izaberi tip/tipove parkinga"
            ></app-form-multiple-select>
            <app-form-input
              [model]="data ? data.bedroomCount : null"
              [config]="bedroomCountInputConfig"
              label="Broj spavaćih soba"
              [group]="characteristicsForm"
            ></app-form-input>
            <app-form-input
              [model]="data ? data.bedCount : null"
              [config]="bedCountInputConfig"
              label="Broj kreveta"
              [group]="characteristicsForm"
            ></app-form-input>
            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="moveIn"
                [ngModel]="data ? data.moveIn : false"
                >Useljivo odmah
              </mat-checkbox>
            </div>
            <div [formGroup]="characteristicsForm">
              <mat-form-field appearance="fill">
                <mat-label>Useljivo od</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="moveInDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <app-form-input
              [model]="data ? data.centerDistance : null"
              [config]="centerDistanceInputConfig"
              type="number"
              label="Udaljenost od centra u km"
              hint="Izražena u km"
              [group]="characteristicsForm"
            ></app-form-input>

            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="duplex"
                [ngModel]="data ? data.duplex : false"
                >Duplex
              </mat-checkbox>
            </div>
            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="renovated"
                [ngModel]="data ? data.renovated : false"
              >
                Renoviran
              </mat-checkbox>
            </div>
            <div [formGroup]="characteristicsForm">
              <mat-form-field appearance="fill">
                <mat-label>Datum renoviranja</mat-label>
                <input
                  matInput
                  [matDatepicker]="renovatedDatePicker"
                  formControlName="renovatedDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="renovatedDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #renovatedDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <ckeditor
              #whatsRenovatedEditor
              [config]="{ placeholder: 'Šta je renovirano' }"
              [editor]="WhatsRenovatedEditor"
            ></ckeditor>
          </div>
          <div class="mini-step" id="landInfo">
            <h1>Informacije o zemljištu</h1>
            <app-form-input
              type="number"
              [model]="
                data
                  ? data.propertyArea * data.propertyAreaUnit?.conversionFactor
                  : null
              "
              [group]="characteristicsForm"
              [isRequired]="isPropertyAreaRequired"
              label="Površina placa"
              [config]="propertyAreaInputConfig"
            ></app-form-input>
            <app-form-select
              [model]="data ? data.propertyAreaUnit : null"
              label="Merna jedinica"
              [group]="characteristicsForm"
              bindValue="value"
              [config]="propertyAreaUnitSelectInputConfig"
            ></app-form-select>
            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="propertyFenced"
                [ngModel]="this.data ? this.data.propertyFenced : false"
                >Ograda
              </mat-checkbox>
            </div>
            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="propertyElectricity"
                [ngModel]="this.data ? this.data.propertyElectricity : false"
                >Struja
              </mat-checkbox>
            </div>
            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="propertyWater"
                [ngModel]="this.data ? this.data.propertyWater : false"
              >
                Voda
              </mat-checkbox>
            </div>
            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="propertyGas"
                [ngModel]="this.data ? this.data.propertyGas : false"
                >Gas
              </mat-checkbox>
            </div>
          </div>
          <div class="mini-step" id="expensesInfo">
            <h1>Troškovi</h1>
            <app-form-input
              [model]="data ? data.expensesInfostan : null"
              [config]="expensesInfostanInputConfig"
              [group]="characteristicsForm"
              label="Infostan"
              type="number"
              [model]="data ? data.expensesInfostan : null"
            ></app-form-input>
            <app-form-input
              [config]="expensesElectricityInputConfig"
              [group]="characteristicsForm"
              label="Struja"
              type="number"
              [model]="data ? data.expensesElectricity : null"
            ></app-form-input>
            <app-form-input
              [config]="expensesMaintenanceInputConfig"
              [group]="characteristicsForm"
              label="Održavanje"
              type="number"
              [model]="data ? data.expensesMaintenance : null"
            ></app-form-input>
            <app-form-input
              [config]="expensesCableInputConfig"
              [group]="characteristicsForm"
              type="number"
              label="Kablovska"
              [model]="data ? data.expensesCable : null"
            ></app-form-input>
            <app-form-input
              [config]="expensesInternetInputConfig"
              [group]="characteristicsForm"
              label="Internet"
              type="number"
              [model]="data ? data.expensesInternet : null"
            ></app-form-input>
            <app-form-input
              [config]="expensesPhoneInputConfig"
              [group]="characteristicsForm"
              label="Fiksni telefon"
              type="number"
              [model]="data ? data.expensesPhone : null"
            ></app-form-input>
            <app-form-input
              [config]="expensesTaxesInputConfig"
              [group]="characteristicsForm"
              label="Porez na imovinu"
              type="number"
              [model]="data ? data.expensesTaxes : null"
            ></app-form-input>
          </div>
          <div class="mini-step" id="termOfLease">
            <h1>Uslovi zakupa</h1>
            <app-form-input
              type="number"
              [model]="data ? data.termsDeposit : null"
              [group]="characteristicsForm"
              [config]="termsDepositInputConfig"
              label="Depozit u €"
            ></app-form-input>
            <app-form-input
              type="number"
              [model]="data ? data.termsMinimumLease : null"
              [group]="characteristicsForm"
              [config]="termsMinimumLeaseInputConfig"
              label="Minimalni zakup"
            ></app-form-input>
            <app-form-select
              bindValue="value"
              [model]="data ? data.termsPaymentPeriod : null"
              [group]="characteristicsForm"
              [config]="termsPaymentPeriodSelectConfig"
              label="Period plaćanja"
              type="number"
            ></app-form-select>
            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="termsPets"
                [ngModel]="this.data ? this.data.termsPets : false"
                >Kućni ljubimci
              </mat-checkbox>
            </div>
          </div>
          <div class="mini-step" id="equipment">
            <h1>Opremljenost nekretnine</h1>
            <div [formGroup]="characteristicsForm">
              <mat-form-field appearance="fill">
                <mat-label>Dodatne informacije</mat-label>
                <mat-select
                  [compareWith]="compareObjects"
                  [ngModel]="data ? data.extraInfos : ''"
                  formControlName="extraInfos"
                  multiple
                >
                  <mat-option
                    *ngFor="let extraInfo of listOfExtraInfos"
                    [value]="extraInfo"
                  >
                    <img
                      class="img-fluid"
                      width="25px"
                      src="data:image/jpg;base64,{{ extraInfo.image }}"
                    />
                    {{ extraInfo.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="mini-step" id="objectEquipment">
            <h1>Opremljenost objekta</h1>
            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="buildingIntercom"
                [ngModel]="this.data ? this.data.buildingIntercom : false"
              >
                Interfon
              </mat-checkbox>
            </div>
            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="buildingElevator"
                [ngModel]="this.data ? this.data.buildingElevator : false"
                >Lift
              </mat-checkbox>
            </div>
            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="buildingCamera"
                [ngModel]="this.data ? this.data.buildingCamera : false"
                >Kamere
              </mat-checkbox>
            </div>
            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="buildingAccessibility"
                [ngModel]="this.data ? this.data.buildingAccessibility : false"
                >Rampa
              </mat-checkbox>
            </div>
            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="buildingSecurity"
                [ngModel]="this.data ? this.data.buildingSecurity : false"
              >
                Obezbeđenje
              </mat-checkbox>
            </div>
          </div>
        </div>
        <button
          class="border-btn"
          (click)="tab.selectedIndex = tab.selectedIndex - 1"
          mat-button
        >
          Nazad
        </button>
        <button
          [disabled]="!characteristicsForm.valid"
          class="default-btn"
          (click)="tab.selectedIndex = tab.selectedIndex + 1"
          mat-button
        >
          Napred
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab
    [disabled]="!ownerForm.valid || !addressForm.valid"
    #locationTab
    label="Lokacija i kontakt"
  >
    <div class="row">
      <div class="col-3">
        <a (click)="changeColor($event)">
          <div
            (click)="scrollToElement(locationAndContactNavMenu[0].navigateTo)"
            class="active"
          >
            <h4>{{ locationAndContactNavMenu[0].title }}</h4>
          </div>
        </a>
        <a (click)="changeColor($event)">
          <div
            (click)="scrollToElement(item.navigateTo)"
            *ngFor="
              let item of locationAndContactNavMenu
                | slice: 1:locationAndContactNavMenu.length
            "
            class="inactive"
          >
            <h4>{{ item.title }}</h4>
          </div>
        </a>
      </div>
      <div class="col-9">
        <div class="fix-height">
          <div class="mini-step" id="ownerInfo">
            <h1>Informacije o vlasniku</h1>
            <app-form-input
              label="Ime vlasnika"
              [model]="data ? data.owner?.person?.firstName : null"
              [config]="firstNameInputConfig"
              isRequired="true"
              [group]="ownerForm"
            ></app-form-input>
            <app-form-input
              [model]="data ? data.owner?.person?.lastName : null"
              label="Prezime vlasnika"
              [config]="lastNameInputConfig"
              isRequired="true"
              [group]="ownerForm"
            ></app-form-input>
            <form [formGroup]="ownerForm">
              <mat-form-field appearance="fill">
                <mat-label>Napomena</mat-label>
                <textarea matInput formControlName="agentNote"></textarea>
              </mat-form-field>
            </form>
            <div class="inline">
              <div class="column">
                <app-form-input
                  [model]="ownerTelephone ? ownerTelephone.value : null"
                  label="Kontakt telefon vlasnika"
                  [group]="ownerForm"
                  [config]="telephoneInputConfig"
                  isRequired="true"
                  icon="phone"
                ></app-form-input>
              </div>
              <div class="column">
                <app-form-input
                  [model]="ownerEmail ? ownerEmail.value : null"
                  label="Email vlasnika"
                  [group]="ownerForm"
                  [config]="emailInputConfig"
                  icon="phone"
                ></app-form-input>
              </div>
            </div>
            <app-form-input
              label="Ime kontakt osobe"
              [model]="data ? data.contactPerson?.person?.firstName : null"
              [config]="firstNameInputConfig"
              [group]="contactPersonForm"
            ></app-form-input>
            <app-form-input
              label="Prezime kontakt osobe"
              [model]="data ? data.contactPerson?.person?.lastName : null"
              [config]="lastNameInputConfig"
              [group]="contactPersonForm"
            ></app-form-input>
            <div class="inline">
              <div class="column">
                <app-form-input
                  [model]="
                    contactPersonTelephone ? contactPersonTelephone.value : null
                  "
                  [group]="contactPersonForm"
                  label="Kontakt telefon kontakt osobe"
                  [config]="telephoneInputConfig"
                  icon="phone"
                ></app-form-input>
              </div>
              <div class="column">
                <app-form-input
                  [model]="contactPersonEmail ? contactPersonEmail.value : null"
                  label="Email kontakt osobe"
                  [group]="contactPersonForm"
                  [config]="emailInputConfig"
                  icon="phone"
                ></app-form-input>
              </div>
            </div>
            <app-form-input
              label="Broj katastarske parcele"
              [model]="data ? data.cadastreNumber : null"
              [config]="cadastreNumberInputConfig"
              [group]="characteristicsForm"
            ></app-form-input>
          </div>
          <div class="mini-step" id="location">
            <h1>Lokacija</h1>
            <div class="inline">
              <div class="column-7">
                <app-form-input
                  [model]="data ? data.address?.street : ''"
                  label="Ulica"
                  isRequired="true"
                  [group]="addressForm"
                  [config]="streetInputConfig"
                ></app-form-input>
              </div>
              <div class="column-3">
                <app-form-input
                  [model]="data ? data.address?.number : ''"
                  label="Broj"
                  isRequired="true"
                  [group]="addressForm"
                  [config]="streetNoInputConfig"
                ></app-form-input>
              </div>
            </div>
            <div [formGroup]="addressForm">
              <mat-form-field appearance="fill">
                <mat-label>Opština</mat-label>
                <mat-select
                  formControlName="municipality"
                  [compareWith]="compareObjects"
                  required="true"
                  [ngModel]="data ? data.address?.municipality : null"
                >
                  <mat-option>-- None --</mat-option>
                  <mat-optgroup
                    *ngFor="let group of listOfCities"
                    [label]="group.name"
                  >
                    <mat-option
                      *ngFor="let municipality of group.municipalities"
                      [value]="municipality"
                    >
                      {{ municipality.name }}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </div>
            <app-form-input
              label="Širina"
              [model]="data ? data.latitude : null"
              type="number"
              [group]="characteristicsForm"
              [config]="latitudeInputConfig"
            ></app-form-input>
            <app-form-input
              label="Duzina"
              [model]="data ? data.longitude : null"
              type="number"
              [group]="characteristicsForm"
              [config]="longitudeInputConfig"
            ></app-form-input>
            <h3>
              Kliknite na mapu kako bi ste podesili tačnu lokaciju nekretnine
            </h3>
            <agm-map
              [longitude]="lng"
              [latitude]="lat"
              [zoom]="zoom"
              (mapClick)="getLongitudeAndLatitude($event)"
            >
            </agm-map>
          </div>
          <div class="mini-step" id="agent">
            <h1>Agenti</h1>
            <app-form-multiple-select
              [model]="data ? data.agents : []"
              label="Agenti"
              [displayList]="listOfAgents"
              fName="agents"
              [group]="characteristicsForm"
              bindValue="fullName"
            ></app-form-multiple-select>
          </div>
        </div>
        <button
          class="border-btn"
          (click)="tab.selectedIndex = tab.selectedIndex - 1"
          mat-button
        >
          Nazad
        </button>
        <button
          [disabled]="!ownerForm.valid || !addressForm.valid"
          class="default-btn"
          (click)="tab.selectedIndex = tab.selectedIndex + 1"
          mat-button
        >
          Napred
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab
    [disabled]="data ? false : fileUploadList.length === 0"
    #mediaTab
    label="Mediji"
  >
    <div class="row">
      <div class="col-3">
        <a (click)="changeColor($event)">
          <div
            (click)="scrollToElement(mediaNavMenu[0].navigateTo)"
            class="active"
          >
            <h4>{{ mediaNavMenu[0].title }}</h4>
          </div>
        </a>
        <a (click)="changeColor($event)">
          <div
            (click)="scrollToElement(item.navigateTo)"
            *ngFor="let item of mediaNavMenu | slice: 1:mediaNavMenu.length"
            class="inactive"
          >
            <h4>{{ item.title }}</h4>
          </div>
        </a>
      </div>
      <div class="col-9">
        <div class="fix-height">
          <div class="mini-step" id="picture">
            <h1>Slike</h1>
            <h4 *ngIf="fileUploadList.length > 0">
              Za slanje <b>{{ fileUploadList.length }}</b> slika
            </h4>
            <label class="custom-upload">
              <input
                type="file"
                name="file"
                multiple
                id="customFile"
                (change)="addFiles($event.target.files)"
              />
              <img
                src="../../../../../../../assets/img/light-logo.png"
                width="200px"
                class="img-fluid"
              />
            </label>
            <div [formGroup]="characteristicsForm">
              <mat-checkbox
                formControlName="pinned"
                [ngModel]="data ? data.pinned : false"
                >Pinovani oglas
              </mat-checkbox>
            </div>
            <div
              class="row"
              style="padding: 3em 0"
              *ngIf="fileUploadList.length > 0"
            >
              <div
                class="col-2"
                (dragstart)="drag(media)"
                (drop)="dropOnUpload(media)"
                (dragover)="allowDrop($event)"
                (dragleave)="drLeave($event)"
                draggable="true"
                style="padding: 1em; border: 1px solid #eee; cursor: grab"
                *ngFor="let media of fileUploadList"
              >
                <div
                  class="img-card"
                  [style.background-image]="'url(' + media.url + ')'"
                >
                  <button
                    mat-fab
                    color="warn"
                    (click)="removeFromFileUploadList(media)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="row" style="padding: 3em 0" *ngIf="data">
              <div
                class="col-2"
                (dragstart)="drag(media)"
                (drop)="drop(media)"
                (dragover)="allowDrop($event)"
                (dragleave)="drLeave($event)"
                draggable="true"
                style="padding: 1em; border: 1px solid #eee; cursor: grab"
                *ngFor="let media of data.medias"
              >
                <div
                  class="img-card"
                  [style.background-image]="
                    'url(' + URL_PREFIX + '/' + media.uri + ')'
                  "
                >
                  <button mat-fab color="warn" (click)="deleteImage(media)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="mini-step" id="video">
            <h1>Video</h1>
            <app-form-input
              [model]="youtubeLink"
              [config]="youtubeLinkInputConfig"
              [group]="mediaForm"
              label="Youtube video"
            ></app-form-input>
          </div>
        </div>
        <mat-progress-bar
          *ngIf="fileUploadIndex > 0"
          style="margin-top: 1em"
          mode="determinate"
          [value]="(fileUploadIndex * 100) / fileUploadList.length"
        ></mat-progress-bar>
        <h4 *ngIf="fileUploadIndex > 0">
          Uspešno poslatih {{ fileUploadIndex }}/{{ uploadArraySize }}
        </h4>
        <button
          class="border-btn"
          (click)="tab.selectedIndex = tab.selectedIndex - 1"
          mat-button
        >
          Nazad
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<div style="margin: 1em 0" class="text-right">
  <button
    [disabled]="
      !ownerForm.valid ||
      !addressForm.valid ||
      !characteristicsForm.valid ||
      isFloatingBtnDisabled
    "
    class="float-btn"
    (click)="save()"
    mat-fab
  >
    <mat-icon>save</mat-icon>
  </button>
</div>
