<div class="dynamic-field form-select" [formGroup]="group">
  <mat-form-field appearance="fill">
    <mat-label>{{ label }}</mat-label>
    <mat-select
      [formControlName]="config.name"
      [required]="isRequired"
      (selectionChange)="selectionChange.emit(true)"
    >
      <mat-option aria-selected="true">---</mat-option>
      <mat-option *ngFor="let item of config.options" [value]="item.id">
        {{ item.name | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
