@import "src/styles"

mat-spinner
  margin: 15% 0 0 45%

table
  width: 100%
  margin-top: 5em

.border-col-btn
  @extend .border-btn
  width: 20%
  margin: .7em

.green
  @extend .border-col-btn
  color: $success-green
  border: 1px solid $success-green
