<div class="content">
  <h1>Poruke</h1>
  <mat-spinner #spinner></mat-spinner>

  <table
    mat-table
    [dataSource]="listOfContactMessages"
    class="mat-elevation-z8 text-center"
  >
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef class="text-center">Ime</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef class="text-center">Prezime</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        Datum kreiranja poruke
      </th>
      <td mat-cell *matCellDef="let element">
        {{
        element.createdDate|moment:'DD/MM/YYYY'
        }}
      </td>
    </ng-container>
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="text-center">
          <button
            class="border-col-btn green"
            mat-button
            (click)="openContactMessageDialog(element)"
          >
            Pregledaj
          </button>
          <button
            class="border-col-btn red"
            mat-button
            (click)="deleteContactMessage(element.id)"
          >
            Obriši
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
