@use "src/styles"
mat-spinner
  margin-left: 30%
  margin-top: 10%
  position: absolute
  z-index: 3

table
  width: 100%
  margin-top: 5em

.border-col-btn
  @extend .border-btn
  width: 20%
  margin: .7em

.orange
  @extend .border-col-btn
  color: styles.$orange
  border: 1px solid styles.$orange


.green
  @extend .border-col-btn
  color: styles.$success-green
  border: 1px solid styles.$success-green

