<div class="content">
  <div class="row">
    <div class="col-sm">
      <h1>Agenti</h1>
    </div>
    <div class="col-sm text-right">
      <button class="default-btn" mat-button (click)="openAddAgentDialog()">
        Dodaj agenta
      </button>
    </div>
  </div>
  <mat-spinner #spinner></mat-spinner>
  <table
    mat-table
    [dataSource]="listOfAgents"
    class="mat-elevation-z8 text-center"
  >
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef class="text-center">Ime</th>
      <td mat-cell *matCellDef="let element">
        {{ element.agent.person.firstName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef class="text-center">Prezime</th>
      <td mat-cell *matCellDef="let element">
        {{ element.agent.person.lastName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="text-center">
          <button
            class="border-col-btn orange"
            mat-button
            (click)="openAgentOverviewDialog(element)"
          >
            Pregledaj
          </button>
          <button
            class="border-col-btn green"
            mat-button
            (click)="openEditAgentDialog(element)"
          >
            Izmeni
          </button>
          <button
            class="border-col-btn red"
            mat-button
            (click)="deleteAgent(element.id)"
          >
            Obriši
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
