<swiper
  [autoplay]="{
    delay: 1000
  }"
  style="padding: 3em"
  [slidesPerView]="mobileService.isMobile ? 1 : 3"
  navigation="true"
  [spaceBetween]="20"
  loop="true"
>
  <ng-container *ngFor="let partner of partners; index as i">
    <ng-template swiperSlide>
      <a [href]="partner.path">
        <img [src]="partner.url" loading="lazy" class="img-fluid" />
      </a>
    </ng-template>
    <div class="swiper-pagination"></div>
  </ng-container>
</swiper>
