<div class="dialog">
  <h1>Dodavanje agenta</h1>
  <mat-divider></mat-divider>
  <app-form-input
    label="Username"
    [model]="data.username"
    [group]="agentForm"
    [config]="usernameInputConfig"
  ></app-form-input>
  <form [formGroup]="agentForm">
    <mat-form-field appearance="fill">
      <mat-label>Privilegije</mat-label>
      <mat-select multiple formControlName="roles">
        <mat-option
          (click)="addSelectedRole(role)"
          *ngFor="let role of listOfRoles"
          [value]="role.id"
        >
          {{ role.name | role }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <app-form-input
    label="Ime"
    [model]="data.agent?.person?.firstName"
    [group]="agentForm"
    [config]="firstNameInputConfig"
  ></app-form-input>
  <app-form-input
    label="Prezime"
    [model]="data.agent?.person?.lastName"
    [group]="agentForm"
    [config]="lastNameInputConfig"
  ></app-form-input>
  <app-form-input
    icon="phone"
    label="Telefon"
    [group]="agentForm"
    [config]="telephoneInputConfig"
  ></app-form-input>
  <app-form-input
    icon="alternate_email"
    label="Email"
    [group]="agentForm"
    [config]="emailInputConfig"
  ></app-form-input>
  <button
    class="default-btn"
    mat-button
    (click)="update()"
    [disabled]="!agentForm.valid"
  >
    Ažuriraj
  </button>
  <mat-spinner #spinner></mat-spinner>
</div>
