@use "src/styles"
.change-password
  padding-top: 10%
  background: rgb(255, 255, 255)
  background: linear-gradient(24deg, rgba(255, 255, 255, 1) 82%, rgba(255, 20, 20, 1) 82%)
  height: 100vh

  .col-sm-7
    padding: 5em
    margin: 1em
    -webkit-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
    -moz-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
    box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)


mat-spinner
  margin-left: 45%
  margin-top: 5%
  display: none

.valid-pass-col
  padding: 5em
  margin: 1em
  -webkit-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)


li
  font-size: 17px
  font-weight: bold
  list-style-type: none
  color: #fff

.red, .green, .orange
  padding: .5em
  margin: 1em 0

.green
  background-color: styles.$success-green

.orange
  background-color: styles.$light-orange
  color: styles.$default-black

.red
  background-color: styles.$light-red
