<div class="change-password">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-7">
        <h1>Promena korisničke lozinke</h1>

        <app-form-input
          type="password"
          [group]="changePasswordForm"
          icon="lock"
          label="Nova šifra"
          [config]="passwordInputConfig"
        ></app-form-input>
        <app-form-input
          type="password"
          [group]="changePasswordForm"
          icon="lock"
          label="Potvrda šifre"
          [config]="confirmPasswordInputConfig"
        ></app-form-input>
        <app-form-input
          type="password"
          [group]="changePasswordForm"
          icon="lock"
          label="Stara šifra"
          [config]="previousInputConfig"
        ></app-form-input>

        <button
          class="default-btn"
          mat-button
          (click)="changePassword()"
          [disabled]="
            !(
              changePasswordForm.get('password')?.value ===
              changePasswordForm.get('confirm')?.value
            ) || !changePasswordForm.valid
          "
        >
          Izmeni
        </button>
        <mat-spinner #spinner></mat-spinner>
      </div>
      <div class="col-sm valid-pass-col">
        <h1>Validna šifra</h1>
        <ul>
          <li class="red">Barem jedno veliko slovo.</li>
          <li class="green">Barem jedan broj.</li>
          <li class="orange">Minimalna dužina 8(osam) karaktera.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
