<div class="dialog">
  <h1>Dodaj dodatnu informaciju</h1>
  <mat-divider></mat-divider>
  <app-form-input
    label="Naziv"
    [group]="extraInfoForm"
    [config]="valueInputConfig"
  ></app-form-input>
  <input
    type="file"
    name="file"
    id="customFile"
    (change)="addFiles($event.target.files)"
  />
  <button
    class="default-btn"
    (click)="save()"
    mat-button
    style="margin-top: 1em"
  >
    Sačuvaj
  </button>
  <mat-spinner #spinner diameter="25"></mat-spinner>
</div>
