<div class="inline page-div text-center mb-3">
  <button
    mat-button
    class="arrow m-2"
    (click)="previousPage()"
    [disabled]="initPage === 0"
  >
    <mat-icon> chevron_left </mat-icon>
  </button>
    <ng-container
      *ngFor="
      let page of pageFilter.numberOfPagesArr | slice: initPage:pageIncrement
    "
    >
      <h3 class="current-page m-2" *ngIf="page === pageFilter.currentPage">
        <span>{{ page + 1 }}</span>
      </h3>
      <h3
        class="page-h3 m-2"
        *ngIf="page !== pageFilter.currentPage"
        (click)="onPageChange.emit(page)"
      >
        {{ page + 1 }}
      </h3>
    </ng-container>
  <button
    mat-button
    class="arrow m-2"
    (click)="nextPage()"
    [disabled]="pageIncrement >= pageFilter.numberOfPages"
  >
    <mat-icon> chevron_right </mat-icon>
  </button>
</div>
