@import "src/styles"

.page-div
  margin-top: 1em
  -webkit-transition: .3s linear
  .page-h3
    padding: .5em 1em
    border: .5px solid #c2c2c2
    cursor: pointer
    -webkit-transition: .3s linear
  .page-h3:hover
    background-color: $default-black
    color: #fff
    transition: .5s linear

  .current-page
    color: #ffffff
    border: 0
    padding: .5em 1em
    background-color: $light-red
    pointer-events: none
    -webkit-transition: .3s linear
  .page-h3, .current-page
    border-radius: 8px

  .arrow
    border: 1px solid $more-silver
    border-radius: 8px
    cursor: pointer
