<form [formGroup]="group">
  <mat-form-field appearance="fill">
    <mat-label>{{ label }}</mat-label>
    <mat-select
      [compareWith]="compareObjects"
      [(ngModel)]="model"
      [formControlName]="fName"
      multiple
    >
      <mat-option *ngFor="let item of displayList" [value]="item">
        {{ item[bindValue] }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
