@use "src/styles"

.estate-info-div
  padding: 1em 0

  .header-txt
    font-weight: bold
    color: styles.$main-red

  h3
    line-height: 15px

.header-info
  h4
    line-height: 10px

.info-card
  padding: 2em


.slide-img
  height: 100%
  width: 100%
