<div class="dialog">
  <div class="header-info">
    <h1>{{ data.name }}</h1>
    <h2>{{ data.code }}</h2>
    <h4 *ngIf="data.moveIn">
      <span>Useljivo odmah:</span> {{ data.moveIn ? "Da" : "Ne" }}
    </h4>
    <h4 *ngIf="data.moveInDate">
      <span>Useljivo od datuma:</span> {{ data.moveInDate }}
    </h4>
  </div>
  <mat-tab-group animationDuration="300ms" dynamicHeight>
    <mat-tab label="Informacije o nekretnini">
      <app-heading headerText="Opis" *ngIf="data.description"></app-heading>
      <p
        [innerHTML]="data.description || 'Nema opisa za traženu nekretninu'"
        class="description"
      ></p>
      <app-heading headerText="Osnovne informacije"></app-heading>
      <div class="row">
        <div class="col-sm">
          <app-property-binding
            key="Kvadratura"
            [value]="
              data.area * data.areaUnit.conversionFactor +
              ' ' +
              data.areaUnit.value
            "
            *ngIf="data.area"
          ></app-property-binding>
          <app-property-binding
            key="Površina objekta"
            [value]="data.buildingArea"
          ></app-property-binding>
          <app-property-binding
            key="Struktura"
            [value]="data.structure.type"
            *ngIf="data.structure"
          ></app-property-binding>
          <app-property-binding
            key="Kvadratura placa"
            [value]="
              data.propertyArea * data.propertyAreaUnit.conversionFactor +
              data.propertyAreaUnit.value
            "
            *ngIf="data.propertyArea"
          ></app-property-binding>
          <app-property-binding
            key="Nameštenost"
            [value]="data.furniture ? data.furniture.type : ''"
          ></app-property-binding>
          <app-property-binding
            key="Broj kupatila"
            [value]="data.bathroomCount"
          ></app-property-binding>
          <app-property-binding
            key="Broj kreveta"
            [value]="data.bedCount"
          ></app-property-binding>
          <app-property-binding
            key="Broj soba"
            [value]="data.roomCount"
          ></app-property-binding>
          <app-property-binding
            key="Broj spavaćih soba"
            [value]="data.bedroomCount"
          ></app-property-binding>
          <app-property-binding
            key="Visina plafona"
            [value]="data.ceilingHeight + ' m'"
            *ngIf="data.ceilingHeight"
          ></app-property-binding>
          <app-property-binding
            key="Godina izgradnje"
            [value]="data.constructionYear"
          ></app-property-binding>
          <app-property-binding
            key="Duplex"
            value="Da"
            *ngIf="data.duplex"
          ></app-property-binding>
        </div>
        <div class="col-sm">
          <app-property-binding
            key="Uknjižena površina"
            [value]="data.filedArea"
          ></app-property-binding>
          <app-property-binding
            key="Uknjiženi status"
            [value]="data.filedStatus ? data.filedStatus.status : ''"
          ></app-property-binding>
          <app-property-binding
            key="Sprat/Ukupno spratova"
            [value]="
              data.floor?.name + '/' + data.buildingFloors
                ? data.buildingFloors
                : ''
            "
          ></app-property-binding>
          <app-property-binding
            key="Useljivo"
            value="Da"
            *ngIf="data.moveIn"
          ></app-property-binding>
          <app-property-binding
            key="Useljivo dana"
            [value]="data.moveInDate | date"
          ></app-property-binding>
          <app-property-binding
            key="Broj u katasteru"
            [value]="data.cadastreNumber"
          ></app-property-binding>
          <app-property-binding
            key="Broj mokrih čvorova"
            [value]="data.wcCount"
          ></app-property-binding>
          <app-property-binding
            *ngIf="data.parkings"
            key="Parking"
            [value]="data.parkings"
          ></app-property-binding>
          <app-property-binding
            *ngIf="data.carpentries"
            key="Stolarija"
            [value]="data.carpentries"
          ></app-property-binding>
          <app-property-binding
            *ngIf="data.heatings"
            key="Grejanje"
            [value]="data.heatings"
          ></app-property-binding>
          <app-property-binding
            *ngIf="data.termsPets"
            key="Kućni ljubimci"
            value="Da"
          ></app-property-binding>
        </div>
      </div>
      <app-heading
        *ngIf="
          data.termsDeposit || data.termsMinimumLease || data.termsPaymentPeriod
        "
        headerText="Uslovi zakupa"
      ></app-heading>
      <div class="row">
        <div class="col-6">
          <app-property-binding
            key="Depozit"
            [value]="data.termsDeposit"
          ></app-property-binding>
          <app-property-binding
            key="Minimalni zakup"
            [value]="data.termsMinimumLease"
          ></app-property-binding>
          <app-property-binding
            key="Period plaćanja"
            [value]="
              data.termsPaymentPeriod ? data.termsPaymentPeriod.value : ''
            "
          ></app-property-binding>
        </div>
      </div>
      <app-heading
        *ngIf="
          data.buildingElevator ||
          data.buildingSecurity ||
          data.buildingIntercom ||
          data.buildingCamera
        "
        headerText="Opremljenost zgrade"
      ></app-heading>
      <div class="row">
        <div class="col-6">
          <app-property-binding
            key="Lift"
            *ngIf="data.buildingElevator"
            value="Da"
          ></app-property-binding>
          <app-property-binding
            key="Kamere"
            *ngIf="data.buildingCamera"
            value="Da"
          ></app-property-binding>
          <app-property-binding
            key="Interfon"
            *ngIf="data.buildingIntercom"
            value="Da"
          ></app-property-binding>
          <app-property-binding
            key="Obezbeđenje"
            *ngIf="data.buildingSecurity"
            value="Da"
          ></app-property-binding>
          <app-property-binding
            key="Rampa"
            *ngIf="data.buildingAccessibility"
            value="Da"
          ></app-property-binding>
        </div>
      </div>
      <app-heading
        headerText="Troškovi"
        *ngIf="
          data.expensesTaxes ||
          data.expensesPhone ||
          data.expensesCable ||
          data.expensesInternet ||
          data.expensesInfostan ||
          data.expensesMaintenance ||
          data.expensesElectricity
        "
      ></app-heading>
      <div class="row">
        <div class="col-6">
          <app-property-binding
            key="Struja"
            [value]="data.expensesElectricity"
            currency=" RSD"
          ></app-property-binding>
          <app-property-binding
            key="Kablovska"
            [value]="data.expensesCable"
            currency=" RSD"
          ></app-property-binding>
          <app-property-binding
            key="Infostan"
            [value]="data.expensesInfostan"
            currency=" RSD"
          ></app-property-binding>
          <app-property-binding
            key="Internet"
            [value]="data.expensesInternet"
            currency=" RSD"
          ></app-property-binding>
          <app-property-binding
            key="Telefon"
            [value]="data.expensesPhone"
            currency=" RSD"
          ></app-property-binding>
          <app-property-binding
            key="Održavanje"
            [value]="data.expensesMaintenance"
            currency=" RSD"
          ></app-property-binding>
          <app-property-binding
            key="Takse"
            [value]="data.expensesTaxes"
            currency=" RSD"
          ></app-property-binding>
        </div>
      </div>
      <app-heading
        *ngIf="
          data.propertyWater ||
          data.propertyGas ||
          data.propertyFenced ||
          data.propertyElectricity
        "
        headerText="Informacije o zemljištu"
      ></app-heading>
      <div class="row">
        <div class="col-6">
          <app-property-binding
            key="Struja"
            *ngIf="data.propertyElectricity"
            value="Da"
          ></app-property-binding>
          <app-property-binding
            key="Ograda"
            *ngIf="data.propertyFenced"
            value="Da"
          ></app-property-binding>
          <app-property-binding
            key="Gas"
            *ngIf="data.propertyGas"
            value="Da"
          ></app-property-binding>
          <app-property-binding
            key="Voda"
            *ngIf="data.propertyWater"
            value="Da"
          ></app-property-binding>
        </div>
      </div>
      <app-heading
        *ngIf="data.centerDistance"
        headerText="Informacije o lokaciji"
      ></app-heading>
      <div class="row">
        <div class="col-6">
          <app-property-binding
            key="Udaljenost od centra"
            *ngIf="data.centerDistance"
            [value]="data.centerDistance + ' km'"
          ></app-property-binding>
        </div>
      </div>
      <app-heading
        *ngIf="data.renovated"
        headerText="Podaci o renoviranju"
      ></app-heading>
      <div class="row">
        <div class="col-6">
          <app-property-binding
            key="Datum renoviranja"
            [value]="data.renovatedDate | date"
          ></app-property-binding>
        </div>
      </div>
      <p [innerHTML]="data.whatsRenovated" class="description"></p>
      <app-heading
        *ngIf="data.extraInfos.length > 0"
        headerText="Dodatne informacije"
      ></app-heading>
      <div class="row">
        <div
          class="col-sm-2"
          style="margin-top: 2em; padding-right: 0"
          *ngFor="let extraInfo of data.extraInfos"
        >
          <div class="inline">
            <img
              loading="lazy"
              width="50px"
              height="50px"
              style="margin: 1em"
              src="data:image/jpg;base64,{{ extraInfo.image }}"
            />
            <h4 style="margin-top: 1em">{{ extraInfo.value }}</h4>
          </div>
        </div>
      </div>
      <app-heading headerText="Informacije o lokaciji"></app-heading>
      <div class="row">
        <div class="col-6">
          <app-property-binding
            key="Razdaljina od centra"
            [value]="data.centerDistance"
          ></app-property-binding>
          <app-property-binding
            key="Grad"
            titleCase="true"
            [value]="data.address?.municipality?.city?.name"
          ></app-property-binding>
          <app-property-binding
            key="Opština"
            titleCase="true"
            [value]="data.address?.municipality?.name"
          ></app-property-binding>
          <app-property-binding
            key="Adresa"
            titleCase="true"
            [value]="data.address?.street + ' ' + data.address?.number"
          ></app-property-binding>
        </div>
      </div>
      <app-heading
        headerText="Informacije o vlasniku i kontakt osobi"
      ></app-heading>
      <div class="row">
        <div class="col-6">
          <app-property-binding
            key="Ime i prezime vlasnika"
            titleCase="true"
            [value]="
              data.owner?.person?.firstName + ' ' + data.owner?.person?.lastName
            "
          ></app-property-binding>
          <app-property-binding
            key="Kontakt telefon"
            [value]="data.owner?.person?.contacts | findContactTelephone"
          ></app-property-binding>
          <app-property-binding
            key="Email"
            [value]="data.owner?.person?.contacts | findContactEmail"
          ></app-property-binding>
          <app-property-binding
            key="Ime i prezime kontakt osobe"
            titleCase="true"
            *ngIf="
              data.contactPerson?.person?.firstName !== '' &&
              data.contactPerson?.person?.lastName !== ''
            "
            [value]="
              data.contactPerson?.person?.firstName +
              ' ' +
              data.contactPerson?.person?.lastName
            "
          ></app-property-binding>
          <app-property-binding
            key="Kontakt telefon"
            [value]="
              data.contactPerson?.person?.contacts | findContactTelephone
            "
          ></app-property-binding>
          <app-property-binding
            key="Email"
            [value]="data.contactPerson?.person?.contacts | findContactEmail"
          ></app-property-binding>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Slike">
      <h1 style="padding: 0.5em 0">Slike</h1>
      <swiper
        slidesPerView="1"
        navigation="true"
        [spaceBetween]="30"
        *ngIf="data.medias?.length > 0"
        loop="true"
      >
        <ng-container *ngFor="let media of data.medias; index as i">
          <ng-template swiperSlide>
            <img [src]="URL_PREFIX + '/' + media.uri" class="slide-img" />
          </ng-template>
          <div class="swiper-pagination"></div>
        </ng-container>
      </swiper>
    </mat-tab>
    <mat-tab label="Video">
      <iframe
        width="100%"
        height="500px"
        *ngIf="youtubeVideo"
        [src]="youtubeVideo.uri | safe"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </mat-tab>
  </mat-tab-group>
</div>
