<div #about>
  <div class="header">
    <div class="navbar-wrapper">
      <app-navbar></app-navbar>
    </div>
    <div class="container text-center">
      <h1 class="huge-h1">O nama</h1>
    </div>
  </div>
  <div class="custom-container" id="iskustvo" style="padding-top: 10em">
    <div class="row">
      <div class="col-sm text-right img-col">
        <img
          src="../../../../../assets/img/kancelarija%20nova.jpg"
          height="600px"
          width="100%"
        />
      </div>
      <div class="col-sm text-right">
        <h1 class="huge-h1">Naše iskustvo</h1>
        <div class="red-r-line"></div>
        <p>
          <span class="color-span">FRIGO NEKRETNINE</span> je ogranak firme
          FRIGO 2000 EXPORT-IMPORT, preduzeća koje je specijalizovano za
          projektovanje i montažu industrijskih rashladnih sistema, proizvodnju
          i servisiranje rashladnih uređaja u industriji, ugostiteljstvu,
          trgovini i domaćinstvima. Mnogi industrijski objekti, poput<span
            class="color-span"
          >
            Imleka</span
          >, <span class="color-span"> Šabačke</span> i
          <span class="color-span">Niške mlekare</span> , kao i velika rashladna
          postrojenja u: Vojsci Srbije, veleprodajama poput Disa, Bartule,
          nekada Pekabete, raznim fabrikama sladoleda, mesnim industrijama,
          vinarijama i skladištima voća
          <span>su delo naših vrednih majstora i inženjera.</span>
          Kako smo se trudili da uvek budemo drugačiji i inovativni više od dve
          decenije, stekli smo veliko poverenje ovde, ali i u zemljama bivše
          Jugoslavije.
          <span class="color-span">Davne 2006. godine</span> počeli smo da se
          bavimo i posredovanjem u Prometu nepokretnosti, gde smo, zahvaljujući
          velikoj podršci i upornosti, ali i znanju, kao i studioznom pristupu,
          postali zapaženi i u ovoj oblasti.
        </p>
      </div>
    </div>
    <div class="row" style="padding-top: 5em" id="klijent">
      <div class="col-sm-7">
        <h1 class="huge-h1" style="margin-top: 1em">Fokus na klijenta</h1>
        <p>
          Mnogo je razloga da budete deo ovog tima i pružite nam šansu da za Vas
          pronađemo parče raja u nekom od šumadijskih sela ili, pak, na
          obroncima naših prelepih planina
          <span class="color-span">Kosmaja</span>, <span>Avale</span>,
          <span>Bukulje</span>, <span>Zlatibora</span>…. Kao i da pokušamo da
          prezetujemo Vašu nekretninu na najbolji mogući način. Ukoliko želite
          dobre stanove u <span class="color-span">Beogradu</span>,
          <span class="color-span">Mladenovcu</span> i okolini, kako u novijoj,
          tako i u starijoj gradnji, na pravoj ste adresi. Za gotovo većinu
          nepokretnosti, prodaju realizujemo u očekivanom roku. Spremni smo da
          Vas saslušamo! Poklonite nam malo svog vremena i obećavamo da ćemo
          <span class="color-span">ispuniti tražena očekivanja!</span>
        </p>
      </div>
      <div class="col-sm img-col">
        <img
          src="../../../../../assets/img/klijenti.jpg"
          height="600px"
          width="500px"
        />
      </div>
    </div>
    <div class="row" style="padding-top: 5em" id="tim">
      <div class="col-sm">
        <img
          class="img-fluid"
          src="../../../../../assets/img/2-Timska%20kohezija.jpg"
        />
      </div>
      <div class="col-sm text-right" style="padding-top: 3em">
        <h1 class="huge-h1">
          <span style="margin-top: 2em">Timska kohezija</span>
        </h1>

        <div class="red-r-line"></div>
        <p>
          Za impozantan broj realizovanih prodaja, možemo zahvaliti našem malom
          timu posvećenih, i iskustvom bogatih, agenata. Trudimo se da budemo
          efikasni, ali i spremni da ispunimo očekivanja Vas - kao prodavca, ali
          kao i kupca. Naš tim će Vam prezentovati nekretnine, pomoći u odabiru
          i voditi kroz ceo proces kupovine.
        </p>
      </div>
    </div>
    <div class="row mt-5" id="firma-od-poverenja">
      <div class="col-sm">
        <h1 class="huge-h1">Firma od poverenja</h1>
        <p>
          <span class="color-span">Frigo 2000 Export-Import DOO</span> ima
          <span class="color-span">sertifikat</span> koji potvrđuje da je
          poslovni subjekt u grupi
          <span class="color-span"
            >preduzeća s najboljom bonitetnom ocenom u Srbiji</span
          >. Bonitetne ocene su neophodan ekonomski instrument koji se
          primenjuje u savremenom poslovnom svetu i koriste se kao
          <span class="color-span">
            verodostojna provera celokupnog poslovanja jednog privrednog
            subjekta </span
          >. Omogućavaju brže i jednostavnije donošenje poslovnih odluka pri
          izboru poslovnog partnera, analize konkurencije i procene rizika.
          Predstavljaju podršku u postupku finansijske analize pojedinačnog
          poslovnog društva.
        </p>
      </div>
      <div class="col-sm img-col">
        <img
          src="assets/img/sertifikat-firme-od-poverenja.jpg"
          class="img-fluid"
          width="500px"
        />
      </div>
    </div>
  </div>

  <app-scroll-to-top-button [element]="about"></app-scroll-to-top-button>
  <app-footer></app-footer>
</div>
