@use "../../../../../styles"

h1
  line-height: 1em

.header
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7091211484593838) 51%, rgba(255, 255, 255, 1) 100%), url('../../../../../assets/img/jason-dent-w3eFhqXjkZE-unsplash.jpg')
  min-height: 50vh
  height: auto
  text-align: left !important

  color: styles.$default-black
  background-position: center
  background-size: cover

  h1
    padding-top: 15%
    color: #999

.col
  width: 50%
  display: inline-flex

p
  font-size: 17px
  line-height: 1.8em

.color-span
  color: styles.$light-red
  font-weight: bold

img
  margin: 2em
  -webkit-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)

  @media screen and (max-width: 600px)
    width: 100% !important

.right-col
  .huge-h1
    padding-top: 2em
    color: styles.$more-silver

.red-r-line
  height: .5em
  background-color: styles.$light-red
  margin-top: 2em
  margin-left: 70%

p
  padding-top: 2em

.thin-h1
  font-size: 80px !important
  font-family: 'Poppins', sans-serif !important
  font-weight: lighter
  padding-top: 2em
  line-height: 1em
.img-col
  text-align: center
  img
    margin: 0


@media screen and (max-width: 570px)
  .huge-h1
    line-height: normal
    font-size: 32px

  img
    height: auto !important

  .header
    height: auto
    .huge-h1
      font-size: 80px !important
@media screen and (min-width: 717px) and (max-width: 960px)
  .custom-container
    padding: 2em
@media screen and (min-width: 2049px)
  .huge-h1
    padding-top: 2em !important

  .custom-container
    zoom: 1.8

@media screen and (min-width: 1024px) and (max-width: 1440px) and (max-height: 900px)
  .custom-container
    zoom: .8
