<button [hidden]="isHidden" mat-fab class="float-btn" (click)="scrollToTop()">
  <mat-icon>expand_less</mat-icon>
</button>
<a href="tel:0118230784">
  <button [hidden]="isHidden" mat-fab class="call-float-btn" >
    <mat-icon>call</mat-icon>
  </button>
</a>
