@import "src/styles"

.float-btn
  position: fixed
  bottom: 4rem
  z-index: 3
  right: 4rem
  background-color: $light-red
  -webkit-transition: .5s linear

.call-float-btn
  position: fixed
  bottom: 4rem
  z-index: 3
  left: 4rem
  background-color: $light-red
  -webkit-transition: .5s linear

@media screen and (max-width: 900px)
  .call-float-btn, .float-btn
    bottom: 2rem
  .call-float-btn
    left: 2rem
  .float-btn
    right: 2rem
