<div class="dialog">
  <h1>Izmena dodatne informacije</h1>
  <mat-divider></mat-divider>
  <img
    class="img-fluid"
    width="50px"
    style="margin-top: 1em"
    src="data:image/jpg;base64,{{ data.image }}"
  />
  <app-form-input
    label="Naziv"
    [group]="extraInfoForm"
    [config]="valueInputConfig"
  ></app-form-input>
  <input
    type="file"
    name="file"
    id="customFile"
    (change)="addFiles($event.target.files)"
  />
  <button
    class="default-btn"
    (click)="update()"
    mat-button
    style="margin-top: 1em"
  >
    Ažuriraj
  </button>
  <mat-spinner #spinner></mat-spinner>
</div>
