@use "src/styles"
.default-btn
  width: 100%

.form-div
  padding: 2em

.inline
  display: inline-flex
  width: 100%

  button
    margin: 1em 1em 0 0

.default-btn
  width: 70%


.col-2
  margin-top: 1em

.left-col
  padding-left: 0

.right-col
  padding-right: 0


mat-form-field
  width: 100%

@media screen and (max-width: 570px)
  .form-div
    height: 100%
    overflow-y: hidden

@media screen and (min-width: 2049px)
  .advanced-search
    zoom: 2.2

@media screen and (min-width: 1024px) and (max-width: 1440px) and (max-height: 900px)
  ::ng-deep .mat-dialog-container
    zoom: .8 !important
