<div class="advanced-search">
  <div class="text-right">
    <button mat-dialog-close mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="row" style="margin-bottom: 1em">
    <div class="col-6">
      <h1>Napredna pretraga</h1>
    </div>
    <div class="col text-right">
      <div class="inline">
        <button
          mat-button
          class="default-btn"
          mat-dialog-close
          (click)="filter()"
          [disabled]="!realEstateForm.valid"
        >
          Filtrirajte
        </button>
        <button
          mat-button
          class="border-btn"
          (click)="resetForm()"
          mat-dialog-close
        >
          Poništite
        </button>
      </div>
    </div>
  </div>
  <div class="form-div">
    <app-form-select-id
      label="Izaberite kategoriju"
      isRequired="true"
      [config]="categorySelectConfig"
      [group]="realEstateForm"
    ></app-form-select-id>
    <app-form-select-name
      label="Izaberite tip transakcije"
      [config]="saleTypeSelectConfig"
      isRequired="true"
      [group]="realEstateForm"
    ></app-form-select-name>
    <app-form-select-id
      label="Izaberite mesto"
      [group]="realEstateForm"
      [config]="citySelectConfig"
    ></app-form-select-id>
    <div [formGroup]="realEstateForm">
      <mat-form-field appearance="fill">
        <mat-label>Opština/Deo mesta</mat-label>
        <mat-select formControlName="municipality">
          <mat-option aria-selected="true">-- None --</mat-option>
          <mat-optgroup *ngFor="let group of listOfCities" [label]="group.name">
            <mat-option
              *ngFor="let municipality of group.municipalities"
              [value]="municipality.id"
            >
              {{ municipality.name }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
    <app-form-select-name
      label="Izaberite status nekretnine"
      [config]="statusSelectConfig"
      *ngIf="data"
      [group]="realEstateForm"
    ></app-form-select-name>
    <app-form-select-name
      label="Nameštenost"
      [config]="furnitureStatusSelectConfig"
      [group]="realEstateForm"
    ></app-form-select-name>

    <form [formGroup]="realEstateForm">
      <mat-form-field appearance="fill">
        <mat-label>Struktura</mat-label>
        <mat-select multiple formControlName="structure">
          <mat-option
            *ngFor="let structure of listOfStructures"
            [value]="structure.id"
          >
            {{ structure.type | capitalize }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Sprat</mat-label>
        <mat-select multiple formControlName="floor">
          <mat-option *ngFor="let floor of listOfFloors" [value]="floor.name">
            {{ floor.name | capitalize }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <app-form-select-name
      [config]="heatingSelectConfig"
      label="Grejanje"
      [group]="realEstateForm"
    ></app-form-select-name>
    <app-form-select-name
      [config]="parkingSelectConfig"
      label="Parking"
      [group]="realEstateForm"
    ></app-form-select-name>
    <app-form-select-id
      [config]="constructionYearSelectConfig"
      [group]="realEstateForm"
      label="Godina izgradnje"
    ></app-form-select-id>

    <div class="row">
      <div class="col-6 left-col">
        <app-form-input
          [group]="realEstateForm"
          label="Cena od"
          icon="euro_symbol"
          type="number"
          [model]="realEstateFilter ? realEstateFilter.priceFrom : null"
          [config]="priceFromInputConfig"
        ></app-form-input>
      </div>
      <div class="col-6 right-col">
        <app-form-input
          [group]="realEstateForm"
          label="Cena do"
          icon="euro_symbol"
          type="number"
          [model]="realEstateFilter ? realEstateFilter.priceTo : null"
          [config]="priceToInputConfig"
        ></app-form-input>
      </div>
    </div>
    <div class="row">
      <div class="col-5 left-col">
        <app-form-input
          [group]="realEstateForm"
          [config]="areaFromInputConfig"
          label="Površina od"
        ></app-form-input>
      </div>
      <div class="col-5">
        <app-form-input
          [group]="realEstateForm"
          label="Površina do"
          [config]="areaToInputConfig"
        ></app-form-input>
      </div>
      <div class="col-2 right-col">
        <div [formGroup]="realEstateForm">
          <mat-form-field appearance="fill">
            <mat-label>Merna jedinica</mat-label>
            <mat-select formControlName="areaUnit">
              <mat-option
                *ngFor="let areaUnit of listOfAreaUnits"
                [value]="areaUnit.conversionFactor"
              >
                {{ areaUnit.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5 left-col">
        <app-form-input
          [group]="realEstateForm"
          [model]="realEstateFilter ? realEstateFilter.propertyAreaFrom : null"
          [config]="propertyAreaFromInputConfig"
          label="Površina placa od"
        ></app-form-input>
      </div>
      <div class="col-5">
        <app-form-input
          [group]="realEstateForm"
          [model]="realEstateFilter ? realEstateFilter.propertyAreaTo : null"
          label="Površina placa do"
          [config]="propertyAreaToInputConfig"
        ></app-form-input>
      </div>
      <div class="col-2 right-col">
        <div [formGroup]="realEstateForm">
          <mat-form-field appearance="fill">
            <mat-label>Merna jedinica</mat-label>
            <mat-select formControlName="propertyAreaUnit">
              <mat-option
                *ngFor="let propertyAreaUnit of listOfAreaUnits"
                [value]="propertyAreaUnit.conversionFactor"
              >
                {{ propertyAreaUnit.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="inline">
      <button
        mat-button
        class="default-btn"
        mat-dialog-close
        (click)="filter()"
        [disabled]="!realEstateForm.valid"
      >
        Filtrirajte
      </button>
      <button
        mat-button
        class="border-btn"
        (click)="resetForm()"
        mat-dialog-close
      >
        Poništite
      </button>
    </div>
  </div>
</div>
