<mat-drawer-container fullscreen>
  <mat-drawer mode="side" opened>
    <img class="img-fluid" src="../../../../../assets/img/logo.png" />
    <a #realEstateActivator (click)="loadEstateOverviewComponent()">
      <div
        class="inline menu-btn"
        (click)="changeColor($event)"
        id="overview-btn"
      >
        <mat-icon>apartment</mat-icon>
        <h4>Nekretnine</h4>
      </div>
    </a>
    <a #settingActivator (click)="loadEstateOptionsComponent()">
      <div class="inline inactive menu-btn" (click)="changeColor($event)">
        <mat-icon>settings</mat-icon>
        <h4>Podešavanja</h4>
      </div>
    </a>
    <a #agentActivator (click)="loadAgentsOverviewComponent()">
      <div class="inline inactive" (click)="changeColor($event)">
        <mat-icon>real_estate_agent</mat-icon>
        <h4>Agenti</h4>
      </div>
    </a>
    <a #offerActivator (click)="loadOfferOverviewComponent()">
      <div (click)="changeColor($event)" class="inline inactive">
        <mat-icon>local_offer</mat-icon>
        <h4>Ponude</h4>
      </div>
    </a>
    <a #contactMessagesActivator (click)="loadContactMessagesComponent()">
      <div (click)="changeColor($event)" class="inline inactive">
        <mat-icon>email</mat-icon>
        <h4>Poruke</h4>
      </div>
    </a>
    <a (click)="loadChangePasswordComponent()">
      <div (click)="changeColor($event)" class="inline inactive">
        <mat-icon>lock</mat-icon>
        <h4>Izmena lozinke</h4>
      </div>
    </a>
    <div class="text-center">
      <button
        class="border-btn"
        style="width: 100%"
        (click)="logout()"
        mat-button
      >
        Logout
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="target" #target></div>
  </mat-drawer-content>
</mat-drawer-container>
