@import "src/styles"

.active
  transition: .5s ease
  color: #fff
  display: inline-flex
  padding: 1em 1em 0 1em
  background-color: $light-red
  margin: .5em 0
  border-radius: 18px
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
  width: 100%
  font-weight: bold

  h4, mat-icon
    pointer-events: none

.inactive
  padding: 1em 1em 0 1em
  display: inline-flex
  cursor: pointer
  border: 1px solid $more-silver
  border-radius: 18px
  width: 100%
  margin: .5em 0


mat-drawer
  width: 15%
  padding: 5em 2em

  h4, mat-icon
    pointer-events: none !important
