<div class="dynamic-field form-select" [formGroup]="group">
  <mat-form-field appearance="fill">
    <mat-label>{{ label }}</mat-label>
    <mat-select
      [compareWith]="compareObjects"
      [formControlName]="config.name"
      [(ngModel)]="model"
      [required]="isRequired"
      (selectionChange)="selectionChange.emit(true)"
    >
      <mat-option value="" selected>---</mat-option>
      <mat-option
        (click)="onOptionClick()"
        *ngFor="let item of config.options"
        [value]="item"
      >
        {{ item[bindValue] || item | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
