<div #aboutFAQ>
  <div class="header">
    <div class="navbar-wrapper">
      <app-navbar></app-navbar>
    </div>
    <div class="container text-center">
      <h1 class="huge-h1">Često postavljana pitanja</h1>
    </div>
  </div>
  <div class="container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Kapara </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Kapara je određena suma novca kojom zakupac garantuje da će u nekom
          narednom periodu uzeti stan u zajam, a da će zakupodavac baš njemu
          izdati stan. Služi kao osiguranje i jednoj i drugoj strani od
          eventualnih promena u izdavanju nekretnine. Ako zakupac odustane od
          iznajmljivanja stana, zakupodavac zadržava kaparu, a ako zakupodavac
          odustane od izdavanja stana zakupcu se vraća dupla kapara.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Depozit </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Depozit Depozit je određena suma novca kojom se zakupodavac osigurava
          da će nekretnina biti vraćena u prvobitno stanje. U slučaju da se
          nakon izlaska zakupca stan vratio u prvobitno stanje zakupcu se vraća
          depozit, a u slučajevima kada stan nije vraćen u prvobitno stanje,
          zakupodavac ima pravo da zadrži deo depozita ili ceo, ako su potrebni
          veći radovi (ili nisu plaćeni računi). Često se u praksi događa da
          depozit ostaje zakupodavcu u slučaju izlaska zakupca pre ugovorenog
          roka zakupa. Neretko se dešava da se zakupodavac i zakupac dogovore pa
          da taj depozit zameni.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Vlasnička dokumenta </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Vlasnička dokumenta su bitan deo prilikom potpisivanja ugovora o
          posredovanju, kako u zakupu tako i u prodaji nekretnine. Vlasnik
          nekretnine time pokazuje da je stvarno vlasnik i da ne postoji
          mogućnost reizdavanja ili neovlašćenog prodavanja tuđe nekretnine. Po
          Zakonu o posredovanju, Član 23, tačka 2 i 5, zakupodavac ili prodavac
          je dužan da dostavi posredniku na uvid originalna dokumenta i da mu
          dostavi fotokopije istih. Vlasnička dokumenta su: vlasnički list,
          Kupoprodajni ugovor, Ugovor o poklonu, Ugovor o doživotnom
          izdržavanju, rešenje o nasleđivanju... Ali, tu ne spadaju, na primer,
          računi za struju i porez, jer ne sadrže sve informacije kao vlasnički
          dokument. Svaki vlasnički dokument mora da sadrži 5 stvari:
          <br />
          <br />
          <ol>
            <li>
              ime i prezime vlasnika, koji je i vlasnik predmeta Ugovora o
              posredovanju
            </li>
            <li>adresa nekretnine</li>
            <li>katastarska parcela</li>
            <li>katastarska opština</li>
            <li>pečat overe (od strane opštine, suda, notara itd.)</li>
          </ol>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Ugovor o posredovanju </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Ovo je ugovor kojim se regulišu prava i obaveze ugovornih strana, u
          ovom slučaju posrednika i nalogodavca (Zakupodavac, Prodavac, Zakupac,
          Kupac).
          <br />
          <br />
          Ugovor o posredovanju, pored prava i obaveza posrednika i nalogodavca,
          naročito sadrži podatke o posredniku i broju pod kojim je upisan u
          Registar posrednika. Takođe, sadrži podatke o nalogodavcu, vrsti i
          bitnim elementima pravnog posla u cilju čijeg zaključenja posrednik
          posreduje, o visini, načinu i roku plaćanja posredničke naknade, roku
          važenja ugovora, kao i o vrsti i visini troška dodatnih usluga,
          ukoliko su ugovorene.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Ugovor o zakupu </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Ugovorom o zakupu i zakupac i zakupodavac, kao ugovorne strane,
          regulišu svoja prava i obaveze vezane za nekretninu. U njemu se
          određuje vremenski period zakupa, visina kirije, visina depozita,
          obaveze obe strane i šta se radi u situacijama kada obaveze jedne ili
          druge strane nisu ispunjene.
          <br />
          <br />
          Ugovor o zakupu je dvostran pravni posao (ugovor) kojim se jedna
          strana (zakupodavac) obavezuje da drugoj strani (zakupcu) preda na
          upotrebu određenu nepotrošnu stvar ili određeno imovinsko pravo, a
          zakupac se obavezuje da mu za to plaća naknadu i da mu, po isteku
          ugovora, tu istu stvar ili pravo vrati.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Šta ako ne želim da prodam nekretninu?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Šta ako ne želim da prodam nekretninu? Razumemo da se, u slučaju
          nepredviđenih okolnosti, možete predomisliti i poželeti da nekretninu
          ne prodate. U tom slučaju, imajte na umu da, pre nego što odlučite da
          oglašavate Vašu nekretninu, morate biti sigurni u svoju odluku, iz
          razloga poštovanja našeg vremena, odnosno resursa koji su nam potrebni
          da bi naš tim izašao na teren i oglasio Vašu nekretninu. Ako
          odustanete od prodaje, kontaktirajte nas i mi ćemo nekretninu povući
          iz ponude sa našeg sajta.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Da li ćete mi pomoći da procenim vrednost nekretnine?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Zahvaljujući višegodišnjem iskustvu, naši agenti imaju potrebno znanje
          i kvalitetne alate za procenu vrednosti nekretnine, tako da Vam
          apsolutno možemo pomoći i dati procenu vrednosti. Naš cilj je da Vašu
          nekretninu prodate/izdate, i zato Vas nikada nećemo savetovati da
          ponudite cenu koja je znatno veća od tržišne i uvek ćemo Vas
          savetovati da ponudite konkurentnu cenu za Vašu nekretninu koja je u
          granicama Vaših realnih očekivanja.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Već sam oglasio stan/kuću preko druge agencije. Da li mogu i kod
            Vas?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Ugovor o posredovanju agencije FRIGO NEKRETNINE nije ekskluzivan, te,
          za vreme trajanja istog, Vašu nekretninu možete oglasiti putem drugih
          agencija ili medija.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Koliko košta overa Ugovora kod javnog beležnika (notara)?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Javni beležnici prilikom solemnizacije Ugovora o prometu nepokretnosti
          naplaćuju javnobeležničku nagradu, kao i naknadu troškova nastalih u
          vezi sa obavljanjem njihovih poslova.
          <br />
          <br />
          Nagrada javnog beležnika određuje se prema vrednosti pravnog posla, u
          konkretnom slučaju od kupoprodajne cene nepokretnosti. Napominjemo da
          je osnov za određivanje ove nagrade tržišna vrednost nepokretnosti,
          koju javni beležnik može odrediti bez obzira na vrednost koju su
          prodavac i kupac naveli u Ugovoru, ako ona ne odgovara tržišnoj
          vrednosti.
          <br />
          <br />
          Visinu troškova javni beležnik obračunava u svakom konkretnom slučaju.
          <br />
          <br />
          Stoga, najpouzdaniji način da utvrdite koliko će iznositi troškovi
          solemnizacije Vašeg Ugovora jeste da tu informaciju zatražite od
          javnog beležnika koji će istu vršiti.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Kada prodam stan, koje sve poreze treba da platim?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Na prihod ostvaren prodajom stana plaća se porez na kapitalni dobitak.
          <br />
          <br />
          Kapitalni dobitak, odnosno gubitak u smislu Zakona o porezu na dohodak
          građana, predstavlja razliku između prodajne cene i nabavne cene.
          Ukoliko stan prodajete po istoj ceni za koju ste ga kupili, ili po
          nižoj ceni, ne plaćate ovaj porez. Isto tako, niste dužni platiti ovaj
          porez ni ukoliko ste stan stekli pre 24. januara 1994. godine.
          <br />
          <br />
          Stopa poreza na kapitalni dobitak iznosi 15%, a poresku prijavu ste
          dužni podneti u roku od 30 dana od dana overe Ugovora o prodaji kod
          nadležnog javnog beležnika.
          <br />
          <br />
          Zakon predviđa i poresko oslobođenje, ukoliko sredstva ostvarena
          prodajom nepokretnosti uložite u rešavanje svog stambenog pitanja i
          stambenog pitanja članova svoje porodice, odnosno domaćinstva.
          <br />
          <br />
          Osim toga, prodavac je dužan da plati i porez na prenos apsolutnih
          prava, čija je stopa 2,5% od ugovorene cene, ukoliko ona nije niža od
          tržišne vrednosti. Poresku prijavu prodavac je dužan podneti u roku od
          10 dana od dana overe Ugovora o prodaji. Međutim, u praksi se najčešće
          ugovara da ovaj porez plaća kupac.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Kupio/la sam stan, overio/la ugovor, isplatio/la cenu. Šta dalje
            činiti?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Nakon što ste prodavcu isplatili kupoprodajnu cenu, ostalo je da
          učinite još nekoliko koraka.
          <br />
          <br />
          Da bi stan postao Vaš, potrebno je da u katastru nepokretnosti
          izvršite promenu vlasnika. To se čini podnošenjem zahteva za
          provođenje promene u katastru nepokretnosti, zajedno sa pratećom
          dokumentacijom.
          <br />
          <br />
          Osim toga, ukoliko ste s prodavcem ugovorili da Vi plaćate porez na
          prenos apsolutnih prava, potrebno je da, u roku od 30 dana od dana
          solemnizacije ugovora o prodaji, nadležnoj filijali Poreske uprave
          podnesete poresku prijavu.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Kupio/la bih stan/kuću putem stambenog kredita. Šta treba da
            preduzmem?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          FRIGO NEKRETNINE u saradnji sa OTP bankom, Komercijalnom bankom i
          Bankom Intesa, omogućava svim svojim klijentima da imaju ličnog
          bankarskog službenika. Samo je potrebno da nas kontaktirate i da nam
          date informacije, koje su potrebne da bi bankarski službenik u brzom
          roku obradio i proverio Vaš zahtev. Bez čekanja u redovima, dobićete
          brzu povratnu informaciju da li je, i koliko je moguće odobrenje
          stambenog kredita za Vas.
          <br />
          <br />
          Naravno, ukoliko želite, možete i sami izabrati banku koja Vama
          odgovara i uputiti joj zahtev za obradu Vašeg kreditnog zahteva.
          <br />
          <br />
          Ukoliko ste utvrdili da ste u mogućnosti da uzmete kredit od banke i
          pronašli ste nepokretnost koju biste kupili, potrebno je da sa
          prodavcem zaključite i, kod nadležnog javnog beležnika, overite
          Predugovor o prodaji nepokretnosti. S Predugovorom i kompletnom
          dokumentacijom o stanu koji kupujete, banci podnosite zahtev za
          odobravanje kredita.
          <br />
          <br />
          Po odobrenju kredita, potrebno je da s prodavcem zaključite i kod
          nadležnog javnog beležnika overite Ugovor o prodaji nepokretnosti. Tom
          prilikom se najčešće overava i založna izjava koju potpisuje prodavac.
          Vrlo je važno da znate da su uslovi za odobrenje kredita mnogo oštriji
          i da je procedura mnogo komplikovanija kada kupujete stan koji nije
          uknjižen.
          <br />
          <br />
          Sve prethodno napisano predstavlja vrlo sažet pregled koraka koje
          treba da preduzmete prilikom kupovine stana na kredit, dok je o svim
          detaljima neophodno da se raspitate kod banke kod koje ćete aplicirati
          za stambeni kredit.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Da li imam pravo na oslobađanje od poreza prilikom kupovine stana?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Ukoliko ste punoletni državljanin Republike Srbije, sa prebivalištem u
          Srbiji, i ukoliko od 1. jula 2006. godine do dana overe Ugovora o
          kupoprodaji niste imali u svojini, odnosno susvojini stan na
          teritoriji Republike Srbije, i prodavac od kog kupujete svoj prvi stan
          ispunjava uslove propisane Zakonom o porezima na imovinu za poresko
          oslobođenje, i to za površinu stana koja za Vas iznosi do 40 m² i za
          članove Vašeg porodičnog domaćinstva koji od 1. jula 2006. godine nisu
          imali u svojini, odnosno susvojini stan na teritoriji Republike
          Srbije, do 15 m² po svakom članu. Iako je obveznik ovog poreza
          prodavac stana, oslobođenje od poreza skoro uvek u praksi pogoduje
          kupcu, budući da se iznos poreza obično „prevaljuje“ na kupca tako što
          se kupoprodajna cena povećava za ovaj iznos ili tako što se ugovara da
          će kupac platiti porez.
          <br />
          <br />
          Pod istim uslovima, kupac prvog stana ima pravo i na refundaciju PDV-a
          ukoliko je stan kupio od poreskog obveznika koji prodaje stanove u
          okviru obavljanja svoje delatnosti.
          <br />
          <br />
          U oba slučaja neophodno je podneti odgovarajući zahtev nadležnoj
          filijali Poreske uprave, za šta preporučujemo angažovanje advokata.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Koliki je porez na promet i ko ga plaća?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Porez na promet (porez na prenos apsolutnih prava) iznosi 2,5% od
          procenjene vrednosti nekretnine od strane nadležne republičke Uprave
          javnih prihoda – poreskog odeljenja opštine gde se nalazi nekretnina.
          Po zakonu, obaveza plaćanja ovog poreza pada na teret Prodavca, ali je
          višegodišnja uobičajena praksa da isti plaća Kupac u ime Prodavca,
          kako bi Kupac imao apsolutnu zaštitu da će porez biti plaćen.
          Uglavnom, Prodavac izdaje Punomoćje, kojim ovlašćuje Kupca da u
          njegovo ime reguliše plaćanje poreza na promet apsolutnih prava kod
          nadležne Uprave javnih prihoda.
          <br />
          <br />
          Zakonski rok za prijavu plaćanja poreza na prenos apsolutnih prava je
          10 dana od dana overe kupoprodajnog ugovora kod nadležne poreske
          uprave – poreskog odeljenja opštine na čijoj teritoriji se nalazi
          nekretnina.
          <br />
          <br />
          Osim overenog kupoprodajnog ugovora, poreskoj upravi je potrebno
          priložiti i dokument koji predstavlja dokaz o prethodnom pravnom
          osnovu sticanja za prodavca (Ugovor o kupoprodaji ili ostavinsko
          rešenje, u fotokopiji) kojim je on stekao svojinu na toj nekretnini,
          obavezno sa poreskom klauzulom (pečatom poreske uprave) na istom.
          <br />
          <br />
          Posle prijema rešenja sa razrezanim porezom, obveznik plaćanja ima rok
          od 15 dana od dana prijema rešenja da uplati navedeni iznos i dostavi
          dokaz poreskoj upravi o izvršenoj uplati, kako bi mu se na sve
          primerke kuporodajnog ugovora stavila klauzula – pečat o regulisanom
          (naplaćenom) porezu na prenos apsolutnih prava.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Koja dokumentacija je potrebna za prodaju nekretnine?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Koja dokumentacija je potrebna za prodaju nekretnine? Da bi se neko
          mogao pojaviti u postupku prodaje svoje nepokretnosti, mora se
          legitimisati kao Prodavac. Prodavac svoje vlasništvo dokazuje na
          osnovu pravno validne dokumentacije, koja mora biti u originalima,
          overena od strane nadležnog suda, sa klauzulama RUJP nadležne opštine
          da je regulisan porez na promet apsolutnih prava. Potrebno je imati
          novi izvod iz zemljišnih knjiga-vlasnički list, odnosno, izvod iz
          lista nepokretnosti. Ukoliko nepokretnost nije uknjižena, neophodno je
          imati kompletnu dokumentaciju, počevši od prvog do sadašnjeg vlasnika,
          u originalima, sve overeno, snabdeveno pečatima Uprave prihoda
          nadležne opštine o regulisanom porezu na promet apsolutnih prava tj,
          potrebno je da postoji pravni sled od prvog vlasnika do danas, da bi u
          momentu kada se za to steknu uslovi Kupac, odnosno trenutni vlasnik
          nepokretnosti, mogao uknjižiti na svoje ime.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Da li strani državljani mogu kupiti nekretninu u Srbiji?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Da, strani državljani mogu kupovati nekretnine u Srbiji po principu
          reciprociteta, što znači da i državljani Srbije mogu kupovati
          nekretnine u njihovim zemljama.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Zašto je važno da je stan uknjižen?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Zašto je važno da je stan uknjižen? Na uknjižene nekretnine možete
          staviti hipotekarne ili založne kredite, što znači da željenu
          nekretninu možete kupiti na kredit preko banke ili firme. Neuknjiženi
          stanovi time ne gube na vrednosti, niti ih treba izbegavati, jer je
          sam zakonodavac odredio da nema razlike između uknjiženih i
          neuknjiženih nepokretnosti, a vlasništvo se dokazuje: validnom pravnom
          dokumentacijom, overenim kupoprodajnim ugovorom u sudu, ili nekim
          drugim pravosnažnim rešenjem, u zavisnosti od toga koji je način
          sticanja nepokretnosti. Ipak, prodavci čije su nekretnine uknjižene
          imaju više potencijalnih kupaca (keš kupci i kupci iz kredita) pa
          savetujemo svim prodavcima da uknjiže svoju nekretninu, ako je to
          moguće.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Šta je potrebno da bi se uknjižila neka nekretnina?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Prvo je potrebno da objekat, gde se nalazi nepokretnost, bude snimljen
          i ucrtan, kao i da, za isti postoji pravosnažna građevinska i
          upotrebna dozvola na ime investitora, koji je sagradio predmetni
          objekat i, od tog trenutka, overen originalni primerak kupoprodajnog
          ugovora, kojim će trenutni vlasnik dokazivati svoje vlasništvo. To
          znači da, ukoliko ne postoji znanje o tome da li je nepokretnost koja
          je predmet kupoprodajnog ugovora uknjižena ili nije, je prvi korak
          provera u zemljišnim knjigama, odnosno katastru nepokretnosti. Ako
          nepokretnost nije uknjižena, pitanje je zašto nije. Ukoliko nije
          uknjižen čitav objekat, npr. zgrada, potrebno je prvo uknjižiti isti,
          što bi trebalo da bude obaveza investitora, odnosno onog ko je davao
          stanove u otkup (za stanove iz otkupa, razume se). Prosto je nemoguće
          očekivati da vlasnik nepokretnosti ima dokumentaciju koja prethodi
          otkupu, pogotovo ako govorimo o zgradama starim 30, 40, 50 godina, a
          koje još uvek, zbog neažurnosti odredjenih opština, odnosno
          preduzeća-investitora-imaoca prava raspolaganja i korišcenja, nisu
          uknjižene. Svakako je za uknjiženje, a ukoliko su za to ispunjeni
          uslovi, neophodno podneti zahtev sa svim traženim prilozima i dokazom
          o plaćenoj taksi za uknjiženje. Da bi uknjižba bila sprovedena,
          potrebno je da Ugovor o kupoprodaji sadrži i poresku klauzulu. A, u
          slučaju da prodavac nije uknjižen kao vlasnik, poresku klauzulu moraju
          da sadrže i svi prethodni ugovori, odnosno ostavinska rešenja.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Šta znači uknjižena nepokretnost i koje su njene prednosti?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          U postupku kupoprodaje nepokretnosti, praktična razlika izmedu
          uknjiženih i neuknjiženih nepokretnosti je u tome što na uknjiženim
          nepokretnostima možete uspostaviti založno pravo – hipoteku i na
          osnovu toga dobiti od banke hipotekarni kredit, a za neuknjižene
          nepokretnosti to, u praksi, još uvek nije moguće. Međutim, neuknjiženi
          stanovi i time ne gube vrednosti, niti ih treba izbegavati, jer je sam
          zakonodavac odredio da nema razlike izmedu uknjiženih i neuknjiženih
          nepokretnosti, a vlasništvo se dokazuje overom kupoprodajnog ugovora u
          sudu, ili nekim drugim pravnosnažnim rešenjem, isto kao i upisom prava
          svojine u katastru nepokretnosti.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Kako se vrši isplata kupoprodajne cene?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Isplata kupoprodajne cene vrši se transferom novca sa računa kupca na
          račun prodavca u banci, a sve u skladu sa Zakonom o deviznom
          poslovanju. Ovaj Zakon propisuje da se sve isplate, koje prelaze iznos
          od 10.000€ ili u dinarskoj protivvrednosti, moraju vršiti preko banke.
          Odabir banke je stvar dogovora između prodavca i kupca. Prodavci
          nemaju razloga za bilo kakav strah, jer novac mogu podići momentalno.
          Banka vrši proveru ispravnosti novca i daje garanciju za njegovu
          ispravnost.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Šta podrazumeva prenos prava korišćenja telefona, struje i
            infostana?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Kada postanete vlasnik nekretnine na osnovu Ugovora o kuporodaji
          nepokretnosti, overenog u Sudu, jako je bitno da prenesete sve na
          svoje ime, a to podrazumeva da sve što je vezano za Vašu nekretninu
          treba da glasi na Vaše ime i prezim
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Prenos prava korišcenja PTT priključka
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          PTT priključak se prenosi sa kupca na prodavca po overi Ugovora o
          kupoprodaji nepokretnosti, zajedničkim i istovremenim odlaskom kupca i
          prodavca u korisnički servis PTT-a, gde kupac podnosi zahtev za
          promenu imena korisnika PTT priključka, a prodavac zahtev za odjavu i
          preseljenje istog na novu adresu. Neophodno je poneti fotokopiju
          Ugovora o kupoprodaji nepokretnosti i fotokopije ličnih karata.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Prenos prava korišcanja EDB brojila
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Prenos prava korišcšenja EDB brojila vrši kupac, odlaskom u nadležnu
          službu preduzeća Elektrodistribucije Beograd sa fotokopijom Ugovora o
          kupoprodaji nepokretnosti i poslednjom uplatnicom o plaćenoj
          električnoj energiji.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Prenos „Infostana“ </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Prenos „Infostana“, odnosno komunalija, vrši kupac odlaskom u nadležnu
          filijalu Infostana opštine na čijoj teritoriji se nepokretnost nalazi,
          sa fotokopijom Ugovora o kupoprodaji nepokretnosti.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Šta je kapitalna dobit? </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Kapitalna dobit predstavlja pozitivnu razliku između prodajne i
          nabavne cene nepokretnosti. Kad je ta razlika negativna, u pitanju je
          kapitalni gubitak i ovaj porez neće postojati.
          <br />
          <br />
          Dakle, kapitalni dobitak postoji kada je npr. kupovna cena stana koju
          je prodavac platio iznosila 60.000 EUR a zatim je isti stan prodat za
          80.000 EUR. Tu nastaje kapitalni dobitak od 20.000 EUR i na taj iznos
          se plaća porez po stopi od 15 %. Porez na kapitalnu dobit plaća
          prodavac i to onda, kada u roku od 90 dana, od dana prodaje stana,
          kupi nekretninu koja je po ceni niža od cene prodatog stana. Porez se
          plaća na razliku cena ta dva stana u visini od 15 odsto.
          <br />
          <br />
          Od 06. oktobra 2012. godine, na osnovu Izmena Zakona o porezu na
          dohodak građana, svi oni koji su nekretninu u svom vlasništvu imali
          neprekidno, najmanje deset godina, oslobođeni su plaćanja poreza na
          kapitalnu dobit. Na taj način ukoliko dođe do prodaje takvog stana,
          vlasnici ne ostvaruju kapitalni dobitak. Takođe, ukoliko cena nove
          nekretnine bude ista ili skuplja od prodate, onda dolazi do
          oslobađanja od plaćanja poreza na kapitalnu dobit. “Međutim, kod ovog
          poreza postoji i jedna važna mogućnost, a to je da ukoliko platite
          Porez na kapitalnu dobit, jer niste realizovali kupovinu u onom roku
          od 60 dana, ali je realizujete naknadno, u roku od 10 meseci, možete
          tražiti povraćaj plaćenog iznosa po ovom osnovu“.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Šta je najbitnije u Ugovoru o prodaji stana?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Obavezni elementi svakog Ugovora o kupoprodaji nepokretnosti su oznaka
          Ugovornih strana, sa svim generalijama, uključujući i matični broj
          Ugovornih strana (ovo ponajviše iz dva razloga: poreske prijave i zbog
          uknjižbe), precizna identifikacija predmeta kupoprodaje
          (nepokretnosti), izjava da je kupac ušao u posed nepokretnosti, iznos
          kupoprodajne cene, potvrda da je prodavac primio celokupni iznos
          kupoprodajne cene, saglasnost za uknjižbu kupca kao novog vlasnika
          (clausula intabulandi), i zaštita od pravnih, odnosno drugih skrivenih
          mana prodate nepokretnosti.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Koja dokumentacija je potrebna pri kupovini stana koji nije
            uknjižen?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Ako nepokretnost nije uknjižena, neophodno je pribaviti kompletnu
          dokumentaciju, počev od prvog do sadašnjeg vlasnika, u originalima,
          sve overeno i snabdeveno pečatima poreske uprave (tzv. poreska
          klauzula) nadležne opštine o regulisanom porezu na prenos apsolutnih
          prava. Znači, potrebno je da postoji pravni sled od prvog vlasnika do
          danas, da biste, u momentu kada se za to steknu uslovi, kao kupac,
          odnosno trenutni vlasnik nepokretnosti, mogli istu da uknjižite na
          svoje ime.
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Kako mogu biti oslobođen/a od plaćanja poreza na prenos prava
            svojine na stanu pri kupovini prvog stana (odredbe relevantnih
            zakona Republike Srbije)?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Na osnovu člana 21. Zakona o državnoj upravi (Službeni glasnik RS,
          broj 79/05), Ministarstvo finansija je dalo objašnjenje u vezi sa
          oslobođenjem od plaćanja poreza na prenos prava svojine na stanu pri
          kupovini prvog stana:
          <br />
          <br />
          Odredbom člana 23. stav 1. tačka 1), a u vezi sa članom 2. stav 1.
          tačka 1) Zakona o porezima na imovinu (Službeni glasnik RS, br. 26/01,
          45/02 SUS, 80/02, 80/02 dr. zakon, 135/04 i 61/07 u daljem tekstu:
          Zakon) propisano je da se porez na prenos apsolutnih prava plaća kod
          prenosa uz naknadu prava svojine na nepokretnosti.
          <br />
          <br />
          Nepokretnostima se, u smislu Zakona, smatraju: zemljište, stambene i
          poslovne zgrade, stanovi, poslovne prostorije, garaže, zgrade i
          prostorije za odmor i rekreaciju i drugi građevinski objekti, odnosno
          njihovi delovi (član 2. stav 2. Zakona).
          <br />
          <br />
          Prenosom uz naknadu, u smislu Zakona, ne smatra se prenos apsolutnog
          prava na koji se plaća porez na dodatu vrednost, u skladu sa zakonom
          kojim se uređuje porez na dodatu vrednost (član 24a Zakona).
          <br />
          <br />
          S tim u vezi, porez na prenos apsolutnih prava plaća se na prenos
          prava svojine na stanu, odnosno porodičnoj stambenoj zgradi, odnosno
          svojinskom udelu na stanu ili porodičnoj stambenoj zgradi (u daljem
          tekstu: stan) po ugovoru o kupoprodaji na koji se ne plaća porez na
          dodatu vrednost, osim u slučajevima za koje je Zakonom propisano pravo
          na poresko oslobođenje.
          <br />
          <br />
          Oslobođenje od plaćanja poreza na prenos apsolutnih prava kod prenosa
          prava svojine na stanu fizičkom licu koje kupuje prvi stan, uvedeno je
          Zakonom o izmenama i dopunama Zakona o porezima na imovinu, koji je
          objavljen u Službenom glasniku RS, br. 61/07 od 30. juna 2007. godine,
          a stupio je na snagu osmog dana od dana objavljivanja tj. 8. jula
          2007. godine.
          <br />
          <br />
          S tim u vezi, prema odredbi člana 31a Zakona, porez na prenos
          apsolutnih prava ne plaća se na prenos prava svojine na stanu ili
          porodičnoj stambenoj zgradi, odnosno svojinskom udelu na stanu ili
          porodičnoj stambenoj zgradi (u daljem tekstu: stan) fizičkom licu koje
          kupuje prvi stan (u daljem tekstu: kupac prvog stana), za površinu
          koja za kupca prvog stana iznosi do 40m2 i za članove njegovog
          porodičnog domaćinstva koji od 1. jula 2006. godine do dana overe
          ugovora o kupoprodaji na osnovu koga kupac stiče prvi stan, nisu imali
          u svojini, odnosno susvojini stan na teritoriji Republike Srbije, do
          15m2po svakom članu (u daljem tekstu: odgovarajući stan), pod uslovom
          da:
          <br />
          <br />
          <ol>
            <li>
              je kupac prvog stana punoletni državljanin Republike Srbije, sa
              prebivalištem na teritoriji Republike Srbije;
            </li>
            <li>
              kupac prvog stana od 1. jula 2006. godine do dana overe ugovora o
              kupoprodaji na osnovu koga kupac stiče prvi stan, nije imao u
              svojini, odnosno susvojini stan na teritoriji Republike Srbije.
              Porodičnim domaćinstvom kupca prvog stana, u smislu stava 1. tog
              člana, smatra se zajednica života, privređivanja i trošenja
              prihoda kupca prvog stana, njegovog supružnika, kupčeve dece,
              kupčevih usvojenika, dece njegovog supružnika, usvojenika njegovog
              supružnika, kupčevih roditelja, njegovih usvojitelja, roditelja
              njegovog supružnika, usvojitelja kupčevog supružnika, sa istim
              prebivalištem kao kupac prvog stana.
            </li>
          </ol>
          <br />
          <br />
          Prema odredbi člana 31b stav 1. Zakona, pravo na poresko oslobođenje u
          skladu sa odredbama člana 31a Zakona nema obveznik koji pravo svojine
          na stanu prenosi:
          <br />
          <br />
          <ol>
            <li>
              licu na osnovu čije prve kupovine stana je jednom ostvareno pravo
              na refundaciju poreza na dodatu vrednost, u skladu sa zakonom
              kojim se uređuje porez na dodatu vrednost, ili na poresko
              oslobođenje od plaćanja poreza na prenos apsolutnih prava u skladu
              sa odredbama ovog stava i člana 31a Zakona;
            </li>
            <li>
              članu porodičnog domaćinstva kupca prvog stana za koga je jednom
              ostvareno pravo na refundaciju poreza na dodatu vrednost, u skladu
              sa zakonom kojim se uređuje porez na dodatu vrednost, ili na
              poresko oslobođenje od plaćanja poreza na prenos apsolutnih prava
              u skladu sa odredbama ovog stava i člana 31a Zakona. Napominjemo
              da se pravo na poresko oslobođenje može se ostvariti samo na
              osnovu ugovora o kupoprodaji prvog stana overenog posle 8. jula
              2007. godine (član 27. Zakona o izmenama i dopunama Zakona).
            </li>
          </ol>
          <br />
          <br />
          Dakle, prvim stanom, u smislu odredbe člana 31a Zakona, smatra se
          stan, odnosno porodična stambena zgrada, odnosno svojinski udeo na
          stanu, kao i svojinski udeo na porodičnoj stambenoj zgradi.
          <br />
          <br />
          Pravo na oslobođenje od poreza na prenos apsolutnih prava može
          ostvariti lice koje pravo svojine na stanu prenosi ugovorom o
          kupoprodaji fizičkom licu koje kupuje prvi stan (kupac prvog stana) i
          ispunjava propisane uslove, i to:
          <br />
          <br />
          za kupca prvog stana
          <br />
          <ul>
            <li>da je punoletno fizičko lice,</li>
            <li>da je državljanin Republike Srbije,</li>
            <li>da ima prebivalište na teritoriji Republike Srbije,</li>
            <li>
              da u periodu od 1. jula 2006. godine do dana overe ugovora o
              kupoprodaji kojim stiče prvi stan nije imao u svojini, odnosno
              susvojini stan na teritoriji Republike Srbije.
            </li>
          </ul>
          <br />
          za člana porodičnog domaćinstva kupca prvog stana za koga se ostvaruje
          pravo na poresko oslobođenje:
          <br />
          <ul>
            <li>
              da je član porodičnog domaćinstva kupca prvog stana, u smislu
              odredbe člana 31a stav 2. Zakona (kupčev supružnik, kupčeva deca,
              kupčevi usvojenici, deca kupčevog supružnika, usvojenici kupčevog
              supružnika, kupčevi roditelji, kupčevi usvojitelji, roditelji
              kupčevog supružnika, usvojitelji kupčevog supružnika, i sa kupcem
              prvog stana je u zajednici života, privređivanja i trošenja
              prihoda i ima isto prebivalište kao kupac)
            </li>
            <li>
              da od 1. jula 2006. godine do dana overe ugovora o kupoprodaji
              kojim kupac stiče prvi stan nije imao u svojini, odnosno susvojini
              stan na teritoriji Republike Srbije
            </li>
            <li>da ima isto prebivalište kao kupac prvog stana</li>
          </ul>
          <br />
          <br />
          Pravo na poresko oslobođenje od poreza na prenos apsolutnih prava može
          ostvariti samo obveznik koji pravo svojine na stanu prenosi kupcu na
          osnovu čije prve kupovine stana nije jednom ostvareno pravo na
          refundaciju poreza na dodatu vrednost, u skladu sa zakonom kojim se
          uređuje porez na dodatu vrednost, ili na poresko oslobođenje od
          plaćanja poreza na prenos apsolutnih prava, u skladu sa Zakonom, niti
          je to pravo ostvareno za člana porodičnog domaćinstva kupca prvog
          stana za koga se ostvaruje pravo na poresko oslobođenje.
          <br />
          <br />
          Obim prava na poresko oslobođenje ograničen je na kupovinu
          odgovarajućeg stana za površinu stana koja za kupca prvog stana iznosi
          do 40m i za svakog člana njegovog porodičnog domaćinstva (u smislu čl.
          31a stav 2. i 31b Zakona) još do 15m.
          <br />
          <br />
          Ako je površina stana koji kupuje kupac prvog stana (koji ispunjava
          propisane uslove) veća od površine odgovarajućeg stana, porez se plaća
          na prenos prava svojine na razliku površine kupljenog i površine
          odgovarajućeg stana.
          <br />
          <br />
          Prema odredbi člana 36. st 1. i 2. Zakona, obveznik poreza na prenos
          apsolutnih prava dužan je da podnese poresku prijavu, sa tačnim
          podacima, u roku od 10 dana od dana nastanka poreske obaveze u smislu
          člana 29. st. 1. do 5. Zakona, sa odgovarajućom dokumentacijom
          potrebnom za utvrđivanje poreske obaveze, osim u slučaju iz člana 39a
          Zakona.
          <br />
          <br />
          Obveznik poreza na prenos apsolutnih prava, za svrhu ostvarivanja
          prava na poresko oslobođenje iz člana 31a Zakona, uz dokumentaciju iz
          stava 1. ovog člana, podnosi i overenu izjavu kupca da kupuje prvi
          stan za sebe, odnosno za sebe i određene članove njegovog porodičnog
          domaćinstva, kao i druge dokaze iz kojih proizlazi da su ispunjeni
          uslovi za oslobođenje po tom osnovu koje mu je pružio kupac prvog
          stana.
          <br />
          <br />
          Kupac prvog stana izjavu da kupuje prvi stan za sebe, odnosno za sebe
          i određene članove njegovog porodičnog domaćinstva, daje na Obrascu
          IKPS PPAP Izjava kupca prvog stana da kupuje prvi stan za sebe i
          određene članove njegovog porodičnog domaćinstva, koji je odštampan uz
          Pravilnik o sadržini i obrascu izjave kupca stana da kupuje prvi stan
          za sebe, odnosno za sebe i određene članove njegovog porodičnog
          domaćinstva (Službeni glasnik RS broj 63/07). Shodno odredbi člana 25.
          stav 1. Zakona, na prenos prava svojine na stanu po osnovu ugovora o
          kupoprodaji obveznik poreza na prenos apsolutnih prava je prodavac.
          <br />
          <br />
          To znači da je prodavac koji pravo svojine na stanu prenosi kupcu
          prvog stana, za svrhu ostvarivanja prava na poresko oslobođenje, dužan
          da poreskom organu nadležnom prema mestu gde se stan koji prodaje
          kupcu prvog stana nalazi, podnese:
          <br />
          <br />
          <ol>
            <li>
              poresku prijavu na Obrascu PPI 4 Poreska prijava za utvrđivanje
              poreza na prenos apsolutnih prava
            </li>
            <li>
              overenu izjavu kupca prvog stana da kupuje prvi stan za sebe i
              određene članove njegovog porodičnog domaćinstva na Obrascu IKPS
              PPAP
            </li>
            <li>original ili overenu kopiju ugovora o kupoprodaji stana</li>
            <li>
              ako kupac prvi stan kupuje samo za sebe prodavac pored poreske
              prijave i dokumenata iz tač. 1) do 3) podnosi i dokaze iz kojih
              proizilazi da taj kupac ispunjava propisane uslove iz člana 31a i
              31b stav 1. Zakona:
              <ul>
                <li>izvod iz matične knjige rođenih za kupca prvog stana</li>
                <li>uverenje o državljanstvu kupca prvog stana,</li>
                <li>
                  dokaz o prebivalištu kupca prvog stana (overena fotokopija
                  lične karte ili potvrda o prebivalištu);
                </li>
              </ul>
            </li>
            <li>
              ako kupac prvi stan kupuje za sebe i za određene članove njegovog
              porodičnog domaćinstva prodavac pored poreske prijave i dokumenata
              iz tač. 1) do 3) podnosi i dokaze iz kojih proizilazi da su
              ispunjeni propisani uslovi za oslobođenje od poreza na prenos
              apsolutnih prava po osnovu prodaje stana kupcu prvog stana:
              <ul>
                <li>izvod iz matične knjige rođenih za kupca prvog stana,</li>
                <li>uverenje o državljanstvu kupca prvog stana,</li>
                <li>
                  dokaz o prebivalištu kupca prvog stana (overena fotokopija
                  lične karte ili potvrda o prebivalištu);
                </li>
                <li>
                  dokaz kojim se potvrđuje da je fizičko lice za koga se
                  ostvaruje pravo na poresko oslobođenje član porodičnog
                  domaćinstva kupca prvog stana, u smislu odredbe člana 31 stav
                  2. Zakona (npr. izvod iz matične knjige venčanih – ako se
                  pravo na poresko oslobođenje ostvaruje i za kupčevog
                  supružnika, izvod iz matične knjige rođenih za kupčevo dete
                  ili dete kupčevog supružnika ako se pravo na poresko
                  oslobođenje ostvaruje i za ta lica…),
                </li>
                <li>
                  dokaz o prebivalištu članova porodičnog domaćinstva kupca
                  prvog stana za koje se ostvaruje pravo na poresko oslobođenje
                  (overena fotokopija lične karte ili potvrda o prebivalištu).
                  Nadležni poreski organ, na osnovu utvrđenog činjeničnog
                  stanja, rešenjem utvrđuje poresku obavezu, odnosno pravo na
                  poresko oslobođenje.
                </li>
              </ul>
            </li>
          </ol>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Kako mi može biti refundiran (vraćen) PDV kao kupcu prvog stana
            (odredbe relevantnih zakona Republike Srbije)?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Na osnovu člana 21. Zakona o državnoj upravi (.Službeni glasnik RS.,
          broj 79/05), Ministarstvo finansija dalo je
          <b>objašnjenje</b> u vezi prava na refundaciju PDV kupcu prvog stana:
          <br />
          <br />
          Odredbom člana 56a stav 1. Zakona o porezu na dodatu vrednost
          (Službeni glasnik RS, br. 84/04, 86/04 . ispravka, 61/05 i 61/07 – u
          daljem tekstu: Zakon) propisano je, da pravo na refundaciju PDV za
          kupovinu prvog stana, na osnovu podnetog zahteva, ima fizičko lice .
          punoletni državljanin Republike, sa prebivalištem na teritoriji
          Republike, koji kupuje prvi stan (u daljem tekstu: kupac prvog stana).
          <br />
          <br />
          Prema odredbi stava 2. istog člana Zakona, kupac prvog stana može da
          ostvari refundaciju PDV iz stava 1. ovog člana, pod sledećim uslovima:
          <br />
          <ol>
            <li>
              da od 1. jula 2006. godine do dana overe ugovora o kupoprodaji na
              osnovu kojeg stiče prvi stan nije imao u svojini, odnosno
              susvojini stan na teritoriji Republike;
            </li>
            <li>
              da je ugovorena cena stana sa PDV u potpunosti isplaćena prodavcu.
            </li>
          </ol>
          <br />
          <br />
          Pravo na refundaciju PDV iz stava 1. ovog člana može se ostvariti za
          stan čija površina za kupca prvog stana iznosi do 40 m, a za članove
          njegovog porodičnog domaćinstva do 15 m po svakom članu koji nije imao
          u svojini, odnosno susvojini stan na teritoriji Republike u periodu iz
          stava 2. tačka 1) ovog člana (član 56a stav 3. Zakona).
          <br />
          <br />
          Odredbom stava 4. istog člana Zakona propisano je, da ako kupac prvog
          stana kupuje stan površine koja je veća od površine za koju u skladu
          sa stavom 3. ovog člana ima pravo na refundaciju PDV, pravo na
          refundaciju PDV može da ostvari do iznosa koji odgovara površini stana
          iz stava 3. ovog člana.
          <br />
          <br />
          Porodičnim domaćinstvom kupca prvog stana, u smislu stava 3. ovog
          člana, smatra se zajednica života, privređivanja i trošenja prihoda
          kupca prvog stana, njegovog supružnika, kupčeve dece, kupčevih
          usvojenika, dece njegovog supružnika, usvojenika njegovog supružnika,
          kupčevih roditelja, njegovih usvojitelja, roditelja njegovog
          supružnika, usvojitelja kupčevog supružnika, sa istim prebivalištem
          kao kupac prvog stana (član 56a stav 5. Zakon).
          <br />
          <br />
          Prema odredbi člana 56a stav 6. Zakona, pravo na refundaciju PDV iz
          stava 1. ovog člana nema:
          <br />
          <ol>
            <li>
              kupac stana koji je ostvario refundaciju PDV po osnovu kupovine
              prvog stana;
            </li>
            <li>
              član porodičnog domaćinstva kupca prvog stana za kojeg je kupac
              prvog stana ostvario refundaciju PDV, u slučaju kada taj član
              porodičnog domaćinstva kupuje stan;
            </li>
            <li>
              kupac stana koji je stekao prvi stan bez obaveze prodavca da za
              promet tog stana plati porez na prenos apsolutnih prava po osnovu
              kupovine prvog stana u skladu sa zakonom kojim se uređuju porezi
              na imovinu;
            </li>
            <li>
              član porodičnog domaćinstva kupca stana koji je stekao prvi stan
              bez obaveze prodavca da za promet tog stana plati porez na prenos
              apsolutnih prava po osnovu kupovine prvog stana u skladu sa
              zakonom kojim se uređuju porezi na imovinu, a za koga je ostvareno
              to poresko oslobođenje.
            </li>
          </ol>
          <br />
          <br />
          Nadležni poreski organ, po sprovedenom postupku, donosi rešenje o
          refundaciji PDV kupcu prvog stana i vodi evidenciju o kupcima prvog
          stana i članovima porodičnih domaćinstava kupaca prvog stana za koje
          su kupci prvog stana ostvarili refundaciju PDV, kao i o iznosu
          ostvarene refundacije PDV (član 56a st. 7. i 8. Zakona).
          <br />
          <br />
          Napominjemo, da se pravo na refundaciju PDV iz člana 22. Zakona o
          izmenama i dopunama Zakona o porezu na dodatu vrednost (Službeni
          glasnik RS, broj 61/05), a koji se odnosi na član 56a Zakona, može
          ostvariti samo na osnovu ugovora o kupoprodaji stana overenog posle
          stupanja na snagu ovog zakona (član 29. Zakona o izmenama i dopunama
          Zakona o porezu na dodatu vrednost). Odredbom člana 10a stav 1.
          Pravilnika o postupku ostvarivanja prava na povraćaj PDV i o načinu i
          postupku rafakcije i refundacije PDV (Službeni glasnik RS br. 107/04,
          65/05 i 63/07 – u daljem tekstu : Pravilnik) propisano je, da kupac
          prvog stana iz člana 56a Zakona ostvaruje refundaciju PDV u skladu sa
          Zakonom, na osnovu pismenog zahteva, koji podnosi nadležnom poreskom
          organu. Prema odredbi stava 2. istog člana Pravilnika, stanovima, u
          smislu ovog pravilnika, smatraju se stambeni objekti, ekonomski
          deljive celine u okviru tih objekata, kao i vlasnički udeli na tim
          dobrima (u daljem tekstu: stan). Saglasno članu 10a stav 3.
          Pravilnika, nadležni poreski organ iz stava 1. ovog člana je
          organizaciona jedinica Poreske uprave koja je nadležna za prijem
          evidencione prijave obveznika PDV -prodavca stana u skladu sa
          Pravilnikom o obliku i sadržini prijave za evidentiranje obveznika
          PDV, postupku evidentiranja i brisanja iz evidencije i o obliku i
          sadržini poreske prijave PDV (Službeni glasnik RS, br. 94/04 i
          108/05). Odredbom stava 4. istog člana Pravilnika, zahtev iz stava 1.
          ovog člana podnosi se na Obrascu RFN . Zahtev kupca prvog stava za
          refundaciju PDV, koji je odštampan uz ovaj pravilnik i čini njegov
          sastavni deo.
          <br />
          <br />
          Saglasno odredbi stava 5. istog člana Pravilnika, uz zahtev iz stava
          1. ovog člana, dostavlja se:
          <br />
          <ol>
            <li>izvod iz matične knjige rođenih;</li>
            <li>uverenje o državljanstvu;</li>
            <li>
              dokaz o prebivalištu (overena fotokopija lične karte ili potvrda o
              prebivalištu);
            </li>
            <li>overena kopija ugovora o kupoprodaji stana;</li>
            <li>
              račun ili drugi dokument koji služi kao račun o kupoprodaji stana
              u kojem je iskazan PDV;
            </li>
            <li>
              dokaz da je ugovorena cena stana sa PDV u potpunosti isplaćena;
            </li>
            <li>overena izjava kupca stana da kupuje prvi stan.</li>
          </ol>
          <br />
          Prema odredbi stava 6. istog člana Pravilnika, ako kupac prvog stana
          zahteva refundaciju PDV i po osnovu člana, odnosno članova njegovog
          porodičnog domaćinstva, pored dokumenata iz stava 5. ovog člana,
          dostavlja i:
          <br />
          <ol>
            <li>
              dokument kojim se potvrđuje da je fizičko lice po osnovu koga
              kupac prvog stana zahteva refundaciju PDV član porodičnog
              domaćinstva kupca prvog stana u skladu sa članom 56a stav 5.
              Zakona (npr. izvod iz matične knjige rođenih, izvod iz matične
              knjige venčanih i dr);
            </li>
            <li>
              dokaz o prebivalištu člana porodičnog domaćinstva (overena
              fotokopija lične karte ili potvrda o prebivalištu).
            </li>
          </ol>
          <br />
          <br />
          Izjava kupca stana da kupuje prvi stan iz stava 5. tačka 7) ovog člana
          daje se na Obrascu IKPS PDV . Izjava kupca stana da kupuje prvi stan,
          koji je odštampan uz ovaj pravilnik i čini njegov sastavni deo (član
          10a stav 7. Pravilnika).
          <br />
          <br />
          Nadležni poreski organ iz stava 3. ovog člana, nakon izvršene provere
          ispunjenosti uslova za refundaciju PDV, rešenjem odlučuje o zahtevu u
          roku od 30 dana od dana podnošenja zahteva i u roku od 15 dana od dana
          dostavljanja rešenja vrši refundaciju PDV (član 10a stav 8.
          Pravilnika).
          <br />
          <br />
          Saglasno navedenom, kupac prvog stana, tj. fizičko lice . punoletni
          državljanin Republike, sa prebivalištem na teritoriji Republike, koji
          kupuje prvi stan, može da ostvari refundaciju PDV po osnovu kupovine
          prvog stana, na osnovu podnetog zahteva, a pod uslovima i na način
          propisanim Zakonom i Pravilnikom, pri čemu napominjemo, da rok za
          podnošenje zahteva za refundaciju PDV nije ograničen ovim propisima.
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <app-scroll-to-top-button [element]="aboutFAQ"></app-scroll-to-top-button>

  <app-footer></app-footer>
</div>
