@use "src/styles"

mat-spinner
  margin-left: 45%
  margin-top: 5%
  display: none

.login-form
  padding: 5em 25%

  h4
    color: #999999
    padding-top: 2em

.container
  padding: 5em

  button
    padding: .7em 0 !important
    width: 100%

.col-7
  padding: 10em 5em

.col-5
  h1
    font-size: 60px !important
    color: #ffffff
    padding-top: 4em

  p
    margin-top: 2em
    font-size: 18px
    color: #eee

.row
  margin-left: -15px !important
  margin-right: -15px !important

::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick
  color: styles.$light-red !important
