<div class="backdrop">
  <div class="container">
    <div class="login-form text-center">
      <img src="../../../../assets/img/logo.png" width="150px" />
      <app-form-input
        icon="account_box"
        appearance="fill"
        id="username"
        [config]="usernameInputConfig"
        label="Username"
        [group]="loginForm"
      ></app-form-input>
      <app-form-input
        icon="lock"
        appearance="fill"
        id="password"
        [config]="passwordInputConfig"
        [group]="loginForm"
        label="Password"
        type="password"
      ></app-form-input>
      <button class="default-btn" (click)="auth()" mat-button>Login</button>
      <mat-spinner #spinner diameter="50"></mat-spinner>
      <h4><b>Frigo nekretnine</b></h4>
    </div>
  </div>
</div>
