<div class="dynamic-field form-input" [formGroup]="group">
  <mat-form-field [appearance]="appearance">
    <mat-label>{{ config.label }}</mat-label>
    <mat-label>{{ label }}</mat-label>
    <label>
      <input
        [(ngModel)]="model"
        matInput
        [formControlName]="config.name"
        [type]="type"
        [required]="isRequired"
      />
    </label>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    <mat-icon matSuffix>{{ icon }}</mat-icon>
  </mat-form-field>
</div>
