@use "src/styles"
.container
  margin-top: 2em

mat-form-field
  width: 100%
  margin-top: 1em

.form-div
  padding: 0 15px

.default-btn
  margin: 15px

.err-txt
  margin-left: 1em
  color: red
  font-weight: bold

@media screen and (min-width: 2049px)
  .dialog
    zoom: 2
