<div class="dialog">
  <h2>Pošaljite ponudu</h2>
  <mat-divider></mat-divider>
  <div class="container">
    <form [formGroup]="addressForm">
      <div class="row">
        <div class="col-sm-8">
          <mat-form-field appearance="fill">
            <mat-label>Ulica</mat-label>
            <input
              matInput
              placeholder="Branka Krsmanovic"
              required
              formControlName="street"
            />
            <mat-icon matSuffix>format_align_right</mat-icon>
            <mat-hint>Upišite samo naziv ulice</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field appearance="fill">
            <mat-label>Broj</mat-label>
            <input
              matInput
              placeholder="213b"
              formControlName="number"
            />
            <mat-icon matSuffix>format_list_numbered</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="form-div">
        <mat-form-field appearance="fill">
          <mat-label>Grad</mat-label>
          <mat-select formControlName="city" required>
            <mat-option *ngFor="let city of listOfCities" [value]="city.id">
              {{ city.name | capitalize }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-10">
          <mat-form-field appearance="fill">
            <mat-label>Opština</mat-label>
            <mat-select formControlName="municipality">
              <mat-option [value]="null">---</mat-option>
              <mat-option
                *ngFor="let municipality of listOfMunicipalities"
                [value]="municipality.name"
              >
                {{ municipality.name | capitalize }}
              </mat-option>
            </mat-select>
            <mat-hint
            ><span
            >Ukoliko niste pronašli željenu opštinu pritisnite '+' kako
                biste dodali željenu</span
            >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col">
          <button
            (click)="showDesiredMunicipalityInput()"
            style="margin-top: 1em"
            mat-icon-button
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div class="form-div" #desiredMunicipality style="display: none">
        <mat-form-field appearance="fill">
          <mat-label>Željena opština</mat-label>
          <input
            matInput
            placeholder="40"
            formControlName="desiredMunicipality"
          />
          <mat-icon matSuffix>format_align_right</mat-icon>
        </mat-form-field>
      </div>
    </form>
    <form [formGroup]="offerForm">
      <div class="form-div">
        <mat-form-field appearance="fill">
          <mat-label>Tip nekretnine</mat-label>
          <mat-select formControlName="category" required>
            <mat-option
              *ngFor="let category of listOfCategories"
              [value]="category"
            >
              {{ category.name | capitalize }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-9 left-col">
          <mat-form-field appearance="fill">
            <mat-label>Kvadratura</mat-label>
            <input matInput placeholder="40" formControlName="area"/>
            <mat-icon matSuffix>format_align_right</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-3 right-col">
          <mat-form-field appearance="fill">
            <mat-label>Merna jedinica</mat-label>
            <mat-select formControlName="areaUnit">
              <mat-option
                *ngFor="let areaUnit of listOfAreaUnits"
                [value]="areaUnit.conversionFactor"
              >
                {{ areaUnit.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-9 left-col">
          <mat-form-field appearance="fill">
            <mat-label>Kvadratura placa</mat-label>
            <input matInput placeholder="40" formControlName="propertyArea"/>
            <mat-icon matSuffix>format_align_right</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-3 right-col">
          <mat-form-field appearance="fill">
            <mat-label>Merna jedinica</mat-label>
            <mat-select formControlName="propertyAreaUnit">
              <mat-option
                *ngFor="let areaUnit of listOfAreaUnits"
                [value]="areaUnit.conversionFactor"
              >
                {{ areaUnit.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-div">
        <mat-form-field appearance="fill">
          <mat-label>Struktura</mat-label>
          <mat-select formControlName="structure">
            <mat-option
              *ngFor="let structure of listOfStructures"
              [value]="structure"
            >
              {{ structure.type | capitalize }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-div">
        <mat-form-field appearance="fill">
          <mat-label>Sprat</mat-label>
          <mat-select formControlName="floor">
            <mat-option *ngFor="let floor of listOfFloors" [value]="floor">
              {{ floor.name | capitalize }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-div">
        <mat-form-field appearance="fill">
          <mat-label>Tip transakcije</mat-label>
          <mat-select formControlName="saleType" required>
            <mat-option
              *ngFor="let saleTypes of listOfSalesTypes"
              [value]="saleTypes"
            >
              {{ saleTypes | capitalize | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-div">
        <mat-form-field appearance="fill">
          <mat-label>Cena</mat-label>
          <input
            required
            matInput
            placeholder="20000"
            formControlName="price"
          />
          <mat-icon matSuffix>euro</mat-icon>
        </mat-form-field>
      </div>
    </form>
    <form [formGroup]="contactForm">
      <div class="row">
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Ime</mat-label>
            <input required matInput placeholder="Janko" formControlName="firstName"/>
            <mat-icon matSuffix>format_align_right</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Prezime</mat-label>
            <input required matInput placeholder="Marković" formControlName="lastName"/>
            <mat-icon matSuffix>format_list_numbered</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Kontakt telefon</mat-label>
            <input
              matInput required
              placeholder="069432456"
              formControlName="telephone"
            />
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="mail@example.com"
              formControlName="email"
            />
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error *ngIf="!contactForm.valid"
            >Ovo polje je obavezno
            </mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <h4
        class="err-txt"
        *ngIf="!contactForm.valid || !addressForm.valid || !offerForm.valid"
      >
        Popunite obavezna polja*
      </h4>
    </form>
    <button
      mat-button
      class="default-btn"
      (click)="sendOffer()"
      [disabled]="!contactForm.valid || !addressForm.valid || !offerForm.valid"
    >
      Pošaljite
    </button>
  </div>
</div>
