<div class="content">
  <h1>Dobrodošli</h1>
  <div class="welcome-card">
    <h3 class="green">
      Kako bi uspešno aktivirali nalog, <span>pratite sledeće instrukcije</span>
    </h3>
    <h3 class="orange">
      Neophodno je da u meniju sa leve strane odaberete opciju
      <span>izmena lozinke. Nakon odabira, izvršite promenu lozinke</span>
    </h3>
    <h3 class="red">Nakon toga otključaće Vam se sledeće opcije</h3>
    <div class="row">
      <div class="col-sm">
        <img
          src="../../../../../../assets/img/back-end-development-concept_107173-16815.jpg"
          class="img-fluid"
        />
        <h3>Upravljanje nekretninama</h3>
      </div>
      <div class="col-sm">
        <img
          src="../../../../../../assets/img/96de90ad9642ed1c6261e012a4e1bf76.jpg"
          class="img-fluid"
        />
        <h3>Upravljanje podešavanjima</h3>
      </div>
      <div class="col-sm">
        <img
          src="../../../../../../assets/img/Evalu-cert.png"
          class="img-fluid"
        />
        <h3>Pregled porudžbina</h3>
      </div>
    </div>
  </div>
</div>
