@use "src/styles"
.content
  background: rgb(255, 255, 255)
  background: linear-gradient(155deg, rgba(255, 255, 255, 1) 89%, rgba(255, 20, 20, 1) 89%)
  height: 100vh


.welcome-card
  text-align: center !important
  -webkit-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  box-shadow: -2px 17px 46px -34px rgba(0, 0, 0, 0.69)
  padding: 4em 2em
  margin-top: 1em

.green
  background-color: styles.$success-green

.orange
  background-color: styles.$light-orange
  color: styles.$default-black

.red

  background-color: styles.$light-red

h3
  background-color: styles.$default-black
  color: #ffffff
  padding: 1em

img
  height: 200px

h1
  background-color: #c4c4c422
  padding: 1em
