<div class="row text-center">
  <div class="col-1" *ngIf="!mobileService.isMobile">
    <button
      [disabled]="increment === 0"
      class="mid-left"
      mat-mini-fab
      (click)="previousImage()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>
  <div
    class="{{ mobileService.isMobile ? 'col' : 'col-sm' }} main-img"
    [style.background-image]="'url(' + URL_PREFIX + '/' + image.uri + ')'"
    *ngFor="
      let image of realEstateListOfMedias | slice: increment:increment+1
    "
  >
    <button
      *ngIf="mobileService.isMobile"
      [disabled]="increment === 0"
      class="mid-left"
      mat-mini-fab
      (click)="previousImage()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button
      mat-raised-button
      class="open-gallery-btn"
      (click)="openImageGallery.emit(true)"
    >
      Kliknite za još slika
      <mat-icon>photo_camera</mat-icon>
    </button>
    <button
      *ngIf="mobileService.isMobile"
      class="mid-right"
      mat-mini-fab
      (click)="nextImage()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="col-sm" *ngIf="!mobileService.isMobile">
    <div class="row" style="margin-top: 2px">
      <div
        class="col-sm"
        *ngFor="
          let image of realEstateListOfMedias
            | slice: increment + 1:increment + 3
        "
        (click)="openImageGallery.emit(true)"
      >
        <img class="small-img" [src]="URL_PREFIX + '/' + image.uri" />
      </div>
    </div>
    <div class="row">
      <div
        class="col-sm"
        style="padding-top: 4px"
        *ngFor="
          let image of realEstateListOfMedias
            | slice: increment + 3:increment + 5
        "
        (click)="openImageGallery.emit(true)"
      >
        <img class="small-img" [src]="URL_PREFIX + '/' + image.uri" />
      </div>
    </div>
  </div>
  <div class="col-1" *ngIf="!mobileService.isMobile">
    <button class="mid-right" mat-mini-fab (click)="nextImage()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
