@import "src/styles"
img
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px
  transition: .5s linear
  border-radius: 8px
  cursor: pointer

.main-img
  width: 100%
  height: 70.5vh
  background-position: center
  background-size: cover
  cursor: pointer

.small-img
  width: 100%
  height: 35vh

.col-sm
  padding: 0 2px

.mid-left
  top: 50%
  left: 1rem
  transform: translateY(-50%)
  position: absolute

.mid-right
  top: 50%
  right: 1rem
  transform: translateY(-50%)
  position: absolute

.mid-left, .mid-right
  background-color: $light-red
  z-index: 3

.open-gallery-btn
  position: absolute
  right: 1rem
  bottom: 1rem

@media screen and (max-width: 570px)
  .main-img
    margin: 1em
    border-radius: 18px
