@use "src/styles"


.info-card

  padding: 1em
  margin-top: 2em

h3, h4
  line-height: 10px

mat-spinner
  margin-left: 40%
  margin-top: 10%

mat-form-field
  width: 100%

.real-estate-div
  overflow-x: hidden
  overflow-y: scroll
  max-height: 40vh
