<div class="dialog">
  <h1>Infomcije o agentu</h1>
  <h3>{{ data.username }}</h3>
  <mat-divider></mat-divider>
  <div class="info-card">
    <h3><span>Ime:</span> {{ data.agent?.person?.firstName }}</h3>
    <h3><span>Prezime:</span> {{ data.agent?.person?.lastName }}</h3>
    <h4 *ngFor="let contact of data.agent?.person?.contacts">
      <span>{{ contact.type | capitalize }}</span> {{ contact.value }}
    </h4>
  </div>
  <form *ngIf="data.agent?.realEstates?.length > 0" [formGroup]="searchForm">
    <mat-form-field appearance="outline">
      <mat-label>Pretraži</mat-label>
      <label>
        <input matInput formControlName="search" [(ngModel)]="searchText" />
      </label>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </form>

  <mat-spinner #spinner></mat-spinner>
  <div class="real-estate-div">
    <app-real-estate-client-card
      [listOfRealEstates]="listOfRealEstates"
    ></app-real-estate-client-card>
  </div>
</div>
