@use "src/styles"

.info
  padding: 0 1em

footer
  background-color: styles.$default-black
  margin-top: 5em
  padding: 5em 10em
  position: relative
  h1
    color: #fff
    font-size: 60px !important

  p
    color: styles.$more-silver
    margin-top: 1em

  i
    color: styles.$light-red

  h4, h3
    -webkit-transition: .3s linear
    cursor: pointer
    color: #fff

  .contact-accordion
    background-color: styles.$default-black

    h4
      color: #000

.inline
  display: inline-flex
  width: 100%


.hidden
  visibility: hidden

h4
  padding: .25em

h4:hover
  background-color: styles.$light-red
  transition: .5s ease

  i
    color: #fff
    transition: .5s linear

mat-accordion
  margin: 1em
  background-color: #212121 !important


.inline
  display: inline-flex
  width: 100%

  i
    font-size: 30px
    margin: 0 .5em
    -webkit-transition: .3s

  i:hover
    transition: .4s
    color: #fff

.copyright-div

    position: absolute
    left: 0
    right: 0
    bottom: 0
    z-index: 3
    h5
      color: white

@media screen and (max-width: 570px)

  footer
    padding: 2em

    h1
      font-size: 45px !important

  .inline
    display: block
  .info-row
    margin-bottom: 5em
@media (-webkit-device-pixel-ratio: 1.25)
  footer
    zoom: .7

@media (-webkit-device-pixel-ratio: 1.5)
  footer
    zoom: .6

@media (-webkit-device-pixel-ratio: 1.75)
  footer
    zoom: .6

@media (-webkit-min-device-pixel-ratio: 2)
  footer
    zoom: .6

@media only screen and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 2)
  footer
    zoom: .9

@media screen and (min-width: 2049px)
  footer
    zoom: 2

@media screen and (min-width: 1024px) and (max-width: 1440px) and (max-height: 900px)
  footer
    zoom: .8

@media screen and (min-width: 1024px) and (max-width: 1440px) and (max-height: 900px) and (-webkit-min-device-pixel-ratio: 1.1)
  footer
    zoom: .6
