<footer>
  <div class="row info-row" >
    <div class="col-sm">
      <div class="inline">
        <i class="fa fa-phone-square" aria-hidden="true"></i>
        <h4>Kontakt telefoni</h4>
      </div>
      <div class="info">
        <a href="tel:0118230784"><h4>011/8230-784</h4></a>
        <a href="tel:+381 628010641"><h4>062/80-10-641</h4></a>
        <a href="tel:+381 637030538"><h4>063/70-30-538</h4></a>
        <a href="tel:+381 628010640"><h4>062/80-10-640</h4></a>
      </div>
    </div>
    <div class="col-sm text-left">
      <a (click)="searchOnRent()"><h4>Izdavanje</h4></a>
      <a (click)="searchOnSell()"><h4>Prodaja</h4></a>
      <a (click)="openAddOfferDialog()"><h4>Ponudite nekretninu</h4></a>
      <a (click)="navigateToCompanyOfTrust('firma-od-poverenja')">
        <img width="200px" class="img-fluid " style="cursor: pointer" src="assets/img/logo-za-futer.png">
      </a>
    </div>
    <div class="col-sm">
      <a routerLink="/kontakt"><h4>Kontaktirajte nas</h4></a>
      <h4>Cenovnik</h4>
      <h4 routerLink="/about">O nama</h4>
      <h4 routerLink="/faq">Često postavljana pitanja</h4>
      <h4 routerLink="/uslovi">Opšti uslovi poslovanja</h4>
    </div>
    <div class="col-sm">
      <a href="mailto: frigonekretnine@gmail.com"
        ><h4>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          frigonekretnine@gmail.com
        </h4>
      </a>
      <a href="https://goo.gl/maps/MQf3Fx3EZv7nvoVPA"
        ><h4>
          <i class="fa fa-location-arrow" aria-hidden="true"></i> Kralja Petra I
          204, Mladenovac
        </h4></a
      >
      <a href="https://goo.gl/maps/zmBvrcFDNjQ9a4mq8"
        ><h4>
          <i class="fa fa-location-arrow" aria-hidden="true"></i> Svetogorska
          22, Beograd
        </h4></a
      >
      <div class="inline">
        <a href="https://www.instagram.com/frigo_nekretnine/"
          ><i class="fa fa-instagram" aria-hidden="true"></i
        ></a>
        <a href="https://www.facebook.com/firigonekretnine/"
          ><i class="fa fa-facebook-square" aria-hidden="true"></i
        ></a>
        <a href="https://www.youtube.com/channel/UC0g_L4XAr-PsLOLkvjJiMCA">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
        <a
          href="https://rs.linkedin.com/company/frigo-nekretnine?trk=public_profile_topcard-current-company"
          ><i class="fa fa-linkedin-square" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="text-center copyright-div">
    <h5>
      Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2021, Frigo
      Nekretnine, registrovan u Registru posrednika pod rednim brojem 505
    </h5>
  </div>
</footer>
