@import "../../../../styles"

.contact-header
  height: 20vh
  background: rgb(0, 0, 0)
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5578606442577031) 0%, rgba(0, 0, 0, 0.5102415966386555) 100%), url("../../../../assets/img/damian-zaleski-RYyr-k3Ysqg-unsplash.jpg")
  background-size: cover
  background-position: inherit

  h1
    color: #fff
    padding: 7%


mat-spinner
  margin-left: 45%
  margin-top: 10%
  display: none


.col-sm
  padding: 0
  margin-top: 2em

.default-btn
  margin-top: 2em

.info-col
  padding: 1em 3em

.hidden
  visibility: hidden


.container
  padding-bottom: 5em


a
  color: unset
i
  color: $light-red
.inline
  display: inline-flex
  width: 100%

  i
    font-size: 30px
    margin: .5em
    -webkit-transition: .3s

  i:hover
    transition: .4s
    color: $default-black
@media screen and (min-width: 2049px)
  .container
    zoom: 2
  .contact-header
    height: auto
