<div class="navbar-wrapper">
  <app-navbar></app-navbar>
</div>
<div class="container">
  <div class="contact-header">
    <h1>Kontakt</h1>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>
        Popunite kontakt formu za postavljanje pitanja. Mi ćemo Vam se uskoro
        javiti.
      </h3>
      <app-form-input
        [isRequired]="true"
        label="Ime"
        icon="account_circle"
        [group]="contactMessageForm"
        [config]="firstNameInputConfig"
      ></app-form-input>
      <app-form-input
        [isRequired]="true"
        label="Prezime"
        icon="account_circle"
        [group]="contactMessageForm"
        [config]="lastnameNameInputConfig"
      ></app-form-input>
      <app-form-input
        [isRequired]="true"
        label="Email"
        icon="alternate_email"
        [group]="contactMessageForm"
        [config]="emailInputConfig"
      ></app-form-input>
      <app-form-input
        [isRequired]="true"
        label="Kontakt telefon"
        icon="phone"
        [group]="contactMessageForm"
        [config]="phoneInputConfig"
      ></app-form-input>
      <ckeditor #editor [editor]="Editor"></ckeditor>
      <button
        class="default-btn"
        (click)="send()"
        mat-button
        [disabled]="
          !contactMessageForm.valid ||
          editorComponent.editorInstance?.getData() === ''
        "
      >
        Pošaljite
      </button>

      <mat-spinner #spinner diameter="50"></mat-spinner>
    </div>
    <div class="col-sm info-col">
      <h1>Mladenovac</h1>
      <a href="https://goo.gl/maps/MQf3Fx3EZv7nvoVPA"
        ><h4>Adresa: Kralja Petra Prvog 204</h4></a
      >
      <a href="tel:011 82 30 784"
        ><h4><span>Kontakt:</span> 011/8230-784</h4></a
      >
      <a href="tel:062 801 0641"
        ><h4><span class="hidden">Kontakt:</span>062/80-10-641</h4></a
      >
      <a href="tel:063 703 05 38"
        ><h4><span class="hidden">Kontakt:</span> 063/70-30-538</h4></a
      >
      <a href="tel:062 801 0640"
        ><h4><span class="hidden">Kontakt:</span>062/80-10-640</h4></a
      >

      <mat-divider></mat-divider>
      <h1 style="margin-top: 0.5em">Beograd</h1>
      <a href="https://goo.gl/maps/zmBvrcFDNjQ9a4mq8"
        ><h4>Adresa: Svetogorska 22</h4></a
      >
      <a href="tel:069 126 71 23"
        ><h4><span>Kontakt:</span> 069/12-67-123</h4></a
      >
      <a href="tel:060 32 44 291"
        ><h4><span class="hidden">Kontakt:</span> 060/32-44-291</h4></a
      >

      <mat-divider></mat-divider>
      <h1 style="margin-top: 0.5em">Pridružite nam se</h1>
      <a href="mailto:frigonekretnine@gmail.com"
        ><h4>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          frigonekretnine@gmail.com
        </h4>
      </a>
      <div class="inline">
        <a href="https://www.instagram.com/frigo_nekretnine/"
          ><i class="fa fa-instagram" aria-hidden="true"></i
        ></a>
        <a href="https://www.facebook.com/firigonekretnine/"
          ><i class="fa fa-facebook-square" aria-hidden="true"></i
        ></a>
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
        <a
          href="https://rs.linkedin.com/company/frigo-nekretnine?trk=public_profile_topcard-current-company"
          ><i class="fa fa-linkedin-square" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
