@import '~swiper/swiper-bundle'

$main-red: #ea0601
$success-green: #4BB543
$light-red: #ff3935
$default-silver: #fafafa
$more-silver: #f3f3f3
$default-black: #121212
$most-light-red: #ffbfbf
$navy-blue: #150E4B
$orange: #cb8200
$light-orange: #ffde85

.row
  margin-left: 0 !important
  margin-right: 0 !important

.navbar-brand
  img
    width: 100px !important

.navbar
  padding: 0 !important

h1
  font-family: 'Titillium Web', sans-serif !important
  font-size: 32px !important

h2
  font-size: 24px

h3
  font-family: 'Poppins', sans-serif !important
  font-size: 20.8px

h2, button
  font-family: 'Poppins', sans-serif !important

h4
  font-family: 'Poppins', sans-serif !important
  font-size: 16px

h5
  font-family: 'Poppins', sans-serif !important
  font-size: 14.5px

p
  font-size: 14px
  font-family: 'Poppins', sans-serif !important

li
  font-family: 'Poppins', sans-serif !important

.content
  padding: 5em

.default-btn
  background-color: $main-red
  color: #fff
  width: 50%
  padding: .4em 0 !important

.mat-form-field.mat-focused .mat-form-field-ripple
  background-color: red

.red-line
  width: 10%
  padding: .2em
  background-color: $light-red

.custom-container
  padding: 5em 12em

.border-btn
  border: 1px solid $light-red
  padding: .4em 0
  min-width: 10em
  margin-top: 1em
  color: $light-red

.huge-h1
  font-size: 70px !important

span
  font-weight: bold

a
  text-decoration: none
  color: unset !important

.category-name
  font-weight: bold
  color: $light-red

  h2
    line-height: 1em

  .card-content
    padding: 1em 2em

  img
    width: 100%
    cursor: pointer

  img:hover
    transition: .3s ease
    -webkit-box-shadow: -2px 17px 6px -5px rgba(171, 171, 171, 0.69)
    -moz-box-shadow: -2px 17px 6px -5px rgba(171, 171, 171, 0.69)
    box-shadow: -2px 17px 6px -5px rgba(171, 171, 171, 0.69)

.inline-row
  display: inline-flex
  width: 100%
  padding-top: 5em

  .column
    width: 33%

.inline
  display: inline-flex
.navbar-collapse
  -webkit-transition: all .2s !important
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element
  opacity: 0 !important
  background-color: $light-red !important


.mat-radio-button.mat-accent .mat-radio-inner-circle
  background-color: $light-red !important

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle
  border-color: $light-red !important

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element
  opacity: 0.03 !important
  background-color: $light-red !important

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background
  background-color: $light-red !important

.mat-step-header .mat-step-icon-state-edit
  background-color: $main-red !important

.mat-step-header .mat-step-icon-selected
  background-color: $light-red

mat-label
  color: $default-black

mat-drawer-content
  background-color: white !important

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled)
  color: $default-black !important

.mat-progress-bar-fill::after
  background-color: $light-red

.mat-primary .mat-pseudo-checkbox-checked
  background-color: $default-black !important

.mat-progress-spinner circle, .mat-spinner circle
  stroke: $light-red !important

.dialog
  padding: 2em 1em

.gm-style-iw-d
  overflow: hidden !important

.gm-style .gm-style-iw-c
  padding: 0 !important

::ng-deep.swiper-button-prev, ::ng-deep.swiper-button-next
  color: $light-red !important

::ng-deep.mat-form-field-appearance-fill .mat-form-field-underline::before
  background: none

::ng-deep.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar
  background: $light-red !important

label
  width: 100%

body
  zoom: 1

.mediaDialog
  background-color: rgba(0, 0, 0, 0.76)

.navbar-wrapper
  padding: 1em 4em

@media screen and (max-width: 570px)
  .navbar-wrapper
    padding: 1em
  ::ng-deep.swiper-button-prev, ::ng-deep.swiper-button-next
    display: none
  mat-form-field
    margin: 1em 0 !important

  .custom-container
    padding: 5em 3em !important

  .mat-dialog-container
    padding: 0 !important
  .dialog
    padding: 2em 1em !important

::ng-deep .agm-map-container-inner
  border-radius: 18px !important

