@use "../../../../styles"
.filter-page
  max-height: 100vh

mat-spinner
  margin-left: 45%
  margin-top: 10%
  z-index: 3
  position: absolute


.custom-container
  padding: 0 4em

.estate-col
  height: 70vh
  overflow-x: hidden
  overflow-y: scroll

.option-div
  padding-bottom: 2em

.result-h3
  color: styles.$default-black
  padding: .5em

.border-btn
  margin: 0 1em 2em 0

.content-col
  .red-h3
    padding: .5em

    background-color: styles.$most-light-red
    color: styles.$light-red

  .location
    color: #999

  .price, .header, .location
    line-height: 1em

  .price
    color: styles.$success-green
    font-weight: bold

  .price-discounted
    @extend .price
    color: styles.$light-red

  button
    margin: 1em 1em 2em 1em

  .orange-h3
    padding: .5em
    background-color: styles.$light-orange
    color: styles.$orange

  .header
    font-weight: bold

.inline
  display: inline-flex
  width: 100%

  h4
    margin: 1em .5em

.info-card-div
  padding-top: 1em

  h2
    line-height: 15px !important
    margin-top: 1px !important

  h3
    line-height: 15px !important
    margin-top: 1px !important

.agm-info-window
  button
    background-color: styles.$most-light-red
    color: styles.$light-red
    padding: .4em 0
    width: 100%
    margin-top: .5em

.real-estate-row-card
  margin: 2em 1em
  border-radius: 8px

  img
    padding: 1em
    -webkit-transition: 0.5s linear
    border-radius: 35px
    cursor: pointer

  img:hover
    transition: .4s
    -webkit-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
    -moz-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
    box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
    padding: 0

  -webkit-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: -2px 17px 46px -24px rgba(0, 0, 0, 0.69)
  box-shadow: -2px 17px 46px -34px rgba(0, 0, 0, 0.69)

agm-map
  height: 100%
  border-radius: 18px

mat-form-field
  margin: 0 1em


.mobile-row
  display: none

.agm-info-wall
  background-position: center
  background-size: cover
  height: 20vh
  max-height: 25vh
  width: 25vh

.agm-info-window
  .content
    padding: 2em 1em

    h4
      line-height: 3px


@media screen and (max-width: 570px)
  .estate-col
    height: auto
    overflow: hidden
  .result-h3
    width: 100%
  .real-estate-row-card
    img
      padding: 0
  mat-spinner
    margin-left: 35%
    margin-top: 15%
  agm-map
    display: none

  .mobile-row
    display: inline-flex
    width: 100%

    .column
      width: 50%
      margin: 1em

  .desktop-row
    display: none

  agm-map
    height: 40vh
  h4, h2
    line-height: normal !important
  .custom-container
    padding: 0 2em !important

.area-binding
  padding: .5em
  background-color: #fafafa
  margin-bottom: .25em

  h4
    margin: 0
    padding: 0

.info-card-div

  h2
    line-height: 20px !important
    margin-top: 1px !important

  h3
    line-height: 20px !important
    margin-top: 1px !important

@media screen and (min-width: 1024px) and (max-width: 1440px) and (max-height: 900px)
  .estate-col, .page-div, .result-h3
    zoom: .8
  .estate-col
    height: 90vh

@media (-webkit-min-device-pixel-ratio: 1.25)

.info-card-div

  h2
    line-height: 30px !important
    margin-top: 1px !important

  h3
    line-height: 30px !important
    margin-top: 1px !important

@media (-webkit-device-pixel-ratio: 1.25)
  .filter-page
    zoom: .9

  .estate-col
    height: 65vh

@media (-webkit-device-pixel-ratio: 1.5)
  .filter-page
    zoom: .7
  .estate-col
    height: 90vh

@media (-webkit-device-pixel-ratio: 1.75)
  .filter-page
    zoom: .6

  .estate-col
    height: 100vh

@media only screen and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 2)
  .filter-page
    zoom: .8
    max-height: 100%

@media screen and (min-width: 576px) and (max-width: 1108px)
  .image-col
    flex: 0 0 100%
    width: 100%
    max-width: 100%

@media screen and (min-width: 2049px)
  .filter-page
    zoom: 2
  ::ng-deep.cdk-overlay-connected-position-bounding-box
    zoom: 2 !important
