<div class="navbar-wrapper">
  <app-navbar></app-navbar>
</div>
<div #header class="filter-page custom-container">
  <mat-spinner #spinner diameter="50"></mat-spinner>
  <div #emptyList></div>
  <app-real-real-estate-filter-page-header-tool
    [realEstateListSize]="listOfListRealEstates.length"
    (openAdvancedSearchDialog)="openAdvancedSearchDialog()"
    (sortByDateDown)="sortByDateDown()"
    (sortByDateUp)="sortByDateUp()"
    (sortByHighestPrice)="sortByHighestPrice()"
    (sortByLowestPrice)="sortByLowestPrice()"
  >
  </app-real-real-estate-filter-page-header-tool>
  <div class="row estate-row mt-2" *ngIf="listOfListRealEstates.length > 0">
    <div class="col-sm-5 map-col">
      <agm-map #map [longitude]="lng" [latitude]="lat" [zoom]="zoom">
        <agm-marker
          *ngFor="let realEstate of listOfListRealEstates; let i = index"
          [latitude]="realEstate.latitude"
          [longitude]="realEstate.longitude"
          [label]="'€' + realEstate.price"
        >
          <agm-info-window>
            <div class="agm-info-window">
              <div
                class="agm-info-wall"
                *ngIf="realEstate.medias.length > 0"
                [ngStyle]="{
                  'background-image':
                    'url(' + URL_PREFIX + '/' + realEstate.medias[0].uri + ')'
                }"
              ></div>
              <div class="content">
                <h4>{{ realEstate.name }}</h4>
                <h4>#{{ realEstate.code }}</h4>
                <h4 *ngIf="realEstate.priceDiscounted">
                  <span>{{ realEstate | priceDiscounted }}</span>
                </h4>
                <h4>
                  <span>{{ realEstate | price }}</span>
                </h4>
                <a
                  [routerLink]="'/oglas/' + realEstate.id"
                  routerLinkActive="active"
                  target="_blank"
                >
                  <button mat-button>Pogledaj</button>
                </a>
              </div>
            </div>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
    <div class="col-sm" [style.padding]="mobileService.isMobile ? '0':'0 0 0 15px'" #realEstateCol>
      <div id="real-estate-column" class="estate-col" >
        <div  class="hidden"></div>
        <app-real-estate-client-card
          (imageHover)="zoomToMarker($event.longitude, $event.latitude)"
          [listOfRealEstates]="listOfListRealEstates"
        ></app-real-estate-client-card>
      </div>
      <div class="row">
        <div class="col">
          <app-custom-paginator
            (onPageChange)="getAllEstatesByUrl($event)"
          >
          </app-custom-paginator>
        </div>
        <div class="col text-right">
          <h3 *ngIf="listOfListRealEstates.length > 0" class="result-h3">
            Rezultata: {{ (paginatorService.behaviorSubjectPageFilter | async).dataCount }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<app-scroll-to-top-button [element]="header"></app-scroll-to-top-button>
<div #footer>
</div>
