<div class="dialog">
  <h1>Dodavanje agenta</h1>
  <mat-divider></mat-divider>
  <app-form-input
    label="Username"
    [group]="agentForm"
    [config]="usernameInputConfig"
  ></app-form-input>
  <mat-form-field appearance="fill">
    <mat-label>Privilegije</mat-label>
    <mat-select multiple>
      <mat-option
        (click)="addSelectedRole(role)"
        *ngFor="let role of listOfRoles"
        [value]="role"
      >
        {{ role.name | role }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-form-input
    label="Ime"
    [group]="agentForm"
    [config]="firstNameInputConfig"
  ></app-form-input>
  <app-form-input
    label="Prezime"
    [group]="agentForm"
    [config]="lastNameInputConfig"
  ></app-form-input>
  <app-form-input
    icon="phone"
    label="Telefon"
    [group]="agentForm"
    [config]="telephoneInputConfig"
  ></app-form-input>
  <app-form-input
    icon="alternate_email"
    label="Email"
    [group]="agentForm"
    [config]="emailInputConfig"
  ></app-form-input>
  <button
    class="default-btn"
    mat-button
    (click)="save()"
    [disabled]="!agentForm.valid"
  >
    Sačuvaj
  </button>
  <mat-spinner #spinner></mat-spinner>
</div>
