<div class="row" *ngIf="listOfRealEstates.length > 0">
  <div
    class="real-estate-card mb-4"
    [class.col]="!mobileService.isMobile  && !mobileService.isTablet"
    [class.col-sm-4]="mobileService.isMobile"
    [class.col-12]="mobileService.isTablet"
    [class.custom-flex]="
      !mobileService.isMobile && !mobileService.isTablet && listOfRealEstates.length > 3  && flex===2
    "
    [class.lower-custom-flex]="
      !mobileService.isMobile  && !mobileService.isTablet && listOfRealEstates.length > 3  && flex===3
    "
    *ngFor="let realEstate of listOfRealEstates"
    (click)="
      !authService.isAnyLoggedUser ? navigateToRealEstate(realEstate.id) : null
    "
  >
    <img
      width="100%"
      height="300px"
      loading="lazy"
      *ngIf="realEstate.medias?.length > 0"
      (mouseenter)="
        imageHover.emit({
          longitude: realEstate.longitude,
          latitude: realEstate.latitude
        })
      "
      [src]="URL_PREFIX + '/' + realEstate.medias[0].uri"
    />
    <div class="real-estate-card--body">
      <h3 class="mt-2">
        {{ (realEstate.name|slice:0:25) + (realEstate.name.length >= 25 ? '...' : '') }}
      </h3>
      <h4><b>#{{ realEstate.code }}</b></h4>
      <h5>
        {{
        (realEstate.address.municipality.city.name) +
        ", " +
        (realEstate.address.municipality.name)
        }}
      </h5>
      <h3 *ngIf="realEstate.priceDiscounted">
        <span style="text-decoration: line-through">
          Stara cena: {{ realEstate | priceDiscounted }}
        </span>
      </h3>
      <h2 class="price-txt">{{ realEstate | price }}</h2>
      <div class="inline area-binding">
        <h4>
          {{ realEstate.area * realEstate.areaUnit.conversionFactor | decimal }}
          {{ realEstate.areaUnit.value }}
        </h4>
        <h4 *ngIf="realEstate.structure" style="margin-left: 1em">
          {{ realEstate.structure.type }}
        </h4>
        <h4 *ngIf="realEstate.propertyArea" style="margin-left: 1em">
          {{ realEstate.propertyArea * realEstate.propertyAreaUnit.conversionFactor | decimal }}
          {{ realEstate.propertyAreaUnit.value }}
        </h4>

      </div>
      <h4 class="text-right">{{ realEstate.createdDate | date}}</h4>
      <div class="text-right" *ngIf="authService.isAnyLoggedUser">
        <button
          class="border-btn-orange border-btn"
          mat-button
          [matMenuTriggerFor]="menu"
        >
          Više
        </button>
        <button
          id="red-border-btn"
          mat-button
          class="border-btn small-border-btn"
          [matMenuTriggerFor]="overviewMenu"
        >
          Pogledajte
        </button>
        <mat-menu #menu="matMenu">
          <button
            (click)="openEditEstateDialog(realEstate)"
            mat-menu-item
            class="edit-menu-btn"
          >
            <mat-icon>mode</mat-icon>
            Izmenite
          </button>
          <button
            (click)="deleteEstate(realEstate.id)"
            mat-menu-item
            class="delete-menu-btn"
          >
            <mat-icon>close</mat-icon>
            Obrišite
          </button>
        </mat-menu>
        <mat-menu #overviewMenu="matMenu">
          <button
            (click)="openRealEstateOverviewDialog(realEstate)"
            mat-menu-item
            class="edit-menu-btn"
          >
            <mat-icon>visibility</mat-icon>
            Opšti pregled
          </button>
          <a
            [routerLink]="'/oglas/' + realEstate.id"
            routerLinkActive="active"
            target="_blank"
          >
            <button mat-menu-item class="delete-menu-btn">
              <mat-icon>view_quilt</mat-icon>
              Detaljni pregled
            </button>
          </a>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
<a
  *ngIf="realEstate"
  (click)="
      !authService.isAnyLoggedUser ? navigateToRealEstate(realEstate.id) : null"
>
  <div class="real-estate-card mb-4">
    <img
      width="100%"
      loading="lazy"
      height="300px"
      *ngIf="realEstate.medias?.length > 0"
      [src]="URL_PREFIX + '/' + realEstate.medias[0].uri"
    />
    <div class="real-estate-card--body">
      <h3 class="mt-2">
        {{ (realEstate.name|slice:0:25) + (realEstate.name.length >= 25 ? '...' : '') }}
      </h3>
      <h4><b>#{{ realEstate.code }}</b></h4>
      <h5>
        {{
        (realEstate.address.municipality.city.name) +
        ", " +
        (realEstate.address.municipality.name)
        }}
      </h5>
      <h3 *ngIf="realEstate.priceDiscounted">
        <span style="text-decoration: line-through">
          Stara cena: {{ realEstate | priceDiscounted }}
        </span>
      </h3>
      <h2 class="price-txt">{{ realEstate | price }}</h2>
      <div class="inline area-binding">
        <h4>
          {{ realEstate.area * realEstate.areaUnit.conversionFactor | decimal }}
          {{ realEstate.areaUnit.value }}
        </h4>
        <h4 *ngIf="realEstate.structure" style="margin-left: 1em">
          {{ realEstate.structure.type }}
        </h4>
        <h4 *ngIf="realEstate.propertyArea" style="margin-left: 1em">
          {{ realEstate.propertyArea * realEstate.propertyAreaUnit.conversionFactor | decimal }}
          {{ realEstate.propertyAreaUnit.value }}
        </h4>

      </div>
    </div>
  </div>
</a>
