@import "src/styles"

.real-estate-card
  cursor: pointer
  max-height: 700px
  border-radius: 18px
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
  padding: 0 !important
  margin: .25em

  img
    border-radius: 8px

  h3
    font-weight: bold
    margin: 0

  h5
    line-height: 10px

  .price-txt
    color: $light-red !important
    font-weight: bold

  .real-estate-card--body
    padding: 2em

    .area-binding
      h4
        border: 1px solid $light-red
        padding: .5em
        border-radius: 8px

    .border-btn-orange
      border: 1px solid $success-green
      color: $success-green
    button
      margin: .25em

.small-border-btn
  width: 20%

.row
  .real-estate-card
    border: 0
    cursor: pointer

.custom-flex
  flex: 0 0 48% !important
.lower-custom-flex
  flex: 0 0 32% !important
